@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import "../../fragments/assets/styles/global";

#main {
  @include flex(column, center, center);
  height: 35rem;

  > .title-container {
    @include flex(column, flex-start, center);
    text-align: center;
    width: 100%;

    > h2 {
      @include flex(column, center, center);
      color: #ffffff;
      width: 8rem;
      height: 3.5rem;
      background-color: #fb4357;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }
  }

  > #login-form {
    @include flex(row, center, flex-start);
    height: 19.5rem;
    width: 100%;

    > .-spring {
      flex-grow: 1;
    }

    > .form-container {
      @include flex(column, center, center, 1rem);
      border-top: 2px solid #cacaca;
      border-bottom: 2px solid #cacaca;
      height: 100%;
      width: 40rem;

      > .button-container {
        @include flex(column, center, center);
        border: 2px solid #fb4357;
        background-color: #ffffff;
        padding: 0.1rem;
        width: 22rem;

        > .button {
          @include flex(column, center, center);
          height: 2.7rem;
          width: 100%;
          background-color: #fb4357;
          color: #ffffff;
          font-size: 1rem;
          font-weight: 500;
          cursor: pointer;

          &:hover {
            filter: brightness(87%);
          }
        }
      }

      > .--obj-label {
        @include flex(column, stretch, center);
        width: 22rem;

        > .image-wrapper {
          @include flex(row, center, center);
          height: 0.2rem;
          position: absolute;
          border-right: 1px solid #cacaca;
          padding: 0.2rem;

          > img {
            width: 1.6rem;
          }
        }

        > input {
          padding: 0 2.5rem;
          border: 1px solid #cacaca;
          position: relative;
        }
      }

      > .user-container {
        @include flex(row, center, center, 3rem);

        > .user-option {
          @include flex(row, center, center, 0.4rem);

          > a {
            color: #666666;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        > span {
          color: #666666;
          font-weight: 500;
        }
      }

      > .social-container {
        display: flex;
        gap: 1rem;

        > .kakao-container,
        .naver-container {

          > .button {
            @mixin applyColor($b, $c, $darkenOffset: 5%) {
              background-color: $b;
              color: $c;

              &:hover {
                background-color: darken($b, $darkenOffset);
              }

              &:active {
                background-color: darken($b, $darkenOffset * 2);
              }
            }
            @include flex(row, center, center, 0.5rem);
            width: 10.4rem;
            height: 1.85rem;
            border: 2px solid #ffffff;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            transition-duration: 125ms;
            transition-property: background-color;
            transition-timing-function: ease;
            user-select: none;

            &.-color-primary {
              @include applyColor(#3498db, #ffffff);
            }

            &.-color-gray {
              @include applyColor(#9e9e9e, #ffffff);
            }

            &.-color-kakao {
              @include applyColor(#fee500, #212121, 2.5%);
            }

            &.-color-naver {
              @include applyColor(#03c75a, #ffffff, 2.5%);
            }

            > .image {
              height: 1rem;
            }
          }
        }
      }
    }

    > .ad {
      width: 20rem;
      height: 100%;

      > a {
        > img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.register-link {
  @include flex(row, center, center, 1rem);
  border: 1px solid #666666;
  margin-top: 3rem;
  height: 5rem;
  width: 100%;

  > span {
    font-size: 1.2rem;
    font-weight: 500;
    color: #666666;
    padding: 1.5rem;
  }

  > a {
    color: #fb4357;
  }

  > .register-comment {
    color: #000000;
    font-size: 1.2rem;
    font-weight: 600;
  }


  > .register-button {
    @include flex(column, center, center);
    border: 3px solid #fb4357;
    width: 11rem;
    height: 2.3rem;
    white-space: nowrap;

    > a {
      width: 100%;
      color: #fb4357;
      font-size: 1.1rem;
      font-weight: 500;
      text-align: center;
    }

  }
}
