@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
#main {
  height: 35rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main > .title-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}
#main > .title-container > h2 {
  align-items: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 8rem;
  height: 3.5rem;
  background-color: #fb4357;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
#main > #login-form {
  height: 19.5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#main > #login-form > .-spring {
  flex-grow: 1;
}
#main > #login-form > .form-container {
  border-top: 2px solid #cacaca;
  border-bottom: 2px solid #cacaca;
  height: 100%;
  width: 40rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}
#main > #login-form > .form-container > .button-container {
  border: 2px solid #fb4357;
  background-color: #ffffff;
  padding: 0.1rem;
  width: 22rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main > #login-form > .form-container > .button-container > .button {
  height: 2.7rem;
  width: 100%;
  background-color: #fb4357;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
#main > #login-form > .form-container > .--obj-label {
  width: 22rem;
  align-items: stretch;
  display: flex;
  flex-direction: column;
}
#main > #login-form > .form-container > .--obj-label > .image-wrapper {
  height: 0.2rem;
  position: absolute;
  border-right: 1px solid #cacaca;
  padding: 0.2rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#main > #login-form > .form-container > .--obj-label > .image-wrapper > img {
  width: 1.6rem;
}
#main > #login-form > .form-container > .--obj-label > input {
  padding: 0 2.5rem;
  border: 1px solid #cacaca;
  position: relative;
}
#main > #login-form > .form-container > .user-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
}
#main > #login-form > .form-container > .user-container > .user-option {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  justify-content: center;
}
#main > #login-form > .form-container > .user-container > .user-option > a {
  color: #666666;
}
#main > #login-form > .form-container > .user-container > .user-option > a:hover {
  text-decoration: underline;
}
#main > #login-form > .form-container > .user-container > span {
  color: #666666;
  font-weight: 500;
}
#main > #login-form > .ad {
  width: 20rem;
  height: 100%;
}
#main > #login-form > .ad > img {
  width: 100%;
  height: 97%;
}

.register-link {
  border: 1px solid #666666;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  margin-top: 3rem;
  height: 5rem;
  width: 100%;
}
.register-link > span {
  font-size: 1.2rem;
  font-weight: 500;
  color: #666666;
  padding: 1.5rem;
}
.register-link > a {
  color: #fb4357;
}
.register-link > .register-comment {
  color: #000000;
  font-size: 1.2rem;
  font-weight: 600;
}
.register-link > .register-button {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid #fb4357;
  width: 11rem;
  height: 2.3rem;
  white-space: nowrap;
}
.register-link > .register-button > a {
  width: 100%;
  color: #fb4357;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
}

/*# sourceMappingURL=login.css.map */
