@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
body > .title-container {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 2rem;
  padding: 1rem;
}
body > .title-container > h1 {
  font-weight: 400;
}
body > .title-container > .-spring {
  flex-grow: 1;
}
body > .title-container > span {
  top: 5rem;
  font-size: 0.9rem;
  font-weight: 300;
}
body > .title-container > span > img {
  width: 0.6rem;
}

#register-form {
  width: 100%;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#register-form > table, #register-form tbody, #register-form td, #register-form tr {
  border-bottom: 1px solid #dddddd;
  border-collapse: collapse;
  padding: 2rem;
}
#register-form > table > tr > td > img, #register-form tbody > tr > td > img, #register-form td > tr > td > img, #register-form tr > tr > td > img {
  width: 0.9rem;
}
#register-form > table > tr > td[rel=row], #register-form tbody > tr > td[rel=row], #register-form td > tr > td[rel=row], #register-form tr > tr > td[rel=row] {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
}
#register-form > table > tr > td[rel=row] > .gender-container, #register-form tbody > tr > td[rel=row] > .gender-container, #register-form td > tr > td[rel=row] > .gender-container, #register-form tr > tr > td[rel=row] > .gender-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}
#register-form > table > tr > td[rel=row] > .duplicate-button, #register-form tbody > tr > td[rel=row] > .duplicate-button, #register-form td > tr > td[rel=row] > .duplicate-button, #register-form tr > tr > td[rel=row] > .duplicate-button {
  height: 2.125rem;
  width: 4.875rem;
  background-color: #333333;
  border: 0.0625rem solid #333333;
  border-radius: 0.1875rem;
  color: #ffffff;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  vertical-align: center;
  padding: 0 15px;
  white-space: nowrap;
}
#register-form > table > tr > td[rel=col], #register-form tbody > tr > td[rel=col], #register-form td > tr > td[rel=col], #register-form tr > tr > td[rel=col] {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
#register-form > table > tr > td[rel=col] > .email-container, #register-form tbody > tr > td[rel=col] > .email-container, #register-form td > tr > td[rel=col] > .email-container, #register-form tr > tr > td[rel=col] > .email-container {
  border: 2px solid #dddddd;
  height: 2rem;
  padding: 0 1rem;
}
#register-form > table > tr > td[rel=col] > .email-container > .email-label > .email,
#register-form > table > tr > td[rel=col] > .email-container > .email-label .domain, #register-form tbody > tr > td[rel=col] > .email-container > .email-label > .email,
#register-form tbody > tr > td[rel=col] > .email-container > .email-label .domain, #register-form td > tr > td[rel=col] > .email-container > .email-label > .email,
#register-form td > tr > td[rel=col] > .email-container > .email-label .domain, #register-form tr > tr > td[rel=col] > .email-container > .email-label > .email,
#register-form tr > tr > td[rel=col] > .email-container > .email-label .domain {
  width: 7rem;
  color: #666666;
}
#register-form > table > tr > td[rel=col] > .email-container > .value-button, #register-form tbody > tr > td[rel=col] > .email-container > .value-button, #register-form td > tr > td[rel=col] > .email-container > .value-button, #register-form tr > tr > td[rel=col] > .email-container > .value-button {
  width: 7rem;
  color: #666666;
  cursor: pointer;
  padding: 0.2rem;
  position: relative;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#register-form > table > tr > td[rel=col] > .email-container > .value-button > .-spring, #register-form tbody > tr > td[rel=col] > .email-container > .value-button > .-spring, #register-form td > tr > td[rel=col] > .email-container > .value-button > .-spring, #register-form tr > tr > td[rel=col] > .email-container > .value-button > .-spring {
  flex-grow: 1;
}
#register-form > table > tr > td[rel=col] > .label-container, #register-form tbody > tr > td[rel=col] > .label-container, #register-form td > tr > td[rel=col] > .label-container, #register-form tr > tr > td[rel=col] > .label-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
#register-form > table > tr > td[rel=col] > .label-container > .--obj-label > .addr-button, #register-form tbody > tr > td[rel=col] > .label-container > .--obj-label > .addr-button, #register-form td > tr > td[rel=col] > .label-container > .--obj-label > .addr-button, #register-form tr > tr > td[rel=col] > .label-container > .--obj-label > .addr-button {
  height: 2.125rem;
  width: 4.875rem;
  background-color: #333333;
  border: 0.0625rem solid #333333;
  border-radius: 0.1875rem;
  color: #ffffff;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  vertical-align: center;
  padding: 0 15px;
  white-space: nowrap;
}
#register-form > table > tr > td[rel=col] > span, #register-form tbody > tr > td[rel=col] > span, #register-form td > tr > td[rel=col] > span, #register-form tr > tr > td[rel=col] > span {
  color: #666666;
}
#register-form > table > tr > td[rel=col] > div, #register-form tbody > tr > td[rel=col] > div, #register-form td > tr > td[rel=col] > div, #register-form tr > tr > td[rel=col] > div {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-start;
}
#register-form > table > tr > td[rel=col] > div > span, #register-form tbody > tr > td[rel=col] > div > span, #register-form td > tr > td[rel=col] > div > span, #register-form tr > tr > td[rel=col] > div > span {
  color: #666666;
}
#register-form > table > tr > td:nth-child(odd), #register-form tbody > tr > td:nth-child(odd), #register-form td > tr > td:nth-child(odd), #register-form tr > tr > td:nth-child(odd) {
  background-color: #f8f8f8;
  font-size: 1rem;
}
#register-form > .--obj-check-label {
  cursor: pointer;
  user-select: none;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  justify-content: center;
  margin-top: 1rem;
}
#register-form > .button-container {
  height: 5rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  justify-content: center;
}
#register-form > .button-container > button {
  border: 0.0625rem solid #333333;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  height: 2.375rem;
  padding: 0 2rem;
  width: 10rem;
  white-space: nowrap;
}
#register-form > .button-container > .cancel {
  background-color: transparent;
}
#register-form > .button-container > .submit {
  background-color: #333333;
  color: #ffffff;
}

#domainModal {
  top: 1.775rem;
  border: 2px solid #cacaca;
  left: 0.475rem;
  display: none;
  cursor: pointer;
  background-color: #ffffff;
  position: absolute;
  padding: 0.4rem;
}
#domainModal > .modal-content {
  width: 7rem;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  justify-content: center;
}
#domainModal > .modal-content > .domain-self:hover {
  text-decoration: none;
}
#domainModal > .modal-content > .domain-self:hover:active {
  text-decoration: underline;
}
#domainModal > .modal-content > .domain-button:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=register.css.map */
