<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.jwkim.jgv.mappers.theater.TheaterMapper">
    <select id="getRegionAll"
            parameterType="dev.jwkim.jgv.entities.theater.RegionEntity">
        SELECT `reg_num`  AS `regNum`,
               `reg_name` AS `regName`
        FROM `jgv`.`region`
    </select>
    <select id="getTheatersByRegion"
            resultType="dev.jwkim.jgv.entities.theater.TheaterEntity">
        SELECT `th_num`            AS `thNum`,
               `th_name`           AS `thName`,
               `th_addr`           AS `thAddr`,
               `th_img`            AS `thImg`
        FROM `jgv`.`theater`
                 LEFT JOIN jgv.region reg ON theater.reg_num = reg.reg_num
        WHERE `reg_name` = #{region}
    </select>
    <select id="selectAllTheaters"
            resultType="dev.jwkim.jgv.vos.theater.TheaterVo">
        SELECT `theater`.`th_num`             AS `thNum`,
               `th_name`                      AS `thName`,
               `th_addr`                      AS `thAddr`,
               `th_img`                       AS `thImg`,
               `th_parking`                   AS `thParking`,
               `reg_num`                      AS `regNum`,
               `cit_name`                     AS `citName`,
               `sc_start_date`                AS `scStartDate`,
               (SELECT COUNT(0)
                FROM `jgv`.`cinema`
                         LEFT JOIN jgv.theater t on t.th_num = cinema.th_num
                WHERE `th_name` = #{theater}) AS `cinemaCount`,
               (SELECT COUNT(0)
                FROM `jgv`.`seat`
                         LEFT JOIN `jgv`.`cinema` ON `seat`.`ci_num` = cinema.`ci_num`
                         LEFT JOIN `jgv`.`theater` ON theater.`th_num` = cinema.`th_num`
                WHERE `th_name` = #{theater}) AS `seatCount`
        FROM `jgv`.`theater`
                 LEFT JOIN `jgv`.`cinema` `c` on `theater`.`th_num` = `c`.`th_num`
                 LEFT JOIN `jgv`.`cinema_type` ON `c`.`cit_num` = `cinema_type`.`cit_num`
                 LEFT JOIN `jgv`.`screen` ON `c`.`ci_num` = `screen`.`ci_num`
        WHERE `th_name` = #{theater}
          AND `sc_start_date` > NOW()
    </select>
    <select id="selectAllTheatersByRegion"
            resultType="dev.jwkim.jgv.vos.theater.TheaterVo">
        SELECT DISTINCT `theater`.`th_num`             AS `thNum`,
                        `th_name`                      AS `thName`,
                        `th_addr`                      AS `thAddr`,
                        `th_img`                       AS `thImg`,
                        `theater`.`reg_num`                      AS `regNum`,
                        `cit_name`                     AS `citName`,
                        `sc_start_date`                AS `scStartDate`,
                        (SELECT COUNT(0)
                         FROM `jgv`.`cinema`
                                  LEFT JOIN jgv.theater t on t.th_num = cinema.th_num
                         WHERE `reg_name` = #{region}) AS `cinemaCount`,
                        (SELECT COUNT(0)
                         FROM `jgv`.`seat`
                                  LEFT JOIN `jgv`.`cinema` ON `seat`.`ci_num` = cinema.`ci_num`
                                  LEFT JOIN `jgv`.`theater` ON theater.`th_num` = cinema.`th_num`
                         WHERE `reg_name` = #{region}) AS `seatCount`
        FROM `jgv`.`theater`
                 LEFT JOIN `jgv`.`cinema` `c` on `theater`.`th_num` = `c`.`th_num`
                 LEFT JOIN `jgv`.`cinema_type` ON `c`.`cit_num` = `cinema_type`.`cit_num`
                 LEFT JOIN `jgv`.`screen` ON `c`.`ci_num` = `screen`.`ci_num`
                 LEFT JOIN `jgv`.`movie` ON `screen`.`mo_num` = `movie`.`mo_num`
                 LEFT JOIN `jgv`.`region` ON `theater`.`reg_num` = `region`.`reg_num`
        WHERE `reg_name` = #{region}
          AND `mo_title` = #{movie}
          AND `sc_start_date` > NOW()
    </select>
    <select id="selectAllScreens"
            resultType="dev.jwkim.jgv.vos.theater.ScreenVo">
        SELECT DISTINCT `screen`.`sc_num`                                  AS `scNum`,
                        `sc_start_date` AS `scStartDate`,
                        `screen`.`mo_num`                                  AS `moNum`,
                        `screen`.`ci_num`                                  AS `ciNum`,
                        `mo_title`                                         AS `moTitle`,
                        `mo_date`                                          AS `moDate`,
                        `mo_time`                                          AS `moTime`,
                        `ge_name`                                          AS `geName`,
                        `cinema`.`cit_num`                                 AS `citNum`,
                        `ci_name`                                          AS `ciName`,
                        `cit_name`                                         AS `citName`,
                        `ra_grade`                                         AS `raGrade`,
                        (SELECT COUNT(0)
                         FROM `jgv`.`seat`
                         WHERE `seat`.`ci_num` = `cinema`.`ci_num`)        AS `seatCount`,
                        (SELECT COUNT(0)
                         FROM `jgv`.`reservation`
                         WHERE `reservation`.`sc_num` = `screen`.`sc_num`) AS `usedSeatCount`
        FROM `jgv`.`screen`
                 LEFT JOIN `jgv`.`movie` ON `screen`.`mo_num` = `movie`.`mo_num`
                 LEFT JOIN `jgv`.`movie_genere` ON `movie`.`mo_num` = `movie_genere`.`mo_num`
                 LEFT JOIN `jgv`.`genre` ON `movie_genere`.`ge_num` = `genre`.`ge_num`
                 LEFT JOIN `jgv`.`rating` ON `movie`.`ra_num` = `rating`.`ra_num`
                 LEFT JOIN `jgv`.`cinema` ON `screen`.`ci_num` = `cinema`.`ci_num`
                 LEFT JOIN `jgv`.`cinema_type` ON `cinema`.`cit_num` = `cinema_type`.`cit_num`
                 LEFT JOIN `jgv`.`seat` ON `cinema`.`ci_num` = `seat`.`ci_num`
                 LEFT JOIN `jgv`.`reservation` ON `screen`.`sc_num` = `reservation`.`sc_num`
                 LEFT JOIN `jgv`.`theater` ON `cinema`.`th_num` = `theater`.`th_num`
        WHERE `sc_start_date` LIKE CONCAT('%', #{date}, '%')
          AND `sc_start_date` > NOW()
          AND `th_name` = #{theater}
    </select>
    <select id="selectAllScreensByRegion"
            resultType="dev.jwkim.jgv.vos.theater.ScreenVo">
        SELECT DISTINCT `screen`.`sc_num`                                  AS `scNum`,
                        `sc_start_date`                                    AS `scStartDate`,
                        `screen`.`mo_num`                                  AS `moNum`,
                        `screen`.`ci_num`                                  AS `ciNum`,
                        `mo_title`                                         AS `moTitle`,
                        `mo_date`                                          AS `moDate`,
                        `mo_time`                                          AS `moTime`,
                        `ge_name`                                          AS `geName`,
                        `cinema`.`cit_num`                                 AS `citNum`,
                        `ci_name`                                          AS `ciName`,
                        `cit_name`                                         AS `citName`,
                        `ra_grade`                                         AS `raGrade`,
                        (SELECT COUNT(0)
                         FROM `jgv`.`seat`
                         WHERE `seat`.`ci_num` = `cinema`.`ci_num`)        AS `seatCount`,
                        (SELECT COUNT(0)
                         FROM `jgv`.`reservation`
                         WHERE `reservation`.`sc_num` = `screen`.`sc_num`) AS `usedSeatCount`,
                        `th_name`                                          AS `thName`
        FROM `jgv`.`screen`
                 LEFT JOIN `jgv`.`movie` ON `screen`.`mo_num` = `movie`.`mo_num`
                 LEFT JOIN `jgv`.`movie_genere` ON `movie`.`mo_num` = `movie_genere`.`mo_num`
                 LEFT JOIN `jgv`.`genre` ON `movie_genere`.`ge_num` = `genre`.`ge_num`
                 LEFT JOIN `jgv`.`rating` ON `movie`.`ra_num` = `rating`.`ra_num`
                 LEFT JOIN `jgv`.`cinema` ON `screen`.`ci_num` = `cinema`.`ci_num`
                 LEFT JOIN `jgv`.`cinema_type` ON `cinema`.`cit_num` = `cinema_type`.`cit_num`
                 LEFT JOIN `jgv`.`seat` ON `cinema`.`ci_num` = `seat`.`ci_num`
                 LEFT JOIN `jgv`.`reservation` ON `screen`.`sc_num` = `reservation`.`sc_num`
                 LEFT JOIN `jgv`.`theater` ON `cinema`.`th_num` = `theater`.`th_num`
                 LEFT JOIN `jgv`.`region` ON `theater`.`reg_num` = `region`.`reg_num`
        WHERE `sc_start_date` LIKE CONCAT('%', #{date}, '%')
          AND `sc_start_date` > NOW()
          AND `reg_name` = #{region}
          AND `mo_title` = #{movie}
    </select>
</mapper>