<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.jwkim.jgv.mappers.movie.CharactorMapper">
    <insert id="insertCharacter" useGeneratedKeys="true" keyProperty="chNum" parameterType="dev.jwkim.jgv.entities.movie.CharactorEntity">
        INSERT INTO jgv.charactor (ch_name, ch_job, ch_birth, ch_nation)
        VALUES (#{chName}, #{chJob}, #{chBirth}, #{chNation})
    </insert>

    <select id="selectCharacterIdByName" resultType="Integer">
        SELECT ch_num
        FROM jgv.charactor
        WHERE ch_name = #{CharacterName}
    </select>

    <insert id="insertCharacterImg">
        INSERT INTO jgv.charactor_image (c_img_url, ch_num)
        VALUES (#{imgUrl}, #{ChNum})
    </insert>

    <insert id="insertMovieCharacter">
        INSERT INTO jgv.movie_charactor (ch_num, mo_num)
        VALUES (#{chnum}, #{monum})
    </insert>

    <delete id="deleteAllCharacter">
        DELETE FROM jgv.charactor
    </delete>

    <delete id="deleteAllCharacterImg">
        DELETE FROM jgv.charactor_image
    </delete>

    <delete id="deleteAllMovieCharacterMapping">
        DELETE FROM jgv.movie_charactor
    </delete>
</mapper>