#movie-admin-page {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  width: 980px;
  max-width: 980px;
  min-width: 980px;
  height: 50rem;
  padding-top: 2rem;
}
#movie-admin-page > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#movie-admin-page > .admin-movie-list {
  width: 100%;
  height: 12rem;
}
#movie-admin-page > .admin-movie-list > table {
  width: 100%;
  height: 12rem;
  border-collapse: collapse;
  text-align: center;
}
#movie-admin-page > .admin-movie-list > table > tbody {
  height: 12rem;
  width: 100%;
}
#movie-admin-page > .admin-movie-list > table > tbody > tr > th {
  height: 2rem;
  background-color: #FB4357;
}
#movie-admin-page > .admin-movie-list > table > tbody > tr > td {
  font-size: 1rem;
  font-weight: 500;
  border-bottom: 1px solid #666666;
  padding: 1rem 0;
}
#movie-admin-page > .admin-movie-list > table > tbody > tr > td > img {
  width: 5rem;
}

#theater-admin-page {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  width: 980px;
  max-width: 980px;
  min-width: 980px;
  height: 50rem;
  padding-top: 2rem;
}
#theater-admin-page > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#theater-admin-page > .admin-movie-list {
  width: 100%;
  height: 12rem;
}
#theater-admin-page > .admin-movie-list > table {
  width: 100%;
  height: 12rem;
  border-collapse: collapse;
  text-align: center;
}
#theater-admin-page > .admin-movie-list > table > tbody {
  height: 12rem;
  width: 100%;
}
#theater-admin-page > .admin-movie-list > table > tbody > tr > th {
  height: 2rem;
  background-color: #2275a4;
}
#theater-admin-page > .admin-movie-list > table > tbody > tr > td {
  font-size: 1rem;
  font-weight: 500;
  border-bottom: 1px solid #666666;
  padding: 1rem 0;
}
#theater-admin-page > .admin-movie-list > table > tbody > tr > td > img {
  width: 5rem;
}

#admin-title-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: stretch;
  width: 980px;
  max-width: 980px;
  min-width: 980px;
  padding-top: 2rem;
}
#admin-title-container > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#admin-title-container > button {
  width: 6rem;
  height: 3rem;
  background-color: transparent;
  cursor: pointer;
}
#admin-title-container > button > span {
  font-size: 1.2rem;
  font-weight: 600;
}
#admin-title-container > .admin-button-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  width: 10.3rem;
  height: 2rem;
  border: 2px solid #FB4357;
  white-space: nowrap;
}
#admin-title-container > .admin-button-wrapper > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#admin-title-container > .admin-button-wrapper > button {
  width: 10rem;
  height: 1.7rem;
  border: 1px solid #FB4357;
  background-color: #FB4357;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}

#movie-crawl-button {
  display: block;
}

#theater-crawl-button {
  display: none;
}

#movie-admin-page {
  display: block;
}

#theater-admin-page {
  display: none;
}

/*# sourceMappingURL=is_admin.css.map */
