@charset "UTF-8";
@import "../../fragments/assets/styles/global";

button {
  all: unset;
  cursor: pointer;
}


#movie-admin-page {
  @include flex(column, flex-start, flex-start, 1rem);
  @include minmaxWidth(980px);
  height: auto;
  padding: 2rem 0;

  > .admin-movie-list {
    width: 100%;
    height: auto;

    > table {
      width: 100%;
      height: 12rem;
      border-collapse: collapse;
      text-align: center;

      > tbody {
        height: 12rem;
        width: 100%;

        > tr {

          > th {
            height: 2rem;
            background-color: #FB4357;
            color: #ffffff;
          }

          > td {
            height: 10rem;
            font-size: 1rem;
            font-weight: 500;
            border-bottom: 1px solid #666666;
            padding: 1rem 0;

            > button {
              width: 4rem;
              height: 1.8rem;
              border-radius: 0.4rem;
              font-size: 1rem;
              font-weight: 500;
              text-align: center;
              cursor: pointer !important;
            }

            > .movie-modify {
              background-color: #FB4357;
              color: #ffffff;
            }

            > .movie-delete {
              border: 1px solid #222222;
              color: #222222;
            }

            > img {
              width: 5rem;
            }
          }
        }
      }
    }
  }
}

#theater-admin-page {
  @include flex(column, flex-start, flex-start, 1rem);
  @include minmaxWidth(980px);
  height: auto;
  padding: 2rem 0;
  display: none;

  > .admin-movie-list {
    width: 100%;
    height: auto;

    > table {
      width: 100%;
      height: auto;
      border-collapse: collapse;
      text-align: center;

      > tbody {

        width: 100%;
        height: 10rem;

        > tr {
          border-bottom: 1px solid #666666;

          > th {
            height: 2rem;
            background-color: #FB4357;
            color: #ffffff;
          }

          > td {
            box-sizing: border-box;
            height: 10rem;
            font-size: 1rem;
            font-weight: 500;
            padding: 1rem 0;

            > img {
              width: 5rem;
            }
          }
        }
      }
    }
  }
}

#admin-title-container {
  @include flex(row, center, stretch);
  @include minmaxWidth(980px);
  padding-top: 2rem;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;

  > .theater-information {
    color: #666666;
  }

  > button {
    width: 6rem;
    height: 3rem;
    background-color: transparent;
    cursor: pointer;

    > span {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }


  > .admin-button-wrapper {
    @include flex(row, center, center);
    width: 10.3rem;
    height: 2rem;
    border: 2px solid #FB4357;
    white-space: nowrap;

    > button {
      width: 10rem;
      height: 1.7rem;
      border: 1px solid #FB4357;
      background-color: #FB4357;
      color: #ffffff;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 700;
      text-align: center;
    }
  }
}

#movie-crawl-button {
  display: block;
}

#theater-crawl-button {
  display: none;
}

#movie-admin-page {
  display: block;
}

#theater-admin-page {
  @include flex(column, flex-start, flex-start, 1rem);
  @include minmaxWidth(980px);
  height: auto;
  padding: 2rem 0;
  display: none;

  > .admin-movie-list {
    width: 100%;
    height: auto;

    > table {
      width: 100%;
      height: auto;
      border-collapse: collapse;
      text-align: center;

      > tbody {

        width: 100%;
        height: 10rem;

        > tr {
          border-bottom: 1px solid #666666;

          > th {
            height: 2rem;
            background-color: #FB4357;
            color: #ffffff;
          }

          > td {
            box-sizing: border-box;
            height: 10rem;
            font-size: 1rem;
            font-weight: 500;
            padding: 1rem 0;

            > img {
              width: 5rem;
            }
          }
        }
      }
    }
  }
}

#admin-title-container {
  @include flex(row, center, stretch);
  @include minmaxWidth(980px);
  padding-top: 2rem;
  border-bottom: 1px solid #e0e0e0;

  > .theater-information {
    color: #666666;
  }

  > button {
    width: 6rem;
    height: 3rem;
    background-color: transparent;
    cursor: pointer;

    > span {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }


  > .admin-button-wrapper {
    @include flex(row, center, center);
    width: 10.3rem;
    height: 2rem;
    border: 2px solid #FB4357;
    white-space: nowrap;

    > button {
      width: 10rem;
      height: 1.7rem;
      border: 1px solid #FB4357;
      background-color: #FB4357;
      color: #ffffff;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 700;
      text-align: center;
    }
  }
}

#movie-crawl-button {
  display: block;
}

#theater-crawl-button {
  display: none;
}

#movie-admin-page {
  display: block;
}

#theater-admin-page {
  display: none;
  height: auto;

  > .admin-theater-list {
    width: 100%;
    height: auto;

    > table {
      width: 100%;
      height: auto;
      border-collapse: collapse;
      text-align: center;

      > thead {
        > tr {
          width: 100%;
          border-bottom: 1px solid #666666;

          > th {
            background-color: #2275a4;
            color: #ffffff;
          }
        }
      }

      > tbody {
        width: 100%;
        height: auto;

        > tr {
          @include flex(column, flex-start, center);

          width: 100%;
          border-bottom: 1px solid #666666;

          > th {
            @include flex(column, stretch, center);
            background-color: #2275a4;
            color: #ffffff;
          }

          > td {
            @include flex(column, stretch, center);
            width: 100%;
            font-size: 1rem;
            font-weight: 500;
            padding: 1rem 0;
            text-align: left;

            > img {
              width: 5rem;
            }

            > ul > li {
              padding-bottom: 1rem;

              > div {
                padding-bottom: 1rem;

                > strong {
                  color: #FB4357;
                }
              }
            }

            > ul > li > ul > li {
              @include flex(row, center, stretch, 0.5rem);

              > button {
                width: 5rem;
                height: 1rem;
                border-radius: 0.2rem;
                color: #ffffff;
                cursor: pointer;
                font-size: 0.7rem;
                text-align: center;
              }

              > .theater-delete {
                background-color: #FB4357;
              }

              > .theater-modify {
                background-color: #2275a4;
              }
            }

          }
        }

      }
    }
  }
}

#movie-search-form {
  @include flex(row, center, flex-start, 1rem);
  padding: 1.375rem 0;
  border-bottom: 1px solid #e0e0e0;

  > .movie-keyword-wrapper {
    @include flex(row, center, flex-start, 1rem);
    @include minmaxWidth(100%);

    > label > .movie-keyword {
      color: #9e9e9e;
      font-size: 1rem;
      font-weight: 600;
      padding-right: 0.75rem;
    }

    > label > input {
      border-left: 1px solid #e0e0e0;
      border-right: 1px solid #e0e0e0;
      font-size: 1rem;
      font-weight: 600;
    }

    > .movie-search {
      width: 4rem;
      height: 1.8rem;
      text-align: center;

      background-color: #FB4357;
      border-radius: 0.4rem;
      color: #ffffff;
      font-size: 1rem;
      font-weight: 600;
    }
  }
}

#theater-search-form {
  @include flex(row, center, flex-start, 1rem);
  padding: 1.375rem 0;
  border-bottom: 1px solid #e0e0e0;
  display: none;

  > .theater-keyword-wrapper {
    @include flex(row, center, flex-start, 1rem);
    @include minmaxWidth(100%);


    > label > .theater-keyword {
      color: #9e9e9e;
      font-size: 1rem;
      font-weight: 600;
      padding-right: 0.75rem;
    }

    > label > input {
      border-left: 1px solid #e0e0e0;
      border-right: 1px solid #e0e0e0;
      font-size: 1rem;
      font-weight: 600;
    }

    > .theater-search {
      width: 4rem;
      height: 1.8rem;
      text-align: center;

      background-color: #2275a4;
      border-radius: 0.4rem;
      color: #ffffff;
      font-size: 1rem;
      font-weight: 600;
    }
  }
}

#movie-page-container {
  @include flex(row, center, center);
  font-size: 1rem;
  font-weight: 700;
  padding: 1.8rem 0;

  > .movie-page-wrapper {
    @include minmaxWidth(100%);
    @include flex(row, center, center, 1rem);

    > .prev > a {
      color: #666666;

      &:hover {
        color: #222222;
      }
    }

    > .next > a {
      color: #666666;

      &:hover {
        color: #222222;
      }

    }

    > .page {
      @include flex(row, center, center, 1rem);

      > a {
        color: #666666;

        &:hover {
          color: #222222;
        }

        &.selected {
          color: #222222;
        }
      }

    }
  }
}

#theater-page-container {
  @include flex(row, center, center, 2rem);
  display: none;
  font-size: 1rem;
  font-weight: 700;
  padding: 1.8rem 0;

  > .theater-page-wrapper {
    @include flex(row, center, center, 1rem);

    > .prev > a {
      color: #666666;

      &:hover {
        color: #222222;
      }
    }

    > .next > a {
      color: #666666;

      &:hover {
        color: #222222;
      }

    }

    > .page {
      @include flex(row, center, center, 1rem);

      > a {
        color: #666666;

        &:hover {
          color: #222222;
        }
      }

    }
  }
}

.screen-item {
  padding-bottom: 1rem;
  position: relative;

  > .modal {
    top: 100%;
    width: 650px;
    background-color: #333;
    position: absolute;
    z-index: 1;

    &.hidden {
      display: none;
    }

    > .head {
      padding: 0.5rem;

      > .h1 {
        border: 0.1rem solid #707070;

        align-items: center;
        display: flex;
        flex-direction: row;

        > .text {
          margin: 0.5rem 1rem;
          font-size: 1.5rem;
          font-weight: 700;
          color: #f2f0e5;
        }

        > .button {
          margin: 1rem;
          width: 18px;
          height: 18px;
          background: url("https://img.cgv.co.kr/R2014/images/sprite/sprite_btn.png") no-repeat -72px -62px;
          cursor: pointer;
        }
      }
    }

    > .content {
      margin: 0 0.5rem 0.5rem 0.5rem;
      background-color: #f6f6f4;

      > .center {
        padding: 2rem;

        > .rating-content {
          width: 100%;
          color: #666;
          border-collapse: collapse;

          > thead > tr {
            background-color: #e2e2e0;
            font-weight: 600;
            font-size: 0.8rem;

            > td {
              padding: 0.5rem;

              &:nth-child(1) {
                width: 10rem;
              }

              &:nth-last-child(1) {
                border-left: 0.1rem solid #d6d6cc;
              }
            }
          }

          > tbody {
            > tr {
              border-bottom: 0.1rem solid #d6d6cc;

              > th {
                > .container {
                  padding: 0.5rem;

                  align-items: center;
                  display: flex;
                  flex-direction: row;
                  gap: 0.5rem;
                }

                &:nth-last-child(1) {
                  border-left: 0.1rem solid #d6d6cc;
                }

                > label {
                  > input {
                    padding: 1rem 0.5rem;
                  }
                }
              }
            }
          }
        }

        > .modify {
          left: 50%;
          position: relative;
          margin-top: 1rem;
          border-radius: 0.25rem;
          cursor: pointer;
          padding: 0.5rem 0.75rem;
          text-align: center;
          text-decoration: none;
          user-select: none;
          background-color: #2196f3;
          color: #ffffff;

          align-items: center;
          display: flex;
          flex-direction: row;
          gap: 0.25rem;
          justify-content: center;
        }
      }
    }
  }
}
