button {
  all: unset;
  cursor: pointer;
}

#movie-admin-page {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  width: 980px;
  max-width: 980px;
  min-width: 980px;
  height: auto;
  padding: 2rem 0;
}
#movie-admin-page > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#movie-admin-page > .admin-movie-list {
  width: 100%;
  height: auto;
}
#movie-admin-page > .admin-movie-list > table {
  width: 100%;
  height: 12rem;
  border-collapse: collapse;
  text-align: center;
}
#movie-admin-page > .admin-movie-list > table > tbody {
  height: 12rem;
  width: 100%;
}
#movie-admin-page > .admin-movie-list > table > tbody > tr > th {
  height: 2rem;
  background-color: #FB4357;
  color: #ffffff;
}
#movie-admin-page > .admin-movie-list > table > tbody > tr > td {
  height: 10rem;
  font-size: 1rem;
  font-weight: 500;
  border-bottom: 1px solid #666666;
  padding: 1rem 0;
}
#movie-admin-page > .admin-movie-list > table > tbody > tr > td > button {
  width: 4rem;
  height: 1.8rem;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer !important;
}
#movie-admin-page > .admin-movie-list > table > tbody > tr > td > .movie-modify {
  background-color: #FB4357;
  color: #ffffff;
}
#movie-admin-page > .admin-movie-list > table > tbody > tr > td > .movie-delete {
  border: 1px solid #222222;
  color: #222222;
}
#movie-admin-page > .admin-movie-list > table > tbody > tr > td > img {
  width: 5rem;
}

#theater-admin-page {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  width: 980px;
  max-width: 980px;
  min-width: 980px;
  height: auto;
  padding: 2rem 0;
  display: none;
}
#theater-admin-page > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#theater-admin-page > .admin-movie-list {
  width: 100%;
  height: auto;
}
#theater-admin-page > .admin-movie-list > table {
  width: 100%;
  height: auto;
  border-collapse: collapse;
  text-align: center;
}
#theater-admin-page > .admin-movie-list > table > tbody {
  width: 100%;
  height: 10rem;
}
#theater-admin-page > .admin-movie-list > table > tbody > tr {
  border-bottom: 1px solid #666666;
}
#theater-admin-page > .admin-movie-list > table > tbody > tr > th {
  height: 2rem;
  background-color: #FB4357;
  color: #ffffff;
}
#theater-admin-page > .admin-movie-list > table > tbody > tr > td {
  box-sizing: border-box;
  height: 10rem;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 0;
}
#theater-admin-page > .admin-movie-list > table > tbody > tr > td > img {
  width: 5rem;
}

#user-admin-page {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: flex-start;
  width: 980px;
  max-width: 980px;
  min-width: 980px;
  height: auto;
  padding: 2rem 0;
}
#user-admin-page > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#user-admin-page > .admin-user-list {
  width: 100%;
  height: auto;
}
#user-admin-page > .admin-user-list > table {
  width: 100%;
  height: 12rem;
  border-collapse: collapse;
  text-align: center;
}
#user-admin-page > .admin-user-list > table > tbody {
  height: 12rem;
  width: 100%;
}
#user-admin-page > .admin-user-list > table > tbody > tr > th {
  height: 2rem;
  background-color: #aa3ebc;
  color: #ffffff;
}
#user-admin-page > .admin-user-list > table > tbody > tr > td {
  background-color: #ffffff;
  color: #222222;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-bottom: 1px solid #999999;
  padding: 1rem 0;
}
#user-admin-page > .admin-user-list > table > tbody > tr > td > .user-status-form > button {
  width: 3rem;
  height: 1.8rem;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer !important;
}
#user-admin-page > .admin-user-list > table > tbody > tr > td > .user-status-form > .user-suspend {
  background-color: #aa3ebc;
  color: #ffffff;
}
#user-admin-page > .admin-user-list > table > tbody > tr > td > .user-status-form > label {
  border: 1px solid #222222;
}
#user-admin-page > .admin-user-list > table > tbody > tr > td > .user-status-form > label > .user-status {
  color: #666666;
  text-align: center;
}

#admin-title-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: stretch;
  width: 980px;
  max-width: 980px;
  min-width: 980px;
  padding-top: 2rem;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
}
#admin-title-container > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#admin-title-container > .user-information {
  color: #666666;
}
#admin-title-container > .theater-information {
  color: #666666;
}
#admin-title-container > button {
  width: 6rem;
  height: 3rem;
  background-color: transparent;
  cursor: pointer;
}
#admin-title-container > button > span {
  font-size: 1.2rem;
  font-weight: 600;
}
#admin-title-container > .admin-button-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  width: 10.3rem;
  height: 2rem;
  border: 2px solid #FB4357;
  white-space: nowrap;
}
#admin-title-container > .admin-button-wrapper > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#admin-title-container > .admin-button-wrapper > button {
  width: 10rem;
  height: 1.7rem;
  border: 1px solid #FB4357;
  background-color: #FB4357;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}

#movie-crawl-button {
  display: block;
}

#theater-crawl-button {
  display: none;
}

#movie-admin-page {
  display: block;
}

#theater-admin-page {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  width: 980px;
  max-width: 980px;
  min-width: 980px;
  height: auto;
  padding: 2rem 0;
  display: none;
}
#theater-admin-page > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#theater-admin-page > .admin-movie-list {
  width: 100%;
  height: auto;
}
#theater-admin-page > .admin-movie-list > table {
  width: 100%;
  height: auto;
  border-collapse: collapse;
  text-align: center;
}
#theater-admin-page > .admin-movie-list > table > tbody {
  width: 100%;
  height: 10rem;
}
#theater-admin-page > .admin-movie-list > table > tbody > tr {
  border-bottom: 1px solid #666666;
}
#theater-admin-page > .admin-movie-list > table > tbody > tr > th {
  height: 2rem;
  background-color: #FB4357;
  color: #ffffff;
}
#theater-admin-page > .admin-movie-list > table > tbody > tr > td {
  box-sizing: border-box;
  height: 10rem;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 0;
}
#theater-admin-page > .admin-movie-list > table > tbody > tr > td > img {
  width: 5rem;
}

#admin-title-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: stretch;
  width: 980px;
  max-width: 980px;
  min-width: 980px;
  padding-top: 2rem;
  border-bottom: 1px solid #e0e0e0;
}
#admin-title-container > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#admin-title-container > .theater-information {
  color: #666666;
}
#admin-title-container > button {
  width: 6rem;
  height: 3rem;
  background-color: transparent;
  cursor: pointer;
}
#admin-title-container > button > span {
  font-size: 1.2rem;
  font-weight: 600;
}
#admin-title-container > .admin-button-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  width: 10.3rem;
  height: 2rem;
  border: 2px solid #FB4357;
  white-space: nowrap;
}
#admin-title-container > .admin-button-wrapper > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#admin-title-container > .admin-button-wrapper > button {
  width: 10rem;
  height: 1.7rem;
  border: 1px solid #FB4357;
  background-color: #FB4357;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}

#movie-crawl-button {
  display: block;
}

#theater-crawl-button {
  display: none;
}

#movie-admin-page {
  display: block;
}

#theater-admin-page {
  display: none;
  height: auto;
}
#theater-admin-page > .admin-theater-list {
  width: 100%;
  height: auto;
}
#theater-admin-page > .admin-theater-list > table {
  width: 100%;
  height: auto;
  border-collapse: collapse;
  text-align: center;
}
#theater-admin-page > .admin-theater-list > table > thead > tr {
  width: 100%;
  border-bottom: 1px solid #666666;
}
#theater-admin-page > .admin-theater-list > table > thead > tr > th {
  height: 2rem;
  background-color: #2275a4;
  color: #ffffff;
}
#theater-admin-page > .admin-theater-list > table > tbody {
  width: 100%;
  height: auto;
}
#theater-admin-page > .admin-theater-list > table > tbody > tr {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #666666;
}
#theater-admin-page > .admin-theater-list > table > tbody > tr > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#theater-admin-page > .admin-theater-list > table > tbody > tr > th {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  background-color: #2275a4;
  color: #ffffff;
}
#theater-admin-page > .admin-theater-list > table > tbody > tr > th > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#theater-admin-page > .admin-theater-list > table > tbody > tr > td {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 0;
  text-align: left;
}
#theater-admin-page > .admin-theater-list > table > tbody > tr > td > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#theater-admin-page > .admin-theater-list > table > tbody > tr > td > img {
  width: 5rem;
}
#theater-admin-page > .admin-theater-list > table > tbody > tr > td > ul > li {
  padding-bottom: 1rem;
}
#theater-admin-page > .admin-theater-list > table > tbody > tr > td > ul > li > div {
  padding-bottom: 1rem;
}
#theater-admin-page > .admin-theater-list > table > tbody > tr > td > ul > li > div > strong {
  font-size: 2rem;
  color: #FB4357;
}
#theater-admin-page > .admin-theater-list > table > tbody > tr > td > ul > li > ul > li {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: stretch;
}
#theater-admin-page > .admin-theater-list > table > tbody > tr > td > ul > li > ul > li > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#theater-admin-page > .admin-theater-list > table > tbody > tr > td > ul > li > ul > li > button {
  width: 5rem;
  height: 1.775rem;
  border-radius: 0.2rem;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}
#theater-admin-page > .admin-theater-list > table > tbody > tr > td > ul > li > ul > li > .theater-delete {
  background-color: #FB4357;
  border: 1px solid #FB4357;
}
#theater-admin-page > .admin-theater-list > table > tbody > tr > td > ul > li > ul > li > .theater-modify {
  background-color: #2275a4;
  border: 1px solid #2275a4;
}

#movie-search-form {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  padding: 1.375rem 0;
  border-bottom: 1px solid #e0e0e0;
}
#movie-search-form > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#movie-search-form > .movie-keyword-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
#movie-search-form > .movie-keyword-wrapper > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#movie-search-form > .movie-keyword-wrapper > label > .movie-keyword {
  color: #9e9e9e;
  font-size: 1rem;
  font-weight: 600;
  padding-right: 0.75rem;
}
#movie-search-form > .movie-keyword-wrapper > label > input {
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  font-size: 1rem;
  font-weight: 600;
}
#movie-search-form > .movie-keyword-wrapper > .movie-search {
  width: 4rem;
  height: 1.8rem;
  text-align: center;
  background-color: #FB4357;
  border-radius: 0.4rem;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
}

#theater-search-form {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  padding: 1.375rem 0;
  border-bottom: 1px solid #e0e0e0;
  display: none;
}
#theater-search-form > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#theater-search-form > .theater-keyword-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
#theater-search-form > .theater-keyword-wrapper > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#theater-search-form > .theater-keyword-wrapper > label > .theater-keyword {
  color: #9e9e9e;
  font-size: 1rem;
  font-weight: 600;
  padding-right: 0.75rem;
}
#theater-search-form > .theater-keyword-wrapper > label > input {
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  font-size: 1rem;
  font-weight: 600;
}
#theater-search-form > .theater-keyword-wrapper > .theater-search {
  width: 4rem;
  height: 1.8rem;
  text-align: center;
  background-color: #2275a4;
  border-radius: 0.4rem;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
}

#user-search-form {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  padding: 1.375rem 0;
  border-bottom: 1px solid #e0e0e0;
}
#user-search-form > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#user-search-form > .user-keyword-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
#user-search-form > .user-keyword-wrapper > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#user-search-form > .user-keyword-wrapper > label > .user-keyword {
  color: #9e9e9e;
  font-size: 1rem;
  font-weight: 600;
  padding-right: 0.75rem;
}
#user-search-form > .user-keyword-wrapper > label > input {
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  font-size: 1rem;
  font-weight: 600;
}
#user-search-form > .user-keyword-wrapper > .user-search {
  width: 4rem;
  height: 1.8rem;
  text-align: center;
  background-color: #aa3ebc;
  border-radius: 0.4rem;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
}

#movie-page-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  padding: 1.8rem 0;
}
#movie-page-container > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#movie-page-container > .movie-page-wrapper {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}
#movie-page-container > .movie-page-wrapper > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#movie-page-container > .movie-page-wrapper > .prev > a {
  color: #666666;
}
#movie-page-container > .movie-page-wrapper > .prev > a:hover {
  color: #222222;
}
#movie-page-container > .movie-page-wrapper > .next > a {
  color: #666666;
}
#movie-page-container > .movie-page-wrapper > .next > a:hover {
  color: #222222;
}
#movie-page-container > .movie-page-wrapper > .page {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}
#movie-page-container > .movie-page-wrapper > .page > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#movie-page-container > .movie-page-wrapper > .page > a {
  color: #666666;
}
#movie-page-container > .movie-page-wrapper > .page > a:hover {
  color: #222222;
}
#movie-page-container > .movie-page-wrapper > .page > a.selected {
  color: #222222;
}

#theater-page-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  display: none;
  font-size: 1rem;
  font-weight: 700;
  padding: 1.8rem 0;
}
#theater-page-container > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#theater-page-container > .theater-page-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}
#theater-page-container > .theater-page-wrapper > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#theater-page-container > .theater-page-wrapper > .prev > a {
  color: #666666;
}
#theater-page-container > .theater-page-wrapper > .prev > a:hover {
  color: #222222;
}
#theater-page-container > .theater-page-wrapper > .next > a {
  color: #666666;
}
#theater-page-container > .theater-page-wrapper > .next > a:hover {
  color: #222222;
}
#theater-page-container > .theater-page-wrapper > .page {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}
#theater-page-container > .theater-page-wrapper > .page > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#theater-page-container > .theater-page-wrapper > .page > a {
  color: #666666;
}
#theater-page-container > .theater-page-wrapper > .page > a:hover {
  color: #222222;
}
#theater-page-container > .theater-page-wrapper > .page > a.selected {
  color: #222222;
}

#user-page-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  padding: 1.8rem 0;
}
#user-page-container > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#user-page-container > .user-page-wrapper {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}
#user-page-container > .user-page-wrapper > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#user-page-container > .user-page-wrapper > .prev > a {
  color: #666666;
}
#user-page-container > .user-page-wrapper > .prev > a:hover {
  color: #222222;
}
#user-page-container > .user-page-wrapper > .next > a {
  color: #666666;
}
#user-page-container > .user-page-wrapper > .next > a:hover {
  color: #222222;
}
#user-page-container > .user-page-wrapper > .page {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}
#user-page-container > .user-page-wrapper > .page > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#user-page-container > .user-page-wrapper > .page > a {
  color: #666666;
}
#user-page-container > .user-page-wrapper > .page > a:hover {
  color: #222222;
}
#user-page-container > .user-page-wrapper > .page > a.selected {
  color: #222222;
}

.screen-item {
  padding-bottom: 1rem;
  position: relative;
}
.screen-item > .modal {
  top: 100%;
  width: 650px;
  background-color: #333;
  position: absolute;
  z-index: 1;
}
.screen-item > .modal.hidden {
  display: none;
}
.screen-item > .modal > .head {
  padding: 0.5rem;
}
.screen-item > .modal > .head > .h1 {
  border: 0.1rem solid #707070;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.screen-item > .modal > .head > .h1 > .text {
  margin: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #f2f0e5;
}
.screen-item > .modal > .head > .h1 > .button {
  margin: 1rem;
  width: 18px;
  height: 18px;
  background: url("https://img.cgv.co.kr/R2014/images/sprite/sprite_btn.png") no-repeat -72px -62px;
  cursor: pointer;
}
.screen-item > .modal > .content {
  margin: 0 0.5rem 0.5rem 0.5rem;
  background-color: #f6f6f4;
}
.screen-item > .modal > .content > .center {
  padding: 2rem;
}
.screen-item > .modal > .content > .center > .rating-content {
  width: 100%;
  color: #666;
  border-collapse: collapse;
}
.screen-item > .modal > .content > .center > .rating-content > thead > tr {
  background-color: #e2e2e0;
  font-weight: 600;
  font-size: 0.8rem;
}
.screen-item > .modal > .content > .center > .rating-content > thead > tr > td {
  padding: 0.5rem;
}
.screen-item > .modal > .content > .center > .rating-content > thead > tr > td:nth-child(1) {
  width: 10rem;
}
.screen-item > .modal > .content > .center > .rating-content > thead > tr > td:nth-last-child(1) {
  border-left: 0.1rem solid #d6d6cc;
}
.screen-item > .modal > .content > .center > .rating-content > tbody > tr {
  border-bottom: 0.1rem solid #d6d6cc;
}
.screen-item > .modal > .content > .center > .rating-content > tbody > tr > th > .container {
  padding: 0.5rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.screen-item > .modal > .content > .center > .rating-content > tbody > tr > th:nth-last-child(1) {
  border-left: 0.1rem solid #d6d6cc;
}
.screen-item > .modal > .content > .center > .rating-content > tbody > tr > th > label > input {
  padding: 1rem 0.5rem;
}
.screen-item > .modal > .content > .center > .modify {
  left: 50%;
  position: relative;
  margin-top: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  background-color: #2196f3;
  color: #ffffff;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  justify-content: center;
}

/*# sourceMappingURL=is_admin.css.map */
