@charset "UTF-8";
@import "../../fragments/assets/styles/global";

body {
  width: 100%;
  height: 100vh;
  @include flex(column, center, center);
  background-color: #222222;


}

.main {
  width: 20rem;
  height: 20rem;
  > .crawl-button {
    @include flex(column, center, center, 2rem);
    width: 100%;
    height: 100%;

    > button {
      width: 100%;
      height: 100%;
      border: 1px solid #222222;
      background-color: transparent;
      cursor: pointer;


      > img {
        width: 15rem;
      }
    }



    > .system {
      @include flex(column, center, center, 1rem);

      > span {
        color: #FB4357;
        font-size: 2rem;
        font-weight: 700;
        white-space: nowrap;

      }
    }
  }
}