<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>영화관</title>
    <link rel="stylesheet" th:href="@{'./assets/styles/index.css'}" type="text/css">
    <link rel="stylesheet" th:href="@{'../../assets/styles/common.css'}" type="text/css">
    <link rel="stylesheet" th:href="@{'../../fragments/assets/styles/index.css'}" type="text/css">
    <link rel="stylesheet" th:href="@{'../../fragments/assets/styles/common.css'}" type="text/css">
    <script defer th:src="@{'./assets/scripts/index.js'}"></script>
</head>
<body>
<th:block th:replace="~{fragments/common.html :: advertisement}"></th:block>
<th:block th:replace="~{fragments/common.html :: header}"></th:block>
<th:block th:replace="~{fragments/common.html :: nav}"></th:block>
<main id="main">
    <div class="img">
        <div class="head">
            <img src="https://img.cgv.co.kr/R2014/images/title/h4_favorite_cgv.png" alt="" class="image">
            <ul id="favorite-theaters">
                <li class="container">
                    <a href="#" class="text-container">
                        <span class="text">1</span>
                    </a>
                </li>
                <li class="container">
                    <a href="#" class="text-container">
                        <span class="text">2</span>
                    </a>
                </li>
                <li class="container">
                    <a href="#" class="text-container">
                        <span class="text">3</span>
                    </a>
                </li>
                <li class="container">
                    <a href="#" class="text-container">
                        <span class="text">4</span>
                    </a>
                </li>
                <li class="container">
                    <a href="#" class="text-container">
                        <span class="text">5</span>
                    </a>
                </li>
            </ul>
            <button class="button" type="button">
                <img src="https://img.cgv.co.kr/r2014/images/common/btn/btn_plus.gif" alt="" class="image">
            </button>
        </div>
        <ul class="main">
            <li class="item"
                th:each="region : ${regions}"
                th:text="${region.getRegName()}"
                th:rel="${region.getRegName()}">
            </li>
        </ul>
        <ul class="item-container"></ul>
    </div>
    <div class="line-wrapper">
        <div class="line">
            <img src="https://img.cgv.co.kr/R2014/images/title/h3_theater.gif" alt="영화관" class="theater">
        </div>
    </div>
    <div class="theater-container">
        <div class="header">
            <span class="text">CGV대구</span>
            <span class="stretch"></span>
            <span class="button">단체/대관 문의</span>
        </div>
        <div class="img">
            <img src="https://img.cgv.co.kr/Theater/Theater/2022/1223/16717573376930.png" alt="" class="image">
            <div class="theater-info-container">
                <div class="small-container">
                    <div class="header">
                        <div class="info-container">
                            <div class="theater-info">대구광역시 북구 칠성동2가 20-1 스펙트럼시티 4층<br>
                                대구광역시 북구 침산로 93 스펙트럼시티 4층
                            </div>
                        </div>
                        <a href="#" class="theater-info guide" target="_blank">위치 / 주차 안내 ></a>
                        <div class="stretch"></div>
                        <div class="cinema-type">
                            <a href="#" class="imax" target="_blank"></a>
                            <a href="#" class="dx" target="_blank"></a>
                            <a href="#" class="screenX" target="_blank"></a>
                            <a href="#" class="cine" target="_blank"></a>
                        </div>
                    </div>
                    <div class="theater-info">6관/874석</div>
                </div>
                <div class="stretch"></div>
                <div class="notice-container">
                    <div class="theater-info">공지사항</div>
                    <a href="#" class="button"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="advertisement-info">
        <a href="#" target="_self" class="advertisement-move">
            <img src="https://adimg.cgv.co.kr/images/202411/Firefighters/1121_980x90.jpg" alt="배너"
                 class="advertisement">
        </a>
    </div>
    <div class="button-container">
        <div class="button" data-id="cinema">
            <img class="select" src="https://img.cgv.co.kr/R2014/images/common/ico/ico_finger.png" alt=""
                 data-id="cinema">
            <span class="text">상영시간표</span>
        </div>
        <div class="button" data-id="information">
            <img class="select hidden" src="https://img.cgv.co.kr/R2014/images/common/ico/ico_finger.png" alt=""
                 data-id="information">
            <span class="text">위치/주차안내</span>
        </div>
    </div>
    <div class="information" data-id="cinema">
        <div class="cinema-info">
            <div class="day-containers">
                <div class="day-container">
                    <div class="day">hi</div>
                </div>
                <div class="day-container">
                    <div class="day">hi</div>
                </div>
                <div class="day-container">
                    <div class="day">hi</div>
                </div>
                <div class="day-container">
                    <div class="day">hi</div>
                </div>
            </div>
            <div class="notice">* 시간을 클릭하시면 빠른 예매를 할 수 있습니다.</div>
            <ul class="items">
                <li class="item">

                </li>
            </ul>
            <div class="notice-footer">[공지] 입장 지연에 따른 관람 불편을 최소화하기 위해 영화는 10분 후 상영이 시작됩니다.</div>
        </div>
        <div class="advertisement-container">
            <a href="#" target="_self" class="advertisement-move">
                <img src="https://adimg.cgv.co.kr/images/202411/MyHero/1119_160x300.jpg" alt="배너"
                     class="advertisement">
            </a>
            <a href="#" target="_self" class="advertisement-move">
                <img src="https://adimg.cgv.co.kr/images/202411/MyHero/1119_160x300.jpg" alt="배너"
                     class="advertisement">
            </a>
        </div>
    </div>
    <div class="information hidden" data-id="information">
        <div class="car-info">
            <div class="header">
                <span class="bus"></span>
                <span class="text">교통안내</span>
                <span class="stretch"></span>
                <a href="#" class="find">실시간 빠른 길 찾기</a>
            </div>
            <div class="header">
                <span class="car"></span>
                <span class="text">주차안내</span>
                <span class="stretch"></span>
            </div>
        </div>
        <div class="advertisement-container">
            <a href="#" target="_self" class="advertisement-move">
                <img src="https://adimg.cgv.co.kr/images/202411/MyHero/1119_160x300.jpg" alt="배너"
                     class="advertisement">
            </a>
            <a href="#" target="_self" class="advertisement-move">
                <img src="https://adimg.cgv.co.kr/images/202411/MyHero/1119_160x300.jpg" alt="배너"
                     class="advertisement">
            </a>
        </div>
    </div>
</main>
<th:block th:replace="~{fragments/common.html :: footer}"></th:block>
</body>
</html>