<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JGV - 극장</title>
    <link rel="stylesheet" th:href="@{'./assets/styles/index.css'}" type="text/css">
    <link rel="stylesheet" th:href="@{'../../assets/styles/common.css'}" type="text/css">
    <link rel="stylesheet" th:href="@{'../../fragments/assets/styles/index.css'}" type="text/css">
    <link rel="stylesheet" th:href="@{'../../fragments/assets/styles/common.css'}" type="text/css">
    <script defer th:src="@{'./assets/scripts/index.js'}"></script>
    <script defer th:src="@{'../../assets/scripts/common.js'}"></script>
    <script defer th:src="@{'../../fragments/assets/scripts/common.js'}"></script>
    <link rel="shortcut icon" href="https://img.cgv.co.kr/theater_img/favicon.ico" type="image/x-icon">
</head>
<body>
<th:block th:replace="~{fragments/common.html :: advertisement}"></th:block>
<th:block th:replace="~{fragments/common.html :: header}"></th:block>
<th:block th:replace="~{fragments/common.html :: nav}"></th:block>
<main id="main">
    <div class="img">
        <ul class="main">
            <li class="item"
                th:each="region : ${regions}"
                th:text="${region.getRegName()}"
                th:rel="${region.getRegName()}">
            </li>
        </ul>
        <div class="theater-container">
            <ul class="item-container">
                <li class="item"
                    th:each="theater : ${theaters}"
                    th:text="${theater.getThName()}"
                    th:if="${theater.getThName().equals('CGV대구')}"
                    th:classappend="select"></li>
                <li class="item"
                    th:if="${!theater.getThName().equals('CGV대구')}"
                    th:each="theater : ${theaters}"
                    th:text="${theater.getThName()}"></li>
            </ul>
        </div>
    </div>
    <div class="line-wrapper">
        <div class="line">
            <img src="https://img.cgv.co.kr/R2014/images/title/h3_theater.gif" alt="영화관" class="theater">
        </div>
    </div>
    <div class="theater-container" th:if="${theaterVos == null}">
        <div class="header">
            <span class="text">CGV대구</span>
            <span class="stretch"></span>
        </div>
        <div class="img">
            <img src="https://img.cgv.co.kr/Theater/Theater/2022/1223/16717573376930.png" alt="" class="image">
            <div class="theater-info-container">
                <div class="small-container">
                    <div class="header">
                        <div class="info-container">
                            <div class="theater-info">대구광역시 북구 칠성동2가 20-1 스펙트럼시티 4층<br>대구광역시 북구 침산로 93 스펙트럼시티 4층</div>
                        </div>
                        <a href="#menu" class="theater-info guide" target="_self">위치 / 주차 안내 ></a>
                        <div class="stretch"></div>
                        <div class="cinema-type">
                            <div class="IMAX"></div>
                            <div class="DX"></div>
                        </div>
                    </div>
                    <div class="theater-info">8관/320석</div>
                </div>
                <div class="stretch"></div>
            </div>
        </div>
    </div>
    <div class="theater-container"
         th:if="${theaterVos != null}"
         th:each="vos : ${theaterVos}">
        <div class="header">
            <span th:text="${vos[0][0]}" class="text"></span>
            <span class="stretch"></span>
        </div>
        <div class="img">
            <img th:src="${vos[0][3]}" alt="" class="image">
            <div class="theater-info-container">
                <div class="small-container">
                    <div class="header">
                        <div class="info-container">
                            <div th:utext="${vos[0][1]} + '<br>' + ${vos[0][2]}" class="theater-info"></div>
                        </div>
                        <a href="#menu" class="theater-info guide" target="_self">위치 / 주차 안내 ></a>
                        <div class="stretch"></div>
                        <div class="cinema-type">
                            <div th:if="${!vo.equals('2D')}"
                                 th:each="vo : ${vos[1]}"
                                 th:class="${vo}"></div>
                        </div>
                    </div>
                    <div class="theater-info">
                        <div class="tel">1544-1122</div>
                        <div class="infos" th:text="${vos[0][5]} + '관/' + ${vos[0][4]} + '석'"></div>
                        <div class="recliner" th:if="${vos[0][0].equals('CGV대구연경')}">전좌석 리클라이너</div>
                    </div>
                </div>
                <div class="stretch"></div>
            </div>
        </div>
    </div>
    <div class="advertisement-info">
        <a href="" target="_self" class="advertisement-move">
            <img src="" alt="배너"
                 class="advertisement">
        </a>
    </div>
    <div class="button-container">
        <div class="button" data-id="cinema">
            <img class="select" src="https://img.cgv.co.kr/R2014/images/common/ico/ico_finger.png" alt=""
                 data-id="cinema">
            <span class="text">상영시간표</span>
        </div>
        <div class="button" data-id="information">
            <img class="select hidden" src="https://img.cgv.co.kr/R2014/images/common/ico/ico_finger.png" alt=""
                 data-id="information">
            <span class="text">위치/주차안내</span>
        </div>
    </div>
    <div class="information" data-id="cinema">
        <div class="cinema-info">
            <div class="cinema-header">
                <div class="day-containers"
                     th:if="${theaterVos != null}"
                     th:each="vos : ${theaterVos}">
                    <button class="before button"></button>
                    <ul class="day-container">
                        <th:block th:each="vo : ${vos[2]}">
                            <li class="item" th:each="date, iterStat : ${vo.value.split(',')}">
                                <div class="small-container">
                                    <div th:text="${vo.key.split('-')[1]} + '월'" class="day"></div>
                                    <div th:text="${date.split('-')[1]}" class="day"></div>
                                </div>
                                <div th:text="${date.split('-')[0]}" class="day"></div>
                            </li>
                        </th:block>
                    </ul>
                    <button class="after button"></button>
                </div>
                <div class="day-containers"
                     th:if="${theaterVos == null}">
                    <button class="before button"></button>
                    <ul class="day-container">
                    </ul>
                    <button class="after button"></button>
                </div>
                <div class="cinema-info-detail">
                    <div class="cinema-detail price">관람가격 안내</div>
                    <div class="cinema-detail rating">관람등급 안내</div>
                    <div class="modal hidden" rel="price">
                        <div class="head">
                            <div class="h1">
                                <div class="text">JGV 관람 가격 안내</div>
                                <div class="stretch"></div>
                                <div class="button"></div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="center">
                                <table class="rating-content">
                                    <thead>
                                    <tr>
                                        <td>구분</td>
                                        <td>가격</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>
                                            <div class="container">
                                                <div class="D text">2D</div>
                                            </div>
                                        </th>
                                        <td>
                                            <div class="text">14,000원</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="container">
                                                <div class="IMAX"></div>
                                            </div>
                                        </th>
                                        <td>
                                            <div class="text">19,000원</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="container">
                                                <div class="DX"></div>
                                            </div>
                                        </th>
                                        <td>
                                            <div class="text">19,000원</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="container">
                                                <div class="SCREENX"></div>
                                            </div>
                                        </th>
                                        <td>
                                            <div class="text">17,000원</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="container">
                                                <div class="recliner text">리클라이너</div>
                                            </div>
                                        </th>
                                        <td>
                                            <div class="text">14,000원</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="container">
                                                <div class="CINE&FORET"></div>
                                            </div>
                                        </th>
                                        <td>
                                            <div class="text">22,000원</div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal hidden" rel="rating">
                        <div class="head">
                            <div class="h1">
                                <div class="text">JGV 관람 등급 안내</div>
                                <div class="stretch"></div>
                                <div class="button"></div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="center">
                                <table class="rating-content">
                                    <thead>
                                    <tr>
                                        <td>구분</td>
                                        <td>성명</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>
                                            <div class="container">
                                                <div class="rating all"></div>
                                                <div>전체 관람가</div>
                                            </div>
                                        </th>
                                        <td>
                                            <div class="text">모든 연령의 고객님께서 관람하실 수 있습니다.</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="container">
                                                <div class="rating twelve"></div>
                                                <div>12세 관람가</div>
                                            </div>
                                        </th>
                                        <td>
                                            <div class="text">만 12세 미만의 고객님은 보호자를 동반하셔야 관람하실 수 있습니다.</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="container">
                                                <div class="rating fifteen"></div>
                                                <div>15세 관람가</div>
                                            </div>
                                        </th>
                                        <td>
                                            <div class="text">만 15세 미만의 고객님은 보호자를 동반하셔야 관람하실 수 있습니다.</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="container">
                                                <div class="rating nineteen"></div>
                                                <div>19세 관람가</div>
                                            </div>
                                        </th>
                                        <td>
                                            <div class="text">만 19세 미만(영/유아 포함)은 보호자가 동반하여도 관람이 불가합니다.
                                                <br>
                                                (단, 만19세가 되는 해의 1월 1일을 맞이한 사람은 제외)
                                                <br>
                                                - 입장 시 신분증을 꼭 지참하시기 바랍니다
                                                <br>
                                                - 신분증(사진/캡쳐 불가)
                                                <br>
                                                주민등록증, 운전면허증, 여권, 모바일신분증(PASS, 정부24등)
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="container">
                                                <div class="rating none"></div>
                                                <div>미정</div>
                                            </div>
                                        </th>
                                        <td>
                                            <div class="text">등급 미정 영화입니다.</div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="notice">* 시간을 클릭하시면 빠른 예매를 할 수 있습니다.</div>
            <ul class="items" th:if="${screenVos == null}">
            </ul>
            <ul class="items" th:if="${screenVos != null}">
                <li class="item" th:each="screen : ${screenVos}">
                    <div class="movie-container">
                        <div th:classappend="${screen.key[0]}" class="rating"></div>
                        <a th:text="${screen.key[1]}" th:href="@{'../movies/movieList/movieInfo/' + ${screen.key[5]}}"
                           class="text"></a>
                        <div class="date-notice">
                            <span th:if="${screen.key[3] <= #dates.format(#dates.createNow(), 'yyyy.MM.dd')}"
                                  class="able">상영중</span>
                            <span th:if="${screen.key[3] > #dates.format(#dates.createNow(), 'yyyy.MM.dd')}"
                                  class="reservation">예매중</span>
                            <span th:if="${screen.key[3] > #dates.format(#dates.createNow(), 'yyyy.MM.dd')}"
                                  th:text="${screen.key[7].replace('P', 'D').substring(0, screen.key[7].length() - 1)}"
                                  class="dDay"></span>
                        </div>
                        <span th:text="${screen.key[6].replace('[', '').replace(']', '') + '/' + screen.key[2] + '분/' + screen.key[3] + ' 개봉'}"
                              class="long-text"></span>
                    </div>
                    <div class="screen-container"
                         th:each="scVal : ${screen.value}">
                        <div class="theater-info">
                            <img class="arrow" src="https://img.cgv.co.kr/r2014/images/common/ico/ico_arrow03.png"
                                 alt="화살표">
                            <span th:if="${!scVal.key[1].equals('DX')}" th:text="${scVal.key[1]}" class="text"></span>
                            <span th:if="${scVal.key[1].equals('DX')}" th:text="4 + ${scVal.key[1]}"
                                  class="text"></span>
                            <img src="https://img.cgv.co.kr/r2014/images/common/bg/bg_li_vline.gif" alt="작대기">
                            <span th:if="${scVal.key[0].replace('&', '').trim().equals(scVal.key[1])}"
                                  th:classappend="${scVal.key[0].replace('&', '').trim()}" class="text"></span>
                            <span th:if="${!scVal.key[0].replace('&', '').trim().equals(scVal.key[1])}"
                                  th:text="${scVal.key[0]}" class="text"></span>
                            <img src="https://img.cgv.co.kr/r2014/images/common/bg/bg_li_vline.gif" alt="작대기">
                            <span th:text="'총 ' + ${screen.key[4]} + '석'" class="text"></span>
                        </div>
                        <div class="time-table-container">
                            <a th:href="@{../ticket/}" class="time-table" th:each="sc : ${scVal.value}">
                                <div th:text="${sc.split(',')[0].replace('[', '')}" class="time"></div>
                                <div th:text="${sc.split(',')[1].replace(']', '')} + '석'" class="seat"></div>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="notice-footer">[공지] 입장 지연에 따른 관람 불편을 최소화하기 위해 영화는 10분 후 상영이 시작됩니다.</div>
        </div>
        <div class="advertisement-container">
            <a href="" target="_self" class="advertisement-move">
                <img src="" alt="배너"
                     class="advertisement">
            </a>
            <a href="" target="_self" class="advertisement-move">
                <img src="" alt="배너"
                     class="advertisement">
            </a>
        </div>
    </div>
    <div class="information hidden" data-id="information">
        <div class="car-info" id="menu">
            <div class="header">
                <span class="bus"></span>
                <span class="text">교통안내</span>
                <span class="stretch"></span>
                <a href="#" target="_blank" class="find">실시간 빠른 길 찾기</a>
            </div>
            <div class="bus detail"
                 th:if="${theaterVos != null}"
                 th:each="map : ${theaterVos}"
                 th:utext="${map[0][6].split('&&')[0]}">
            </div>
            <div class="bus detail"
                 th:if="${theaterVos == null}">
            </div>
            <div class="header">
                <span class="car"></span>
                <span class="text">주차안내</span>
                <span class="stretch"></span>
            </div>
            <div class="car detail"
                 th:if="${theaterVos != null}"
                 th:each="map : ${theaterVos}"
                 th:utext="${map[0][6].split('&&')[1]}">
            </div>
            <div class="car detail"
                 th:if="${theaterVos == null}">
            </div>
        </div>
        <div class="advertisement-container">
            <a href="" target="_self" class="advertisement-move">
                <img src="" alt="배너"
                     class="advertisement">
            </a>
            <a href="" target="_self" class="advertisement-move">
                <img src="" alt="배너"
                     class="advertisement">
            </a>
        </div>
    </div>
</main>
<th:block th:replace="~{fragments/common.html :: footer}"></th:block>
</body>
</html>