<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.jwkim.jgv.mappers.ticket.PaymentMapper">
    <insert id="insertPayment" parameterType="dev.jwkim.jgv.entities.ticket.PaymentEntity">
        insert jgv.payment (
            `pa_price`, `pa_state`, `pa_created_at`, `pa_deleted_at`, `us_num`, `me_num`)
        VALUES (#{paPrice}, #{paState}, #{paCreatedAt}, #{paDeletedAt}, #{usNum}, #{meNum});
    </insert>
    <update id="updatePaymentState" parameterType="dev.jwkim.jgv.entities.ticket.PaymentEntity">
        UPDATE jgv.payment
        SET pa_state = #{paState}
        WHERE pa_num = #{paNum}
    </update>
    <delete id="deletePayment" parameterType="int">
        delete
        from jgv.payment
        where pa_num = #{paNum}
          and pa_state = false
    </delete>
</mapper>