<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.jwkim.jgv.mappers.ticket.ReservationMapper">
    <insert id="insertReservation" parameterType="dev.jwkim.jgv.entities.ticket.ReservationEntity">
        insert jgv.reservation(`re_num`, `sc_num`, `se_num`, `pa_num`)
        VALUES (#{reNum}, #{scNum}, #{seNum}, #{paNum})
    </insert>
    <select id="selectReservationByScNum" parameterType="dev.jwkim.jgv.entities.theater.ScreenEntity">
        select screen.`sc_num` as `scNum`
        from jgv.screen
                 left join jgv.movie on screen.mo_num = movie.mo_num
                 left join jgv.cinema on screen.ci_num = cinema.ci_num
                 left join jgv.theater on cinema.th_num = theater.th_num
        where movie.`mo_title` = #{moTitle}
          and cinema.`ci_name` = #{ciName}
          and theater.`th_name` = #{thName}
          and sc_start_date = #{scStartDate}
    </select>
    <select id="selectPaymentByPaNum"  parameterType="dev.jwkim.jgv.entities.ticket.PaymentEntity">
        select `pa_num` as `paNum`
        from jgv.payment
                 left join jgv.method on payment.me_num = method.me_num
                 left join jgv.user on payment.us_num = user.us_num
        where `me_name` = #{meName}
          and payment.`us_num` = #{usNum}
          and `pa_state` = false
    </select>
    <select id="selectSeatBySeNum" parameterType="dev.jwkim.jgv.entities.ticket.SeatEntity">
        select `se_num` as `seNum`
        from jgv.seat
                 left join jgv.cinema on seat.ci_num = cinema.ci_num
                 left join jgv.theater on cinema.th_num = theater.th_num
        where `se_name` = #{seName}
          and `ci_name` = #{ciName}
          and `th_name` = #{thName}
    </select>
</mapper>