<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.jwkim.jgv.mappers.ticket.TicketMapper">
    <insert id="insertScreen"
            parameterType="dev.jwkim.jgv.entities.theater.ScreenEntity">
        INSERT INTO `jgv`.`screen` (sc_start_date, mo_num, ci_num)
        VALUES (#{scStartDate}, #{moNum}, #{ciNum})
    </insert>
    <select id="selectMovieNumByMovieTitle"
            resultType="dev.jwkim.jgv.entities.movie.MovieEntity">
        SELECT `mo_num`          AS `moNum`,
               `mo_title`        AS `moTitle`,
               `mo_date`         AS `moDate`,
               `mo_time`         AS `moTime`,
               `mo_plot`         AS `moPlot`,
               `mo_booking_rate` AS `moBookingRate`,
               `mo_ending`       AS `moEnding`,
               `ra_num`          AS `raNum`
        FROM `jgv`.`movie`
        WHERE `mo_title` = #{moTitle}
    </select>
    <select id="selectCinemaNumByCinemaTitle"
            resultType="dev.jwkim.jgv.entities.theater.CinemaEntity">
        SELECT `ci_num`  AS `ciNum`,
               `ci_name` AS `ciName`,
               `cinema`.`th_num`  AS `thNum`
        FROM `jgv`.`cinema`
                 LEFT JOIN `jgv`.`theater` t ON `cinema`.th_num = t.th_num
        WHERE `ci_name` = #{ciName}
          AND `th_name` = #{thName}
    </select>
    <select id="selectCinemaNumByCinemaType"
            resultType="dev.jwkim.jgv.entities.theater.CinemaEntity">
        SELECT `ci_num`,
               `ci_name`,
               `cinema`.`th_num`,
               `cinema`.`cit_num`
        FROM `jgv`.`cinema`
                 LEFT JOIN `jgv`.`theater` t ON `cinema`.`th_num` = t.th_num
                 LEFT JOIN `jgv`.`cinema_type` ct on ct.cit_num = cinema.cit_num
        WHERE `th_name` = #{thName}
          AND `cit_name` = #{citName}
    </select>
    <select id="selectDuplicateScreen"
            resultType="dev.jwkim.jgv.entities.theater.ScreenEntity">
        SELECT sc_num        AS `scNum`,
               sc_start_date AS `scStartDate`,
               mo_num        AS `moNum`,
               ci_num        AS `ciNum`
        FROM `jgv`.`screen`
        WHERE `sc_start_date` = #{startDate}
          AND `mo_num` = #{moNum}
          AND `ci_num` = #{ciNum}
    </select>
    <select id="selectAllMoviesByRating"
            resultType="dev.jwkim.jgv.vos.theater.MovieVo">
        SELECT `mo_num` AS `moNum`,
               `mo_title` AS `moTitle`,
               `mo_date` AS `moDate`,
               `mo_time` AS `moTime`,
               `mo_plot` AS `moPlot`,
               `mo_booking_rate` AS `moBookingRate`,
               `mo_ending` AS `moEnding`,
               `movie`.`ra_num` AS `raNum`,
               `ra_grade` AS `raGrade`
        FROM `jgv`.`movie`
                 LEFT JOIN `jgv`.`rating` ra ON movie.ra_num = ra.ra_num
        ORDER BY `mo_booking_rate` DESC
    </select>
    <select id="selectAllMoviesByKorea"
            resultType="dev.jwkim.jgv.vos.theater.MovieVo">
        SELECT `mo_num` AS `moNum`,
               `mo_title` AS `moTitle`,
               `mo_date` AS `moDate`,
               `mo_time` AS `moTime`,
               `mo_plot` AS `moPlot`,
               `mo_booking_rate` AS `moBookingRate`,
               `mo_ending` AS `moEnding`,
               `movie`.`ra_num` AS `raNum`,
               `ra_grade` AS `raGrade`
        FROM `jgv`.`movie`
                 LEFT JOIN `jgv`.`rating` ra ON movie.ra_num = ra.ra_num
        ORDER BY `mo_title`
    </select>
    <select id="selectRegionAndTheaterCount"
            resultType="dev.jwkim.jgv.vos.theater.RegionVo">
        SELECT `reg_num`                                        AS `regNum`,
               `reg_name`                                       AS `regName`,
               (SELECT COUNT(0)
                FROM `jgv`.`theater`
                WHERE `region`.`reg_num` = `theater`.`reg_num`) AS `theaterCount`
        FROM `jgv`.`region`
    </select>
    <select id="selectAllScreenDates"
            resultType="dev.jwkim.jgv.entities.theater.ScreenEntity">
        SELECT `sc_num`        AS `scNum`,
               `sc_start_date` AS `scStartDate`,
               `mo_num`        AS `moNum`,
               `ci_num`        AS `ciNum`
        FROM `jgv`.`screen`
    </select>
    <select id="selectAllMoviesByMoTitle"
            resultType="dev.jwkim.jgv.vos.theater.MovieVo">
        SELECT movie.`mo_num`    AS `moNum`,
               `mo_title`        AS `moTitle`,
               `mo_date`         AS `moDate`,
               `mo_time`         AS `moTime`,
               `mo_plot`         AS `moPlot`,
               `mo_booking_rate` AS `moBookingRate`,
               `mo_ending`       AS `moEnding`,
               `m_img_url`       AS `mImgUrl`,
               `ra_grade`        AS `raGrade`,
               `sc_start_date`   AS `scStartDate`,
               `th_name`         AS `thName`,
               (SELECT COUNT(DISTINCT `th_name`)
                FROM `jgv`.`theater`
                         LEFT JOIN `jgv`.`cinema` ON `cinema`.`th_num` = `theater`.`th_num`
                         LEFT JOIN `jgv`.`screen` ON `cinema`.`ci_num` = `screen`.`ci_num`
                WHERE `screen`.`mo_num` = movie.`mo_num`) AS `theaterCount`,
               `reg_name` AS `regName`
        FROM `jgv`.`movie`
                 LEFT JOIN `jgv`.`movie_image` mi ON `movie`.`mo_num` = `mi`.`mo_num`
                 LEFT JOIN `jgv`.`rating` ON `movie`.`ra_num` = `rating`.`ra_num`
                 LEFT JOIN `jgv`.`screen` ON movie.mo_num = screen.mo_num
                 LEFT JOIN `jgv`.`cinema` ON screen.ci_num = cinema.ci_num
                 LEFT JOIN `jgv`.`theater` ON cinema.th_num = theater.th_num
                 LEFT JOIN `jgv`.`region` ON theater.reg_num = region.reg_num
        WHERE `mo_title` = #{moTitle}
    </select>

    <select id="selectScreenDatesByMovieAndTheaterAndDate"
            resultType="dev.jwkim.jgv.vos.theater.ScreenVo">
        SELECT `sc_num`                              AS `scNum`,
               `sc_start_date`                       AS `scStartDate`,
               `mo_num`                              AS `moNum`,
               `screen`.`ci_num`                       AS `ciNum`,
               `ci_name`                             AS `ciName`,
               `th_num`                              AS `thNum`,
               `cit_name`                            AS `citName`,
               (SELECT COUNT(0)
                FROM `jgv`.`seat`
                WHERE seat.`ci_num` = cinema.ci_num) AS `seatCount`
        FROM `jgv`.`screen`
                 LEFT JOIN `jgv`.`cinema` ON `screen`.`ci_num` = `cinema`.`ci_num`
                 LEFT JOIN `jgv`.`cinema_type` cit on `cinema`.`cit_num` = `cit`.`cit_num`
        WHERE `mo_num` = #{movie}
          AND `th_num` = #{theater}
          AND `sc_start_date` LIKE CONCAT('%', #{date}, '%')
    </select>
    <select id="selectTheater"
            resultType="dev.jwkim.jgv.entities.theater.TheaterEntity">
        SELECT `th_num`  AS `thNum`,
               `th_name` AS `thName`,
               `th_addr` AS `thAddr`,
               `th_img`  AS `thImg`,
               `reg_num` AS `regNum`
        FROM `jgv`.`theater`
        WHERE `th_name` = #{thName}
    </select>
    <select id="selectAllMoviesByThName"
            resultType="dev.jwkim.jgv.vos.theater.MovieVo">
        SELECT movie.`mo_num`    AS `moNum`,
               `mo_title`        AS `moTitle`,
               `mo_date`         AS `moDate`,
               `mo_time`         AS `moTime`,
               `mo_plot`         AS `moPlot`,
               `mo_booking_rate` AS `moBookingRate`,
               `mo_ending`       AS `moEnding`,
               `m_img_url`       AS `mImgUrl`,
               `ra_grade`        AS `raGrade`,
               `sc_start_date`   AS `scStartDate`,
               `th_name`         AS `thName`,
               (SELECT COUNT(DISTINCT `th_name`)
                FROM `jgv`.`theater`
                         LEFT JOIN `jgv`.`cinema` ON `cinema`.`th_num` = `theater`.`th_num`
                         LEFT JOIN `jgv`.`screen` ON `cinema`.`ci_num` = `screen`.`ci_num`
                WHERE `screen`.`mo_num` = movie.`mo_num`) AS `theaterCount`,
               `reg_name` AS `regName`
        FROM `jgv`.`movie`
                 LEFT JOIN `jgv`.`movie_image` mi ON `movie`.`mo_num` = `mi`.`mo_num`
                 LEFT JOIN `jgv`.`rating` ON `movie`.`ra_num` = `rating`.`ra_num`
                 LEFT JOIN `jgv`.`screen` ON movie.mo_num = screen.mo_num
                 LEFT JOIN `jgv`.`cinema` ON screen.ci_num = cinema.ci_num
                 LEFT JOIN `jgv`.`theater` ON cinema.th_num = theater.th_num
                 LEFT JOIN `jgv`.`region` ON theater.reg_num = region.reg_num
        WHERE `th_name` = #{thName}
    </select>
    <select id="selectAllMoviesByscStartDate"
            resultType="dev.jwkim.jgv.vos.theater.MovieVo">
        SELECT movie.`mo_num`    AS `moNum`,
               `mo_title`        AS `moTitle`,
               `mo_date`         AS `moDate`,
               `mo_time`         AS `moTime`,
               `mo_plot`         AS `moPlot`,
               `mo_booking_rate` AS `moBookingRate`,
               `mo_ending`       AS `moEnding`,
               `m_img_url`       AS `mImgUrl`,
               `ra_grade`        AS `raGrade`,
               `sc_start_date`   AS `scStartDate`,
               `th_name`         AS `thName`,
               (SELECT COUNT(DISTINCT `th_name`)
                FROM `jgv`.`theater`
                         LEFT JOIN `jgv`.`cinema` ON `cinema`.`th_num` = `theater`.`th_num`
                         LEFT JOIN `jgv`.`screen` ON `cinema`.`ci_num` = `screen`.`ci_num`
                WHERE `screen`.`mo_num` = movie.`mo_num`) AS `theaterCount`,
               `reg_name` AS `regName`
        FROM `jgv`.`movie`
                 LEFT JOIN `jgv`.`movie_image` mi ON `movie`.`mo_num` = `mi`.`mo_num`
                 LEFT JOIN `jgv`.`rating` ON `movie`.`ra_num` = `rating`.`ra_num`
                 LEFT JOIN `jgv`.`screen` ON movie.mo_num = screen.mo_num
                 LEFT JOIN `jgv`.`cinema` ON screen.ci_num = cinema.ci_num
                 LEFT JOIN `jgv`.`theater` ON cinema.th_num = theater.th_num
                 LEFT JOIN `jgv`.`region` ON theater.reg_num = region.reg_num
        WHERE `sc_start_date` LIKE CONCAT('%', #{scStartDate}, '%')
    </select>
    <select id="selectAllMoviesByMoTitleAndThName"
            resultType="dev.jwkim.jgv.vos.theater.MovieVo">
        SELECT movie.`mo_num`                             AS `moNum`,
               `mo_title`                                 AS `moTitle`,
               `mo_date`                                  AS `moDate`,
               `mo_time`                                  AS `moTime`,
               `mo_plot`                                  AS `moPlot`,
               `mo_booking_rate`                          AS `moBookingRate`,
               `mo_ending`                                AS `moEnding`,
               `m_img_url`                                AS `mImgUrl`,
               `ra_grade`                                 AS `raGrade`,
               `sc_start_date`                            AS `scStartDate`,
               `th_name`                                  AS `thName`,
               (SELECT COUNT(DISTINCT `th_name`)
                FROM `jgv`.`theater`
                         LEFT JOIN `jgv`.`cinema` ON `cinema`.`th_num` = `theater`.`th_num`
                         LEFT JOIN `jgv`.`screen` ON `cinema`.`ci_num` = `screen`.`ci_num`
                WHERE `screen`.`mo_num` = movie.`mo_num`) AS `theaterCount`,
               `reg_name`                                 AS `regName`
        FROM `jgv`.`movie`
                 LEFT JOIN `jgv`.`movie_image` mi ON `movie`.`mo_num` = `mi`.`mo_num`
                 LEFT JOIN `jgv`.`rating` ON `movie`.`ra_num` = `rating`.`ra_num`
                 LEFT JOIN `jgv`.`screen` ON movie.mo_num = screen.mo_num
                 LEFT JOIN `jgv`.`cinema` ON screen.ci_num = cinema.ci_num
                 LEFT JOIN `jgv`.`theater` ON cinema.th_num = theater.th_num
                 LEFT JOIN `jgv`.`region` ON theater.reg_num = region.reg_num
        WHERE `th_name` = #{thName}
          AND `mo_title` = #{moTitle}
    </select>
    <select id="selectAllMoviesByMoTitleAndScStartDate"
            resultType="dev.jwkim.jgv.vos.theater.MovieVo">
        SELECT movie.`mo_num`                             AS `moNum`,
               `mo_title`                                 AS `moTitle`,
               `mo_date`                                  AS `moDate`,
               `mo_time`                                  AS `moTime`,
               `mo_plot`                                  AS `moPlot`,
               `mo_booking_rate`                          AS `moBookingRate`,
               `mo_ending`                                AS `moEnding`,
               `m_img_url`                                AS `mImgUrl`,
               `ra_grade`                                 AS `raGrade`,
               `sc_start_date`                            AS `scStartDate`,
               `th_name`                                  AS `thName`,
               (SELECT COUNT(DISTINCT `th_name`)
                FROM `jgv`.`theater`
                         LEFT JOIN `jgv`.`cinema` ON `cinema`.`th_num` = `theater`.`th_num`
                         LEFT JOIN `jgv`.`screen` ON `cinema`.`ci_num` = `screen`.`ci_num`
                WHERE `screen`.`mo_num` = movie.`mo_num`) AS `theaterCount`,
               `reg_name`                                 AS `regName`
        FROM `jgv`.`movie`
                 LEFT JOIN `jgv`.`movie_image` mi ON `movie`.`mo_num` = `mi`.`mo_num`
                 LEFT JOIN `jgv`.`rating` ON `movie`.`ra_num` = `rating`.`ra_num`
                 LEFT JOIN `jgv`.`screen` ON movie.mo_num = screen.mo_num
                 LEFT JOIN `jgv`.`cinema` ON screen.ci_num = cinema.ci_num
                 LEFT JOIN `jgv`.`theater` ON cinema.th_num = theater.th_num
                 LEFT JOIN `jgv`.`region` ON theater.reg_num = region.reg_num
        WHERE `sc_start_date` LIKE CONCAT('%', #{scStartDate}, '%')
          AND `mo_title` = #{moTitle}
    </select>
    <select id="selectAllMoviesByThNameAndScStartDate"
            resultType="dev.jwkim.jgv.vos.theater.MovieVo">
        SELECT movie.`mo_num`                             AS `moNum`,
               `mo_title`                                 AS `moTitle`,
               `mo_date`                                  AS `moDate`,
               `mo_time`                                  AS `moTime`,
               `mo_plot`                                  AS `moPlot`,
               `mo_booking_rate`                          AS `moBookingRate`,
               `mo_ending`                                AS `moEnding`,
               `m_img_url`                                AS `mImgUrl`,
               `ra_grade`                                 AS `raGrade`,
               `sc_start_date`                            AS `scStartDate`,
               `th_name`                                  AS `thName`,
               (SELECT COUNT(DISTINCT `th_name`)
                FROM `jgv`.`theater`
                         LEFT JOIN `jgv`.`cinema` ON `cinema`.`th_num` = `theater`.`th_num`
                         LEFT JOIN `jgv`.`screen` ON `cinema`.`ci_num` = `screen`.`ci_num`
                WHERE `screen`.`mo_num` = movie.`mo_num`) AS `theaterCount`,
               `reg_name`                                 AS `regName`
        FROM `jgv`.`movie`
                 LEFT JOIN `jgv`.`movie_image` mi ON `movie`.`mo_num` = `mi`.`mo_num`
                 LEFT JOIN `jgv`.`rating` ON `movie`.`ra_num` = `rating`.`ra_num`
                 LEFT JOIN `jgv`.`screen` ON movie.mo_num = screen.mo_num
                 LEFT JOIN `jgv`.`cinema` ON screen.ci_num = cinema.ci_num
                 LEFT JOIN `jgv`.`theater` ON cinema.th_num = theater.th_num
                 LEFT JOIN `jgv`.`region` ON theater.reg_num = region.reg_num
        WHERE `sc_start_date` LIKE CONCAT('%', #{scStartDate}, '%')
          AND `th_name` = #{thName}
    </select>
    <!-- 분리점 -->
    <select id="selectSeatByCitPrice" resultType="dev.jwkim.jgv.vos.ticket.CinemaTypeVo">
        select cinema_type.`cit_price` as `citPrice`,
               `mo_time`               as moTime,
               `m_img_url`               as `mImgUrl`
        from jgv.cinema_type
                 left join jgv.cinema on cinema.cit_num = cinema_type.cit_num
                 left join jgv.theater on cinema.th_num = theater.th_num
                 left join jgv.screen on cinema.ci_num = screen.ci_num
                 left join jgv.movie on screen.mo_num = movie.mo_num
                 left join jgv.movie_image on movie.mo_num = movie_image.mo_num
        where cinema.`ci_name` = #{ciName}
          and theater.`th_name` = #{thName}
          and movie.`mo_title` = #{moTitle}
          and sc_start_date = #{scStartDate}

    </select>
    <select id="selectSeatByReservationSeNum" resultType="dev.jwkim.jgv.vos.ticket.SeatVo">
        select distinct seat.se_num    as `SeNum`,
                        se_name        as `seName`,
                        seat.ci_num    as `ciNum`,
                        movie.`mo_num` as `moNum`
        from jgv.seat
                 left join jgv.reservation on reservation.se_num = seat.se_num
                 left join jgv.cinema on seat.ci_num = cinema.ci_num
                 left join jgv.theater on cinema.th_num = theater.th_num
                 left join jgv.screen on reservation.sc_num = screen.sc_num
                 left join jgv.movie on screen.mo_num = movie.mo_num
        where ci_name = #{ciName}
          and th_name = #{thName}
          and mo_title = #{moTitle}
          and sc_start_date = #{scStartDate}
    </select>
</mapper>