#main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main .imax {
  width: 5rem;
  height: 1rem;
  background-image: url("https://img.cgv.co.kr/R2014/images/sprite/sprite_screentype02.png");
  background-repeat: no-repeat;
  background-position: -99px -18px;
  display: flex;
}
#main .dx {
  width: 5rem;
  height: 1rem;
  background-image: url("https://img.cgv.co.kr/R2014/images/sprite/sprite_screentype02.png");
  background-repeat: no-repeat;
  background-position: -99px -36px;
  display: flex;
}
#main .screenX {
  width: 5rem;
  height: 1rem;
  background-image: url("https://img.cgv.co.kr/R2014/images/sprite/sprite_screentype02.png");
  background-repeat: no-repeat;
  background-position: -99px -162px;
  display: flex;
}
#main .cine {
  width: 5rem;
  height: 1rem;
  background-image: url("https://img.cgv.co.kr/R2014/images/sprite/sprite_screentype02.png");
  background-repeat: no-repeat;
  background-position: -99px -348px;
  display: flex;
}
#main > .img {
  width: 61.4rem;
  height: 28rem;
  background-image: url("https://img.cgv.co.kr/r2014/images/common/bg/bg_showtimes_favorite.gif");
}
#main > .img > .head {
  margin: 4rem 0 1rem 4.5rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  justify-content: flex-start;
}
#main > .img > .head #favorite-theaters {
  margin-left: 1rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  justify-content: center;
}
#main > .img > .head #favorite-theaters > .container {
  width: 7.5rem;
  height: 2.5rem;
  border: 0.15rem solid #6e6c6d;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main > .img > .head #favorite-theaters > .container > .text-container {
  width: 95%;
  height: 90%;
  border: 0.1rem solid #6e6c6d;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#main > .img > .head #favorite-theaters > .container > .text-container > .text {
  color: #ffffff;
}
#main > .img > .head > .button {
  background-color: #636162;
  border: 0.2rem solid #6e6c6d;
}
#main > .img > .head > .button > .image {
  width: 2.5rem;
  height: 2rem;
  cursor: pointer;
}
#main > .img > .main {
  width: 53.5rem;
  height: 2rem;
  margin-left: 4rem;
  border-top: 0.15rem solid #727171;
  border-bottom: 0.15rem solid #727171;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 3.5rem;
  justify-content: flex-start;
}
#main > .img > .main > .item {
  color: #dbdbdb;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.9rem;
}
#main > .img > .main > .item.select {
  padding: 0.5rem 0;
  color: #ffffff;
  background-image: url("https://img.cgv.co.kr/r2014/images/common/ico/ico_arrow02.png");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 97%;
}
#main > .img > .main > .item:nth-child(1) {
  margin-left: 2rem;
}
#main > .img > .main > .item:hover {
  color: #ffffff;
}
#main > .img > .item-container {
  width: 52.5rem;
  flex-wrap: wrap;
  margin: 1rem 0 0 5rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-start;
}
#main > .img > .item-container > .item {
  padding-right: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  border-right: 0.1rem solid #6e6c6d;
  color: #dbdbdb;
  cursor: pointer;
}
#main > .img > .item-container > .item.select {
  color: #ffffff;
}
#main > .img > .item-container > .item:hover {
  color: #ffffff;
}
#main > .img > .item-container > .item:nth-last-child(1) {
  border: none;
}
#main > .line-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main > .line-wrapper > .line {
  margin-top: 2rem;
  width: 61.4rem;
  background-image: url("https://img.cgv.co.kr/r2014/images/common/bg/bg_h3_line.jpg");
  background-repeat: repeat-x;
  background-position: center;
  text-align: center;
}
#main > .theater-container {
  width: 61.4rem;
}
#main > .theater-container > .header {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#main > .theater-container > .header > .text {
  font-size: 2rem;
  font-weight: 500;
}
#main > .theater-container > .header > .button {
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.1rem 0.5rem;
  cursor: pointer;
  background-color: #fb4357;
  border: #fb4357 solid 0.25rem;
  color: #ffffff;
}
#main > .theater-container > .img {
  position: relative;
}
#main > .theater-container > .img > .image {
  width: 100%;
  height: 25rem;
}
#main > .theater-container > .img > .theater-info-container {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40%;
  background-image: url("https://img.cgv.co.kr/R2014/images/common/bg/bg_dim80.png");
  background-repeat: repeat;
  position: absolute;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#main > .theater-container > .img > .theater-info-container .theater-info {
  color: #ffffff;
  font-weight: 600;
  font-size: 0.85rem;
}
#main > .theater-container > .img > .theater-info-container .theater-info.guide {
  display: flex;
  align-items: flex-end;
  color: #b1b1ab;
  font-size: 0.7rem;
}
#main > .theater-container > .img > .theater-info-container > .small-container {
  margin: 2rem 0 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
#main > .theater-container > .img > .theater-info-container > .small-container > .header {
  width: 40rem;
  height: 2rem;
  display: flex;
  gap: 0.5rem;
}
#main > .theater-container > .img > .theater-info-container > .small-container > .header > .cinema-type {
  width: 11rem;
  flex-wrap: wrap;
  display: flex;
  gap: 0.5rem;
}
#main > .theater-container > .img > .theater-info-container > .notice-container {
  width: 10rem;
  height: 7rem;
  margin: 2rem 10rem 0 0;
  padding: 0 0 0 1rem;
  border-left: 0.1rem solid #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;
}
#main > .theater-container > .img > .theater-info-container > .notice-container > .button {
  width: 1.3rem;
  height: 1.3rem;
  background-image: url("https://img.cgv.co.kr/R2014/images/sprite/sprite_btn.png");
  background-position: -50px -62px;
  background-repeat: no-repeat;
}
#main > .advertisement-info > .advertisement-move > .advertisement {
  margin-top: 1rem;
  width: 61.4rem;
}
#main > .button-container {
  margin: 2rem 0;
  padding: 0.5rem 1rem;
  background-color: #fb4357;
  font-size: 1rem;
  font-weight: 600;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
#main > .button-container > .button {
  cursor: pointer;
}
#main > .button-container > .button:nth-child(1) {
  padding-right: 1rem;
  border-right: 0.1rem solid #ffffff;
}
#main > .button-container > .button > .select.hidden {
  display: none;
}
#main > .button-container > .button > .text {
  color: #ffffff;
}
#main > .information {
  width: 100%;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
}
#main > .information.hidden {
  display: none;
}
#main > .information > .car-info {
  width: 84%;
  margin-right: 1rem;
}
#main > .information > .car-info > .detail {
  padding: 1rem 0;
  line-height: 1.6;
  font-size: 0.85rem;
}
#main > .information > .car-info > .detail.bus {
  font-weight: 400;
}
#main > .information > .car-info > .detail.car {
  font-weight: 500;
}
#main > .information > .car-info .header {
  display: flex;
  border-bottom: 0.15rem solid #222222;
  padding-bottom: 0.5rem;
}
#main > .information > .car-info .header > .bus {
  width: 3.5rem;
  height: 1.67rem;
  background-image: url("https://img.cgv.co.kr/R2014/images/sprite/sprite_icon.png");
  background-position-x: -200px;
  background-position-y: -130px;
  background-repeat: no-repeat;
}
#main > .information > .car-info .header .text {
  font-size: 1rem;
  font-weight: 600;
}
#main > .information > .car-info .header > .find {
  padding: 0.3rem;
  font-size: 0.7rem;
  font-weight: 600;
  border: 0.15rem solid #FB4357;
  color: #FB4357;
}
#main > .information > .car-info .header > .car {
  width: 3.5rem;
  height: 1.67rem;
  background-image: url("https://img.cgv.co.kr/R2014/images/sprite/sprite_icon.png");
  background-position-x: -200px;
  background-position-y: -158px;
  background-repeat: no-repeat;
}
#main > .information > .advertisement-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#main > .information > .cinema-info {
  width: 84%;
  margin-right: 1rem;
}
#main > .information > .cinema-info > .cinema-header {
  border-bottom: 0.15rem solid #474746;
  position: relative;
  display: flex;
  flex-direction: column;
}
#main > .information > .cinema-info > .cinema-header > .day-containers {
  width: 100%;
  height: 100%;
  padding: 0.5rem 0 3rem 0;
  border-top: #241d1e solid 0.2rem;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: row;
}
#main > .information > .cinema-info > .cinema-header > .day-containers > .before {
  cursor: pointer;
  margin-right: 1.5rem;
  background-color: #ffffff;
  width: 3.5rem;
  height: 1.5rem;
  background-image: url("https://img.cgv.co.kr/r2014/images/sprite/sprite_btn.png");
  background-repeat: no-repeat;
  background-position: -117px -174px;
  border: none;
}
#main > .information > .cinema-info > .cinema-header > .day-containers > .after {
  right: 0;
  cursor: pointer;
  position: absolute;
  background-color: #ffffff;
  width: 3.5rem;
  height: 1.15rem;
  background-image: url("https://img.cgv.co.kr/r2014/images/sprite/sprite_btn.png");
  background-repeat: no-repeat;
  background-position: -117px -155px;
  border: none;
}
#main > .information > .cinema-info > .cinema-header > .day-containers > .day-container {
  height: 100%;
  display: flex;
  flex-direction: row;
}
#main > .information > .cinema-info > .cinema-header > .day-containers > .day-container > .item {
  width: 100%;
  height: 100%;
  padding: 0.3rem 0.5rem;
  color: #717171;
  border: transparent solid 0.15rem;
  cursor: pointer;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.15rem;
  justify-content: center;
}
#main > .information > .cinema-info > .cinema-header > .day-containers > .day-container > .item.select {
  color: #000000;
  border-color: #000000;
  border-radius: 0.25rem;
}
#main > .information > .cinema-info > .cinema-header > .day-containers > .day-container > .item > .small-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
#main > .information > .cinema-info > .cinema-header > .day-containers > .day-container > .item > .small-container .day {
  font-size: 0.7rem;
}
#main > .information > .cinema-info > .cinema-header > .day-containers > .day-container > .item > .day {
  font-size: 2rem;
  font-weight: 600;
}
#main > .information > .cinema-info > .cinema-header > .cinema-info-detail {
  right: 0;
  bottom: 0.5rem;
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
#main > .information > .cinema-info > .cinema-header > .cinema-info-detail > .cinema-detail {
  height: 0.85rem;
  padding-left: 1.1rem;
  line-height: 1;
  font-size: 0.85rem;
  font-weight: 500;
  cursor: pointer;
  background-image: url("https://img.cgv.co.kr/r2014/images/sprite/sprite_icon.png");
  background-repeat: no-repeat;
  background-position: 0 -158px;
}
#main > .information > .cinema-info > .notice {
  padding: 0.5rem 0;
  font-weight: 400;
  color: #794624;
}
#main > .information > .cinema-info > .items > .item {
  border-top: 0.1rem solid #474746;
  padding: 1.5rem 0.5rem;
}
#main > .information > .cinema-info > .items > .item > .movie-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-start;
}
#main > .information > .cinema-info > .items > .item > .movie-container > .rating {
  width: 1.25rem;
  height: 1.294rem;
}
#main > .information > .cinema-info > .items > .item > .movie-container > .text {
  font-size: 1.1rem;
  font-weight: 500;
}
#main > .information > .cinema-info > .items > .item > .movie-container > .able {
  padding: 0.1rem;
  border: 0.15rem solid #3e82a4;
  color: #3e82a4;
  font-weight: 600;
}
#main > .information > .cinema-info > .items > .item > .movie-container > .long-text {
  color: #666;
  font-size: 0.9rem;
  font-weight: 400;
}
#main > .information > .cinema-info > .items > .item > .screen-container {
  padding: 1rem 2rem;
}
#main > .information > .cinema-info > .items > .item > .screen-container > .theater-info {
  align-items: center;
  display: flex;
  flex-direction: row;
}
#main > .information > .cinema-info > .items > .item > .screen-container > .theater-info .text {
  margin: 0 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
}
#main > .information > .cinema-info > .items > .item > .screen-container > .time-table-container {
  display: flex;
  flex-direction: row;
}
#main > .information > .cinema-info > .items > .item > .screen-container > .time-table-container > .time-table {
  margin-top: 0.5rem;
  width: 2.3rem;
  padding: 0.3rem 1rem;
  border: 0.1rem solid #cbcabe;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#main > .information > .cinema-info > .items > .item > .screen-container > .time-table-container > .time-table > .time {
  font-weight: 600;
}
#main > .information > .cinema-info > .items > .item > .screen-container > .time-table-container > .time-table > .seat {
  color: #2275a4;
  font-weight: 600;
  font-size: 0.75rem;
}
#main > .information > .cinema-info > .notice-footer {
  border-top: 0.15rem solid #474746;
  padding-top: 0.5rem;
  color: #666;
}

/*# sourceMappingURL=index.css.map */
