<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.jwkim.jgv.mappers.admin.AdminMapper">

    <select id="selectAllMovie" resultType="dev.jwkim.jgv.entities.movie.MovieEntity">
        SELECT mo_num          AS `moNum`,
               mo_title        AS `moTitle`,
               mo_date         AS `moDate`,
               mo_time         AS `moTime`,
               mo_plot         AS `moPlot`,
               mo_booking_rate AS `moBookingRate`,
               mo_ending       AS `moEnding`,
               ra_num          AS `raNum`
        FROM `jgv`.`movie`
    </select>


    <select id="selectArticleByMovieName" resultType="dev.jwkim.jgv.DTO.AdminMovieDTO">
        SELECT m.mo_num     AS 'moNum',
               mi.m_img_url AS 'mImgUrl',
               m.mo_title   AS 'moTitle',
               m.mo_date    AS 'moDate',
               r.ra_grade   AS 'raGrade'
        FROM `jgv`.`movie` m
                 LEFT JOIN `jgv`.`movie_image` mi ON m.mo_num = mi.mo_num
                 LEFT JOIN `jgv`.`rating` r ON m.ra_num = r.ra_num
        WHERE mo_ending IS NULL
        ORDER BY m.mo_num
        LIMIT #{limitCount} OFFSET #{offsetCount}
    </select>

    <select id="searchArticleByMovieName"
            resultType="dev.jwkim.jgv.DTO.AdminMovieDTO">
        SELECT m.mo_num AS 'moNum',
        mi.m_img_url AS 'mImgUrl',
        m.mo_title AS 'moTitle',
        m.mo_date AS 'moDate',
        r.ra_grade AS 'raGrade'
        FROM `jgv`.`movie` m
        LEFT JOIN `jgv`.`movie_image` mi ON m.mo_num = mi.mo_num
        LEFT JOIN `jgv`.`rating` r ON m.ra_num = r.ra_num
        WHERE `mo_ending` IS NULL
        <if test="filter.equals('moTitle')">
            AND `mo_title` LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="filter.equals('month')">
            AND DATE_FORMAT(`mo_date`, '%m') = #{keyword}
        </if>
        <if test="filter.equals('year')">
            AND DATE_FORMAT(`mo_date`, '%Y') = #{keyword}
        </if>
        ORDER BY m.mo_num
        LIMIT #{limitCount} OFFSET #{offsetCount}
    </select>


    <select id="selectArticleCountByMovieName" resultType="_int">
        SELECT COUNT(0)
        FROM `jgv`.`movie`
        WHERE mo_ending IS NULL
    </select>

    <select id="searchArticleCountByMovieName" resultType="_int">
        SELECT COUNT(0)
        FROM `jgv`.`movie`
        WHERE mo_ending IS NULL
        <if test="filter.equals('moTitle')">
            AND `mo_title` = #{keyword}
        </if>
        <if test="filter.equals('month')">
            AND DATE_FORMAT(`mo_date`, '%m') = #{keyword}
        </if>
        <if test="filter.equals('year')">
            AND DATE_FORMAT(`mo_date`, '%Y') = #{keyword}
        </if>
    </select>

    <select id="selectAllDTO" resultType="dev.jwkim.jgv.DTO.AdminMovieDTO">
        SELECT m.mo_num     AS 'moNum',
               mi.m_img_url AS 'mImgUrl',
               m.mo_title   AS 'moTitle',
               m.mo_date    AS 'moDate',
               r.ra_grade   AS 'raGrade'
        FROM `jgv`.`movie` m
                 LEFT JOIN `jgv`.`movie_image` mi ON m.mo_num = mi.mo_num
                 LEFT JOIN `jgv`.`rating` r ON m.ra_num = r.ra_num
    </select>
    <select id="selectArticleCountByTheater" resultType="_int">
        SELECT COUNT(0)
        FROM `jgv`.`screen`
    </select>

    <select id="selectAllDTOByTheater" resultType="dev.jwkim.jgv.DTO.AdminTheaterDTO">
        SELECT sc.sc_num        AS 'scNum',
               mi.m_img_url     AS 'mImgUrl',
               th.th_name       AS `thName`,
               ci.ci_name       AS `ciName`,
               m.mo_title       AS 'moTitle',
               sc.sc_start_date AS 'scStartDate'
        FROM `jgv`.`screen` sc
                 LEFT JOIN `jgv`.`movie` m ON sc.mo_num = m.mo_num
                 LEFT JOIN `jgv`.`movie_image` mi ON mi.mo_num = m.mo_num
                 LEFT JOIN `jgv`.`cinema` ci ON sc.ci_num = ci.ci_num
                 LEFT JOIN `jgv`.`theater` th ON ci.th_num = th.th_num
        ORDER BY m.mo_num
        LIMIT #{limitCount} OFFSET #{offsetCount}
    </select>
</mapper>