@import "../../../fragments/assets/styles/global";

.main-container {
  @include flex(column, flex-start, flex-start, 1rem);
  width: 708px;

  > .title-container {
    padding-top: 1rem;
  }

  > .my-reservation {
    @include flex(row, flex-start, flex-start, 1rem);
    width: 100%;
    height: auto;
    border: 1px solid #666666;
    padding: 1.5rem;

    > .reservation-info {
      @include flex(column, flex-start, center, 0.2rem);

      > .reservation-num {
        font-size: 0.7rem;
        color: #666666;
        font-weight: 500;
      }

      > .num-black {
        color: #222222;
        font-weight: 700;
      }

      > .num-red {
        color: #FB4357;
        font-weight: 700;
      }
    }

    > .reservation-container {
      @include flex(column, flex-start, flex-start);
      width: 100%;

      > .reservation-movie {
        @include flex(row, flex-start, flex-start, 1rem);
        width: 100%;
        padding-bottom: 2rem;
        border-bottom: 1px solid #e8e8e8;

        > .movie-info {
          @include flex(column, flex-start, 1rem);
          width: 100%;

          > .movie-title {
            font-size: 0.8rem;
            font-weight: 500;
          }

          > .cinema, .date, .seat {
            @include flex(row, center, center, 1rem);
            font-weight: 400;
            font-size: 0.8rem;

            > .content {
              font-weight: 700;
            }
          }

        }

        > img {
          width: 55px;
          height: 70px;
        }
      }
      > .payment {
        @include flex(row, center, center, 1rem);
        padding-top: 1rem;

        > .text {
          font-weight: 500;
        }

        > .pay {
          font-weight: 700;
          color: #2275a4;
        }
      }
    }
  }
}