@import "../../../fragments/assets/styles/global";

.main-container {
  @include flex(column, flex-start, flex-start, 1rem);
  width: 708px;

  > .title-container {
    padding-top: 1rem;


  }

  > .my-reservation {
    @include flex(row, flex-start, flex-start, 1rem);
    width: 100%;
    height: auto;
    border: 1px solid #e2e2e0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;

    > .reservation-info {
      @include flex(column, flex-start, center, 0.2rem);

      > .reservation-num {
        font-size: 0.7rem;
        color: #666666;
        font-weight: 500;
      }

      > .num-black {
        color: #222222;
        font-weight: 700;
      }

      > .num-red {
        color: #FB4357;
        font-weight: 700;
      }
    }

    > .reservation-container {
      @include flex(column, flex-start, flex-start);
      width: 100%;

      > .reservation-movie {
        @include flex(row, flex-start, flex-start, 1rem);
        width: 100%;
        padding-bottom: 2rem;
        border-bottom: 1px solid #e8e8e8;

        > .movie-info {
          @include flex(column, flex-start, 1rem);
          width: 100%;

          > .movie-title {
            font-size: 0.8rem;
            font-weight: 500;
            > a{
              color: #222222;
            }
          }

          > .cinema, .date, .seat {
            @include flex(row, center, center, 1rem);
            font-weight: 400;
            font-size: 0.8rem;

            > .content {
              font-weight: 700;
            }
          }

        }
        > a > img {
          width: 55px;
          height: 70px;
        }
      }
      > .payment {
        @include flex(row, center, center, 1rem);
        padding-top: 1rem;

        > .text {
          font-weight: 500;
        }

        > .pay {
          font-weight: 700;
          color: #2275a4;
        }
      }
    }
  }
  > .paging {
    @include flex(row, center, center, 0.6rem);
    width: 760px;

    > .no-reservation {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 40px;
      .no-reservation-text {
        font-size: 16px;
        font-weight: 500;
      }
    }
    > .paging {
      display: flex;
      justify-content: center;

      > .page {
        padding: 5px 5px;
        margin: 0 2px;
        cursor: pointer;
        font-size: 14px;
        text-decoration: none;
        color: #333;
        font-weight: 500;

        &.active {
          color: #ff5a5a;
        }
      }
    }
  }

}

.review-title-container {
  margin-bottom: 16px;
  margin-top: 30px;
}

.my-review {
  .review-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
    width: 760px;
    border: 1px solid #e2e2e0;
  }

  .review-item {
    display: flex;
    position: relative; /* X 버튼을 상대적으로 배치할 수 있도록 설정 */
    padding: 20px;
    border-bottom: 1px solid #e8e8e8;

    &:not(:last-child) { /* 마지막 아이템 제외 */
      border-bottom: 1px solid #e8e8e8;
    }

    &:last-child {
      border-bottom: none; /* 마지막 아이템의 border-bottom 제거 */
    }

    .review-thumbnail {
      width: 100px;
      height: 150px;
      margin-right: 20px;

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    .review-content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .review-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .review-info {
        font-size: 14px;
        color: #777;
        margin-bottom: 10px;
        font-weight: 600;

        .review-date {
          font-style: italic;
        }
      }

      .review-description {
        white-space: normal; /* 자동 줄바꿈 허용 */
        word-wrap: break-word; /* 긴 단어 줄바꿈 */
        overflow-wrap: break-word; /* 긴 단어 줄바꿈 */
        max-width: 100%; /* 부모 요소 크기에 맞춰서 줄바꿈 */
        line-height: 1.5; /* 줄 간격 조정 */
      }

      .review-actions {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
        margin-top: 27px;
        padding-top: 16px;

        button {
          border: none;
          cursor: pointer;
        }
      }
    }

    .delete-review {
      position: absolute; /* 부모를 기준으로 위치 설정 */
      top: 10px; /* 상단에서 10px */
      right: 10px; /* 오른쪽에서 10px */
      color: black;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
    }
  }

  .no-review {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    .no-review-text {
      font-size: 16px;
      font-weight: 500;
    }
  }

  .paging {
    display: flex;
    justify-content: center;


    a {
      padding: 5px 5px;
      margin: 0 2px;
      cursor: pointer;
      font-size: 14px;
      text-decoration: none;
      color: #333;
      font-weight: 500;

      &.active {
        color: #ff5a5a;
      }
    }
  }


}

.reserve-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;


  .modal-content {
    background-color: #F6F6F4;
    border-radius: 8px;
    width: 700px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    position: relative;
    padding: 0; /* 전체 여백 제거 */

    // 헤더 영역
    h2 {
      margin: 0;
      padding: 10px 20px;
      font-size: 18px;
      font-weight: bold;
      background-color: #333333; /* 다크 그레이 배경 */
      color: #f2f0e5; /* 밝은 텍스트 */
      border-radius: 8px 8px 0 0; /* 상단 모서리 둥글게 */
      display: flex; /* Flexbox 사용 */
      justify-content: space-between; /* 요소를 양쪽 끝으로 배치 */
      align-items: center; /* 수직 정렬 */
    }

    // 버튼과 h2를 감쌀 헤더 구조 추가
    .modal-header {
      display: flex; /* Flexbox 사용 */
      justify-content: space-between; /* 양쪽 끝 정렬 */
      align-items: center; /* 수직 가운데 정렬 */
      padding: 10px 20px; /* 적절한 여백 */
      background-color: #333333; /* 다크 그레이 배경 */
      color: #f2f0e5; /* 밝은 텍스트 */
      border-radius: 8px 8px 0 0; /* 상단 모서리 둥글게 */
    }

    .close-button {
      background: none;
      border: none;
      font-size: 20px;
      font-weight: bold;
      color: #f2f0e5; /* 텍스트 색상 */
      cursor: pointer;
      padding: 0;
      margin: 0;
      outline: none;

      &:hover {
        color: #ff3b30; /* Hover 시 색상 */
      }
    }

    // 나머지 모달 스타일
    .movie-title {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      color: #555;
      margin: 20px 0;
    }

    .review-userInfo {
      margin-top: 10px;
      display: flex;
      align-items: center; /* 세로 중앙 정렬 */
      justify-content: center; /* 가로 중앙 정렬 */
      flex-direction: column; /* 이미지와 이름을 세로로 배치 */

      .profile-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 5px; /* 이미지와 이름 간격 추가 */
      }

      .user-name {
        font-size: 14px; /* 이름 글꼴 크기 */
        font-weight: bold;
        color: #333;
        text-align: center; /* 텍스트 중앙 정렬 */
      }
    }


    .label {
      display: flex;
      justify-content: center;
      align-items: center; /* 세로 중앙 정렬 */
      flex-direction: column; /* 자식 요소를 세로로 배치 */
      height: 100%; /* 부모 요소 높이를 100%로 설정 */
      margin-top: 10px;
      width: 100%;

      textarea#reviewText {
        width: 600px;
        height: 90px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        font-size: 14px;
        resize: none;
        outline: none;
        margin: 0 auto;
        display: block;

      }
    }





    .modal-action {
      margin: 10px 40px 35px 40px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      button#submitReview {
        background-color: #FB4357;
        color: #fff;
        padding: 6px 15px;
        border: none;
        font-size: 14px;
        cursor: pointer;
      }

      #charCount {
        font-size: 15px;
        text-align: right;
        margin-right: 10px;
      }
    }
  }
}