@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import "../../../fragments/assets/styles/global";
@import "../../../../static/assets/styles/common";


body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  > .main-title {
    @include flex(column, center, center, 1rem);
    padding-top: 3rem;
    > h1 {
      font-size: 3rem;
      font-weight: 500;
    }
    > span {
      font-size: 1rem;
      color: #555555;
    }
  }

  > .title-container {
    @include flex(row, stretch, flex-start);
    margin-top: 2rem;
    padding: 1rem;

    > h1 {
      font-weight: 400;
    }

    > .-spring {
      flex-grow: 1;
    }

    > span {
      top: 5rem;
      font-size: 0.9rem;
      font-weight: 300;

      > img {
        width: 0.6rem;
      }
    }
  }

}

#register-form {
  @include flex(column, stretch, center);
  width: 100%;

  > table, tbody, td, tr {
    border-bottom: 1px solid #dddddd;
    border-collapse: collapse;
    padding: 2rem;


    > tr {
      > td {
        > img {
          width: 0.9rem;
        }
      }

      > td[rel="row"] {
        @include flex(row, center, flex-start, 1rem);

        > .gender-container {
          @include flex(row, center, center, 2rem);

        }

        > .duplicate-button {
          height: 2.125rem;
          width: 4.875rem;
          background-color: #333333;
          border: 0.0625rem solid #333333;
          border-radius: 0.1875rem;
          color: #ffffff;
          cursor: pointer;
          font-size: 0.875rem;
          font-weight: 500;
          vertical-align: center;
          padding: 0 15px;
          white-space: nowrap;
        }
      }

      > td[rel="col"] {
        @include flex(column, flex-start, center, 1rem);

        > .email-container {
          border: 2px solid #dddddd;
          height: 2rem;
          padding: 0 1rem;

          > .email-label {
            > .email,
            .domain {
              width: 7rem;
              color: #666666;
            }
          }

          > .value-button {
            @include flex(row, stretch, center);
            width: 7rem;
            color: #666666;
            cursor: pointer;
            padding: 0.2rem;
            position: relative;

            > .-spring {
              flex-grow: 1;
            }
          }
        }

        > span {
          color: #666666;
        }

        > div {
          @include flex(row, center, flex-start, 0.5rem);

          > span {
            color: #666666;
          }
        }
      }

      > td:nth-child(odd) {
        background-color: #f8f8f8;
        font-size: 1rem;
      }
    }
  }

  > .--obj-check-label {
    @include flex(row, center, center, 0.3rem);
    cursor: pointer;
    user-select: none;
    margin-top: 1rem;

  }


  > .button-container {
    @include flex(row, center, center, 0.8rem);
    height: 5rem;

    > button {
      border: 0.0625rem solid #333333;
      border-radius: 0.2rem;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 500;
      height: 2.375rem;
      padding: 0 2rem;
      width: 10rem;
      white-space: nowrap;

       > a {
         color: #222222;
       }
    }

    > .cancel {
      background-color: transparent;
    }

    > .submit {
      background-color: #333333;
      color: #ffffff;
    }
  }

}



