@import "../../../fragments/assets/styles/global";

@import "main";
@import "personals";
@import "receipt";
@import "reservation";
@import "withdraw";



body {
  @include flex(column, center, center);
}

#myPage-main {
  @include flex(column, flex-start, center);
  width: 980px;
  position: relative;

  > .profile-container {
    @include flex(row, center, center, 1rem);
    width: 980px;
    height: 20rem;
    background-color: #f8f8f8;

    > .image-wrapper {
      > img {
        width: 8.4375rem;
        border-radius: 999rem;
        background-color: transparent;
      }
    }

    > .user-info {
      @include flex(row, center, center, 1rem);
      height: 5rem;
      border-bottom: 1px solid #e1e1e1;

      > .name {
        font-size: 2.5rem;
        font-weight: 500;
      }

      > .id {
        font-size: 1.1rem;
      }

      > .nickname {
        font-size: 1.3rem;
        font-weight: 600;
      }
    }
  }

  > .main {
    @include flex(row, flex-start, flex-start, 3rem);
    align-self: stretch;
    padding-top: 2rem;
    white-space: nowrap;

    > .user-tab {
    @include flex(column, flex-start, flex-start, 13rem);

      > ul {
        @include flex(column, flex-start, center, 1rem);

        > #myJgv {
          width: 100%;
          height: auto;
          background-color: #FB4357;
          padding: 0.2rem 0.5rem;

          > a{
            color: #ffffff;
          }
        }

        > .title {
          font-size: 1.2rem;
          font-weight: 500;


          > a {
            color: #000000;
          }
        }
        > .item {
          @include flex(row, flex-start, stretch);
          font-size: 0.8rem;

          &:hover > img {
            display: block;
          }

          > a {
            color: #222222;
            font-weight: 400;
          }

          > .-spring {
            flex-grow: 1;
          }

          > img {
            display: none;
            width: 1rem;

          }
        }
      }
    }




    > .main {
      > .main-container {
        > .title-container {
          @include flex(row, center, flex-start, 1rem);
        }
      }
    }

    > .content {
      flex-grow: 1;
      flex-shrink: 1;
    }
  }
}

