.main-container {
  width: 708px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
}
.main-container > .title-container {
  padding-top: 1rem;
}
.main-container > .my-reservation {
  width: 100%;
  height: auto;
  border: 1px solid #666666;
  padding: 1.5rem;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
}
.main-container > .my-reservation > .reservation-info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  justify-content: center;
}
.main-container > .my-reservation > .reservation-info > .reservation-num {
  font-size: 0.7rem;
  color: #666666;
  font-weight: 500;
}
.main-container > .my-reservation > .reservation-info > .num-black {
  color: #222222;
  font-weight: 700;
}
.main-container > .my-reservation > .reservation-info > .num-red {
  color: #FB4357;
  font-weight: 700;
}
.main-container > .my-reservation > .reservation-container {
  width: 100%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.main-container > .my-reservation > .reservation-container > .reservation-movie {
  width: 100%;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  padding-bottom: 2rem;
  border-bottom: 1px solid #e8e8e8;
}
.main-container > .my-reservation > .reservation-container > .reservation-movie > .movie-info {
  width: 100%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.main-container > .my-reservation > .reservation-container > .reservation-movie > .movie-info > .movie-title {
  font-size: 0.8rem;
  font-weight: 500;
}
.main-container > .my-reservation > .reservation-container > .reservation-movie > .movie-info > .cinema, .main-container > .my-reservation > .reservation-container > .reservation-movie > .movie-info .date, .main-container > .my-reservation > .reservation-container > .reservation-movie > .movie-info .seat {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-weight: 400;
  gap: 1rem;
  justify-content: center;
  font-size: 0.8rem;
}
.main-container > .my-reservation > .reservation-container > .reservation-movie > .movie-info > .cinema > .content, .main-container > .my-reservation > .reservation-container > .reservation-movie > .movie-info .date > .content, .main-container > .my-reservation > .reservation-container > .reservation-movie > .movie-info .seat > .content {
  font-weight: 700;
}
.main-container > .my-reservation > .reservation-container > .reservation-movie > img {
  width: 55px;
  height: 70px;
}
.main-container > .my-reservation > .reservation-container > .payment {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  padding-top: 1rem;
}
.main-container > .my-reservation > .reservation-container > .payment > .text {
  font-weight: 500;
}
.main-container > .my-reservation > .reservation-container > .payment > .pay {
  font-weight: 700;
  color: #2275a4;
}

#passwordCheck {
  width: 750px;
  height: 15rem;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  justify-content: flex-start;
}
#passwordCheck > .title > h2 {
  font-weight: 500;
}
#passwordCheck > .button-container {
  width: 100%;
  align-items: center;
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  justify-content: center;
}
#passwordCheck > .button-container > .complete {
  width: 3.5rem;
  height: 27px;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #FB4357;
  color: #ffffff;
  cursor: pointer;
}
#passwordCheck > .button-container > .home {
  width: 7rem;
  height: 27px;
  border: 2px solid #7b7b7b;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: transparent;
}
#passwordCheck > .button-container > .home > a {
  color: #7b7b7b;
}
#passwordCheck > .check-password {
  width: 100%;
  height: 100%;
  border-top: 1px solid #222222;
  border-bottom: 1px solid #222222;
  padding: 0 0.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
}
#passwordCheck > .check-password > .input-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
#passwordCheck > .check-password > .input-wrapper > .id-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: flex-start;
}
#passwordCheck > .check-password > .input-wrapper > .id-wrapper > .text {
  color: #666666;
  font-weight: 500;
}
#passwordCheck > .check-password > .input-wrapper > label {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 4rem;
  justify-content: flex-start;
}
#passwordCheck > .check-password > .input-wrapper > label > .text {
  color: #666666;
  font-weight: 500;
}
#passwordCheck > .check-password > .input-wrapper > label > input {
  height: 1.5rem;
  width: 7.5rem;
}
#passwordCheck > .check-password > .caution {
  width: 100%;
  height: 1.5rem;
  background-color: #e2e2e2;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0.2rem 0.5rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.print-receipt {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  width: 91%;
  height: auto;
}
.print-receipt > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.print-receipt > .title-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}
.print-receipt > .title-container > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.print-receipt > .title-container > .main-text {
  font-size: 1.2rem;
  font-weight: 500;
}
.print-receipt > .title-container > .sub-text {
  font-size: 1rem;
  font-weight: 400;
}
.print-receipt > .check-period {
  width: 100%;
  height: 4rem;
  background-color: #f3f2e7;
  border: 1px solid #656560;
  padding: 2rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
}
.print-receipt > .check-period > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.print-receipt > .check-period > label > select {
  background-color: #f6f6f6;
  border: 1px solid #666666;
  color: #666666;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.3rem;
}
.print-receipt > .check-period > .button-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  background-color: #222222;
  width: 5rem;
  height: 2rem;
}
.print-receipt > .check-period > .button-container > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.print-receipt > .check-period > .button-container > button {
  width: 4.8rem;
  height: 1.8rem;
  border: 0.1px solid #f2f2f2;
  color: #f2f2f2;
  font-weight: 500;
  white-space: nowrap;
}
.print-receipt > .check-period > .period-text {
  font-size: 1.1rem;
  font-weight: 500;
}
.print-receipt > .check-period > .notice {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}
.print-receipt > .check-period > .notice > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.print-receipt > .check-period > .notice > span {
  font-size: 0.85rem;
  font-weight: 500;
  color: #666666;
}
.print-receipt > .detail {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  justify-content: center;
  width: 100%;
  padding-top: 2rem;
}
.print-receipt > .detail > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.print-receipt > .detail > .detail-text {
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
}
.print-receipt > .detail > .detail-receipt {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  height: 5rem;
  border-top: 1px solid #d6d4cb;
  border-bottom: 1px solid #d6d4cb;
  padding: 0 2rem;
}
.print-receipt > .detail > .detail-receipt > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.print-receipt > .detail > .detail-receipt > .text {
  color: #666666;
}

.my-reservation {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  border-bottom: 2px solid #222222;
  padding-bottom: 0.5rem;
}
.my-reservation > h3 {
  padding-top: 2rem;
}
.my-reservation > .alert > .red {
  color: #FB4357;
  font-weight: 500;
}
.my-reservation > .alert > .black {
  color: #222222;
  font-weight: 500;
}

.tooltip {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  padding-top: 1rem;
}
.tooltip > .black {
  color: #222222;
  font-weight: 500;
}
.tooltip > .red {
  color: #FB4357;
  font-weight: 500;
}

.sub-tooltip {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  padding-top: 0.5rem;
  color: #666666;
  font-weight: 400;
}
.sub-tooltip > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}

.reservation-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
.reservation-main > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.reservation-main > .reservation-num {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  width: 15rem;
  padding-top: 2rem;
}
.reservation-main > .reservation-num > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.reservation-main > .reservation-num > .res-num {
  font-size: 0.8rem;
  color: #666666;
}
.reservation-main > .reservation-num > .black {
  color: #222222;
  font-weight: 500;
}
.reservation-main > .reservation-num > .red {
  color: #FB4357;
  font-weight: 500;
}
.reservation-main > .reservation-info {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  width: 100%;
  height: 15rem;
}
.reservation-main > .reservation-info > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.reservation-main > .reservation-info > .movie-info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  width: 100%;
}
.reservation-main > .reservation-info > .movie-info > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.reservation-main > .reservation-info > .movie-info > .detail {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  justify-content: center;
  width: 70%;
}
.reservation-main > .reservation-info > .movie-info > .detail > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.reservation-main > .reservation-info > .movie-info > .detail > .black {
  color: #222222;
  font-weight: 500;
}
.reservation-main > .reservation-info > .movie-info > .detail > .red {
  color: #FB4357;
  font-weight: 500;
}
.reservation-main > .reservation-info > .movie-info > .title-container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  width: 100%;
  border-bottom: 1px solid #666666;
  padding-bottom: 1rem;
}
.reservation-main > .reservation-info > .movie-info > .title-container > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.reservation-main > .reservation-info > .movie-info > .title-container > .movie {
  font-size: 1rem;
  font-weight: 500;
}
.reservation-main > .reservation-info > .movie-info > .title-container > .pay {
  color: #2275a4;
  font-weight: 700;
}

.movie-receipt {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  padding-top: 2rem;
}
.movie-receipt > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.movie-receipt > .receipt {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #e2e2e0;
}
.movie-receipt > .receipt > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.movie-receipt > .receipt > .result-title {
  width: 80%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
}
.movie-receipt > .receipt > .result-title > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.movie-receipt > .receipt > .result {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  width: 80%;
  border: 1px solid transparent;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}
.movie-receipt > .receipt > .result > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.movie-receipt > .receipt > .result > .underline {
  padding-bottom: 2rem;
  border-bottom: 1px solid #b8b6aa;
}
.movie-receipt > .receipt > .result > .result-pay {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
}
.movie-receipt > .receipt > .result > .result-pay > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.movie-receipt > .receipt > .result > .result-pay > .result-text {
  font-size: 1rem;
  font-weight: 500;
}
.movie-receipt > .receipt > .result > .result-pay > .result-payment {
  font-size: 1rem;
  font-weight: 700;
  color: #2275a4;
}
.movie-receipt > .receipt > .result > .result-pay > .payment-method {
  font-size: 0.8rem;
  font-weight: 500;
  color: #666666;
}
.movie-receipt > .receipt > .result > .result-pay > .method-payment {
  font-size: 0.8rem;
  font-weight: 700;
  color: #666666;
}
.movie-receipt > .receipt > .reservation-cancel {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: flex-end;
  width: 80%;
  padding-bottom: 2rem;
}
.movie-receipt > .receipt > .reservation-cancel > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.movie-receipt > .receipt > .reservation-cancel > .reservation-cancel-button {
  width: 6rem;
  height: 1.8rem;
  background-color: transparent;
  border: 3px solid #222222;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
}

.cancel-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  padding-top: 2rem;
}
.cancel-container > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.cancel-container > .title-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  justify-content: flex-start;
  width: 100%;
}
.cancel-container > .title-container > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.cancel-container > .title-container > .main-title {
  font-size: 0.9rem;
  font-weight: 600;
}
.cancel-container > .title-container > .sub-title {
  font-size: 0.8rem;
  font-weight: 300;
  color: #666666;
}
.cancel-container > .cancel-history {
  width: 100%;
}
.cancel-container > .cancel-history > table {
  width: 100%;
  text-align: center;
  border-top: 1px solid #b8b6aa;
  border-bottom: 1px solid #b8b6aa;
  border-collapse: collapse;
}
.cancel-container > .cancel-history > table > thead {
  background-color: #e2e2e0;
  color: #666666;
  height: 2rem;
}
.cancel-container > .cancel-history > table > tbody {
  height: 10rem;
  color: #666666;
}

.withdraw #user-withdraw {
  width: 780px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
}
.withdraw #user-withdraw > .caution {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
.withdraw #user-withdraw > .withdraw {
  width: 100%;
  height: 10rem;
  border-top: 1px solid #9e9e9e;
  border-bottom: 1px solid #9e9e9e;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
.withdraw #user-withdraw > .withdraw > .row > span {
  font-size: 1.5rem;
  font-weight: 700;
}
.withdraw #user-withdraw > .button-container {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.withdraw #user-withdraw > .button-container > button {
  width: 7rem;
  height: 27px;
  background-color: #FB4357;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#myPage-main {
  width: 980px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
#myPage-main > .profile-container {
  width: 980px;
  height: 20rem;
  background-color: #f8f8f8;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}
#myPage-main > .profile-container > .image-wrapper > img {
  width: 8.4375rem;
  border-radius: 999rem;
  background-color: transparent;
}
#myPage-main > .profile-container > .user-info {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  height: 5rem;
  border-bottom: 1px solid #e1e1e1;
}
#myPage-main > .profile-container > .user-info > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#myPage-main > .profile-container > .user-info > .name {
  font-size: 2.5rem;
  font-weight: 500;
}
#myPage-main > .profile-container > .user-info > .id {
  font-size: 1.1rem;
}
#myPage-main > .profile-container > .user-info > .nickname {
  font-size: 1.3rem;
  font-weight: 600;
}
#myPage-main > .main {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  align-self: stretch;
}
#myPage-main > .main > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#myPage-main > .main > .user-tab {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 13rem;
}
#myPage-main > .main > .user-tab > ul {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
#myPage-main > .main > .user-tab > ul > #myJgv {
  width: 100%;
  height: auto;
  background-color: #FB4357;
  padding: 0.2rem 0.5rem;
}
#myPage-main > .main > .user-tab > ul > #myJgv > a {
  color: #ffffff;
}
#myPage-main > .main > .user-tab > ul > .title {
  font-size: 1.2rem;
  font-weight: 500;
}
#myPage-main > .main > .user-tab > ul > .title > a {
  color: #000000;
}
#myPage-main > .main > .user-tab > ul > .item {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  font-size: 0.8rem;
}
#myPage-main > .main > .user-tab > ul > .item:hover > img {
  display: block;
}
#myPage-main > .main > .user-tab > ul > .item > a {
  color: #222222;
  font-weight: 400;
}
#myPage-main > .main > .user-tab > ul > .item > .-spring {
  flex-grow: 1;
}
#myPage-main > .main > .user-tab > ul > .item > img {
  display: none;
  width: 1rem;
}
#myPage-main > .main > .main > .main-container > .title-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
}
#myPage-main > .main > .main > .main-container > .title-container > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#myPage-main > .main > .content {
  flex-grow: 1;
  flex-shrink: 1;
}

/*# sourceMappingURL=myPage.css.map */
