<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JGV</title>
    <link rel="stylesheet" th:href="@{../../article/assets/styles/index.css}" type="text/css">
    <link rel="stylesheet" th:href="@{../../assets/styles/common.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/article/assets/styles/MovieSearch.css}" type="text/css">
    <script defer th:src="@{../../article/assets/scripts/MovieSearch.js}" type="text/javascript"></script>
</head>
<body>

<th:block th:replace="~{fragments/common.html :: advertisement}"></th:block>
<th:block th:replace="~{fragments/common.html :: header}"></th:block>
<th:block th:replace="~{fragments/common.html :: nav}"></th:block>
<main id="main" class="frame main">
    <div th:if="${movies.size() > 0}">
        <h2>영화 검색 결과</h2>
        <ul>
            <li th:each="movie : ${movies}"  th:if="${movie != null}">
                <a th:href="@{/movies/movieList/movieInfo/{id}(id=${movie.getMoNum()})}">
                <img th:src="${movie.m_img_url}" alt="영화 이미지">
                </a>
                <p>영화 제목: <span th:text="${movie.moTitle}"></span></p>
            </li>
        </ul>
    </div>
    <div th:if="${people.size() > 0}">
        <h2>인물 검색 결과</h2>
        <div class="carousel-container">
            <button class="carousel-button prev">&lt;</button>
            <div class="carousel-track">
                <div class="carousel-item"
                     th:each="person : ${people}"
                     th:attr="data-job=${person.chJob}, data-birth=${person.chBirth},
                  data-name=${person.chName}">
                    <div class="image-wrapper">
                    <img th:src="${person.cImgUrl}" alt="인물 이미지" class="person-image">
                    </div>
                    <p class="name" th:text="${person.chName}"></p>
                </div>
            </div>
            <button class="carousel-button next">&gt;</button>
        </div>
        <div class="person-info"></div>
        <div th:each="person : ${people}">
            <h4 th:text="${person.chName} + '의 필모그래피'"></h4>
            <ul>
                <li th:each="movie : ${relatedMovies}">
                    <a th:href="@{/movies/movieList/movieInfo/{id}(id=${movie.get('moNum')})}">
                        <img th:src="${movie['movieImage']}" alt="영화 이미지" width="100">
                    </a>
                    <p><span th:text="${movie['movieTitle']}"></span></p>
                </li>
            </ul>
        </div>
    </div>
</main>
<th:block th:replace="~{fragments/common.html :: footer}"></th:block>


</body>
</html>
