<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JGV MovieList</title>
    <link rel="stylesheet" th:href="@{../../article/assets/styles/index.css}" type="text/css">
    <link rel="stylesheet" th:href="@{../../assets/styles/common.css}" type="text/css">
    <script defer th:src="@{../../article/assets/scripts/index.js}" type="text/javascript"></script>
</head>
<body>

<th:block th:replace="~{fragments/common.html :: advertisement}"></th:block>
<th:block th:replace="~{fragments/common.html :: header}"></th:block>
<th:block th:replace="~{fragments/common.html :: nav}"></th:block>
<main id="main" class="frame main">
    <div class="header-row">
        <h1>무비차트</h1>
        <div class="tabs">
            <a href="#nowPlaying" class="active">무비차트</a>
            <a href="#upcomingMovies">상영예정작</a>
        </div>
    </div>
    <div class="line"></div>

    <!-- 현재 상영 중인 영화 -->
    <section id="nowPlaying">
        <div class="movie-container">
            <div th:each="movie : ${nowPlaying}" class="movie-card">
                <a th:href="@{/movies/movieList/movieInfo/{id}(id=${movie.getMoNum()})}">
                    <img th:src="@{${movie.getM_img_url()}}" alt="영화 이미지" class="movie-poster">
                </a>
                <div class="movie-info">
                    <a th:href="@{/movies/movieList/movieInfo/{id}(id=${movie.getMoNum()})}" class="movie-title"
                       th:text="${movie.getMoTitle()}">영화 제목</a>
                </div>
                <div class="movie-detail">
                    <span>예매율: </span><span th:text="${movie.getMoBookingRate() + '%'}">0%</span>
                </div>
                <div class="movie-detail">
                    <span>개봉일자: </span><span th:text="${movie.getMoDate()}">2024-01-01</span>
                </div>
                <button class="reserve-btn">예매하기</button>
            </div>

        </div>
    </section>

    <!-- 상영 예정작 -->
    <section id="upcomingMovies">
        <div class="movie-container">
            <div th:each="movie : ${upcomingMovies}" class="movie-card">
                <a th:href="@{/movies/movieList/movieInfo/{id}(id=${movie.getMoNum()})}">
                    <img th:src="@{${movie.getM_img_url()}}" alt="영화 이미지" class="movie-poster">
                </a>
                <div class="movie-info">
                    <a th:href="@{/movies/{id}(id=${movie.getMoNum()})}" class="movie-title"
                       th:text="${movie.getMoTitle()}">영화 제목</a>
                </div>
                <div class="movie-detail">
                    <span>예매율: </span><span th:text="${movie.getMoBookingRate() + '%'}">0%</span>
                </div>
                <div class="movie-detail">
                    <span>개봉일자: </span><span th:text="${movie.getMoDate()}">2024-01-01</span>
                </div>
                <button class="reserve-btn">예매하기</button>
            </div>
        </div>
    </section>
</main>
<th:block th:replace="~{fragments/common.html :: footer}"></th:block>


</body>
</html>
