<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JGV MovieInfo</title>
    <link rel="stylesheet" th:href="@{/article/assets/styles/index.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/assets/styles/common.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/article/assets/styles/MovieInfo.css}" type="text/css">
    <script defer th:src="@{/article/assets/scripts/MovieInfo.js}" type="text/javascript"></script>
</head>
<body>

<th:block th:replace="~{fragments/common.html :: advertisement}"></th:block>
<th:block th:replace="~{fragments/common.html :: header}"></th:block>
<th:block th:replace="~{fragments/common.html :: nav}"></th:block>
<main id="main" class="frame main">
    <div class="reserve-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>평점 작성</h2>
                <button class="close-button" id="closeModal">x</button>
            </div>
            <p class="movie-title" th:text="${movieInfo.getMoTitle()}"></p>
            <hr>
            <div class="review-userInfo">
                <img class="profile-img" src="http://img.cgv.co.kr/R2014/images/common/default_profile.gif" alt="profile">
                <span class="user-name" th:if="${sessionUser != null}" th:text="${session.user.getUsName()}">사용자 이름</span>
            </div>
            <label class="label">
                <textarea id="reviewText" placeholder="운영원칙에 어긋나는 게시물로 판단되는 글은 제재 조치를 받을 수 있습니다." maxlength="280"></textarea>
            </label>
            <div class="modal-action">
                <span id="charCount">0 / 280 (byte)</span>
                <button id="submitReview">작성완료!</button>
            </div>
        </div>
    </div>
    <div class="movie-detail-container" th:if="${movieInfo != null}">
        <div class="movie-header">
            <div class="poster">
                <img th:src="${movieInfo.getM_img_url()}" alt="영화 포스터">
            </div>
            <div class="movie-info">
                <h1 class="title" th:text="${movieInfo.getMoTitle()}">소방관</h1>
                <div class="stats">
                    <p>예매율: <span class="booking-rate" th:text="${movieInfo.getMoBookingRate()} + '%'">13.2%</span></p>
                </div>
                <hr>
                <div class="details">
                    <p>감독: <span class="director" th:text="${movieInfo.getDirectorName()}"></span></p>
                    <p>배우: <span class="actors" th:each="actors : ${movieInfo.getActorNames()}" th:text="${actors} + ' '"></span></p>
                    <p>장르: <span class="genre" th:each="genres : ${movieInfo.getGenres()}" th:text="${genres}"></span></p>
                    <p>기본 정보: <span class="info" th:text="${movieInfo.getGrade()}"></span> , <span class="info" th:text="${movieInfo.getMoTime()} + '분'"></span> , <span class="info" th:each="countries : ${movieInfo.getCountries()}" th:text="${countries}"></span></p>
                    <p>개봉: <span class="release-date" th:text="${movieInfo.getMoDate()}">2024.12.04</span></p>
                </div>
                <div class="buttons">
                    <button class="btn reserve">예매하기</button>
                </div>
            </div>
        </div>
        <div class="tabs-container">
            <div class="tabs">
                <ul class="tab-list">
                    <li class="tab-item moveTop active"><a href="#overview" class="active">주요정보</a></li>
                    <li class="tab-separator">|</li>
                    <li class="tab-item"><a href="#character">감독/출연</a></li>
                    <li class="tab-separator">|</li>
                    <li class="tab-item moveBottom"><a href="#overview">평점/리뷰</a></li>
                    <li class="tab-separator">|</li>
                    <li class="tab-item"><a href="#schedule">상영시간표</a></li>
                </ul>
            </div>
        </div>
        <section id="overview" class="active">
            <div class="content-container">
                <div class="movie-synopsis">
                    <p th:text="${movieInfo.getMoPlot()}">
                        살리기 위해, 살아남기 위해 하루하루가 마지막 현장인 소방관 팀은
                        열악한 환경 속에서도 화재 진압과 전원 구조라는 단 하나의 목표로 임기를 다한다.
                    </p>
                </div>
            </div>
            <img class="ad" src="https://adimg.cgv.co.kr/images/202412/HARBIN/800x90.jpg" alt="">
            <div class="review-header">
                <div>
                <p class="bold">관람일 포함 7일 이내 관람평을 남기시면 <strong>CJ ONE 20P</strong>가 적립됩니다.</p>
                <p class="notBold"><strong>7,282</strong>명의 실관람객이 평가해주셨습니다.</p>
                </div>
                <div class="buttons">
                    <button class="write-review-btn">평점작성</button>
                    <button class="my-review-btn">내 평점</button>
                </div>
            </div>

            <div class="review-sort">
                <button class="review-sort-button active" onclick="sortReviews('latest')">최신순</button>
                <button class="review-sort-button" onclick="sortReviews('recommend')">추천순</button>
            </div>

            <div class="reviews">
<!--                아이템 반복-->
                <div class="review-item" th:each="article : ${articles}"
                th:attr="data-timestamp=${article.getReCreatedAtTimestamp()}, data-likes=${article.getReLiked()}">
                    <div class="review-user">
                        <img src="https://via.placeholder.com/50" alt="프로필 이미지" class="profile-img">
                    </div>
                    <div class="review-content">
                        <span class="user-name" th:text="${article.getUsNickName()}">칠구</span>
                        <button class="menu-btn"></button>
                        <p class="review-text" th:text="${article.getReContent()}">실화를 바탕으로한 작품이라 교훈적인 내용은 좋네요</p>
                        <div class="spring"></div>
                        <div class="review-footer">
                            <span class="review-date" th:text="${#temporals.format(article.getReCreatedAt(), 'yyyy-MM-dd HH:mm')}">2024.12.13</span>
                            <span>&nbsp; | &nbsp;</span>
                            <button class="like-btn">
                                <img src="http://img.cgv.co.kr/R2014/images/point/ico_point_default.png" alt="like">
                            </button>
                            <span class="like-count" th:text="${article.getReLiked()}"></span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="paging" th:if="${pageVo.displayMaxPage > pageVo.displayMinPage}">
                <a class="page" th:each="page : ${#numbers.sequence(pageVo.displayMinPage, pageVo.displayMaxPage)}"
                   th:text="${page}"
                   th:href="@{'/movies/movieList/movieInfo/' + ${movieInfo.moNum} (page=${page})}"
                   th:classappend="${page == pageVo.requestPage} ? 'active'"></a>
            </div>
        </section>
        <section id="character">
            <div class="movie-people-container">
                    <h2>&nbsp;&nbsp;감독</h2>
                    <div class="director">
                            <img th:if="${movieInfo.getDirectorImage()} != null" th:src="${movieInfo.getDirectorImage()}" alt="">
                        <div class="info">
                            <p class="name" th:text="${movieInfo.getDirectorName()}">Todd Haynes</p>
                            <div class="related-works">
                                <p class="related-img"></p>
                                <div class="works">
                                    <div th:each="movie : ${movieInfo.relatedMovies}">
                                        <a th:href="@{/movies/movieList/movieInfo/{id}(id=${movie.movieNum})}" class="movie-title">
                                            <img th:src="${movie.movieImage}" alt="">
                                        </a>
                                        <span th:text="${movie.movieTitle}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2>&nbsp;&nbsp;출연</h2>
                    <div class="actors-list">
                        <div th:each="actors, iterStat : ${movieInfo.actorNames}" class="actor">
                            <img th:if="${movieInfo.actorImages.size() > iterStat.index}" th:src="${movieInfo.actorImages[iterStat.index]}" alt="배우 이미지">
                            <div class="info">
                                <p class="role">주연</p>
                                <p class="name" th:text="${actors}">Cate Blanchett</p>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
        <section id="schedule">
            <ul class="main">
                <li class="item"
                    th:each="region : ${regions}"
                    th:text="${region.getRegName()}"
                    th:rel="${region.getRegName()}">
                </li>
            </ul>
            <div class="cinema-info">
                <div class="notice">* 시간을 클릭하시면 빠른 예매를 할 수 있습니다.</div>
                <div class="day-containers">
                    <button class="before button"></button>
                    <ul class="day-container"
                        th:if="${theaterVos != null}"
                        th:each="vos : ${theaterVos}">
                        <th:block th:each="vo : ${vos[2]}">
                            <li class="item" th:each="date, iterStat : ${vo.value.split(',')}">
                                <div class="small-container">
                                    <div th:text="${vo.key.split('-')[1]} + '월'" class="day"></div>
                                    <div th:text="${date.split('-')[1]}" class="day"></div>
                                </div>
                                <div th:text="${date.split('-')[0].trim()}" class="day"></div>
                            </li>
                        </th:block>
                    </ul>
                    <button class="after button"></button>
                </div>
                <ul class="items">
                    <li class="item"
                        th:if="${screenVos != null}"
                        th:each="screen : ${screenVos}">
                        <a href="#" th:utext="${screen.key[7].substring(0, 3)} + '<br>' + ${screen.key[7].substring(3)}" class="theater"></a>
                        <div class="screens">
                            <div class="screen-container"
                                 th:each="scVal : ${screen.value}">
                                <div class="theater-info">
                                    <img class="arrow"
                                         src="https://img.cgv.co.kr/r2014/images/common/ico/ico_arrow03.png"
                                         alt="화살표">
                                    <span th:if="${!scVal.key[1].equals('DX')}" th:text="${scVal.key[1]}"
                                          class="text"></span>
                                    <span th:if="${scVal.key[1].equals('DX')}" th:text="4 + ${scVal.key[1]}"
                                          class="text"></span>
                                    <img src="https://img.cgv.co.kr/r2014/images/common/bg/bg_li_vline.gif" alt="작대기">
                                    <span th:if="${scVal.key[0].replace('&&', '').trim().equals(scVal.key[1])}"
                                          th:classappend="${scVal.key[0].replace('&&', '').trim()}" class="text"></span>
                                    <span th:if="${!scVal.key[0].replace('&&', '').trim().equals(scVal.key[1])}"
                                          th:text="${scVal.key[0]}" class="text"></span>
                                    <img src="https://img.cgv.co.kr/r2014/images/common/bg/bg_li_vline.gif" alt="작대기">
                                    <span th:text="'총 ' + ${screen.key[4]} + '석'" class="text"></span>
                                </div>
                                <div class="time-table-container">
                                    <a href="#" class="time-table" th:each="sc : ${scVal.value}">
                                        <div th:text="${sc.split(',')[0].replace('[', '')}" class="time"></div>
                                        <div th:text="${sc.split(',')[1].replace(']', '')} + '석'" class="seat"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="notice-footer">* 입장 지연에 따른 관람 불편을 최소화하기 위해 영화는 10분 후 상영이 시작됩니다.</div>
            </div>
        </section>
    </div>
    <div class="movie-no-data" th:if="${movieInfo == null}">
        <h1>페이지를 찾을 수 없습니다</h1>
        <h2>영화 페이지가 존재하지 않습니다</h2>
    </div>
</main>
<th:block th:replace="~{fragments/common.html :: footer}"></th:block>

</body>
<script th:inline="javascript">
    const sessionUser = /*[[${sessionUser != null ? '"' + sessionUser + '"' : 'null'}]]*/ null;
</script>
</html>