<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>아이디 찾기</title>
    <link rel="stylesheet" th:href="@{'./assets/styles/index.css'}" type="text/css">
    <link rel="stylesheet" th:href="@{'../../assets/styles/common.css'}" type="text/css">
    <link rel="stylesheet" th:href="@{'../../fragments/assets/styles/index.css'}" type="text/css">
    <link rel="stylesheet" th:href="@{'../../fragments/assets/styles/common.css'}" type="text/css">
    <link rel="stylesheet" href="/user/styles/find-password.css" type="text/css">
    <script defer th:src="@{'./assets/scripts/index.js'}" type="text/javascript"></script>
    <script defer src="/user/scripts/find-password.js" type="text/javascript"></script>
</head>
<body>
<th:block th:replace="~{fragments/common.html :: advertisement}"></th:block>
<th:block th:replace="~{fragments/common.html :: header}"></th:block>
<th:block th:replace="~{fragments/common.html :: nav}"></th:block>
<div class="title-container frame">
    <h1>비밀번호 찾기</h1>
    <span>비밀번호가 기억나지 않으세요? 인증을 통해 비밀번호를 재설정 하실 수 있습니다.</span>
</div>
<main id="find-password-main" class="frame">
    <form id="find-password-form">
        <span>아이디, 이메일 인증을 통해 찾기</span>
        <label class="--obj-label">
            <input required class="--obj-filed -border" name="id" type="text" placeholder="아이디를 입력해주세요.">
        </label>
        <label class="--obj-label">
            <input required class="--obj-filed -border" name="email" type="text" placeholder="이메일을 입력해 주세요.">
        </label>
        <label class="--obj-label">
            <input required class="--obj-filed -border" name="contact" type="text" placeholder="연락처를 입력해 주세요.">
        </label>
        <button type="submit" class="button">비밀번호 찾기</button>
    </form>
</main>
<th:block th:replace="~{fragments/common.html :: footer}"></th:block>
</body>
</html>