<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.jwkim.jgv.mappers.user.EmailTokenMapper">

    <insert id="insertEmailToken">
        INSERT INTO `jgv`.`email_tokens` (`em_email`, `em_key`, `em_created_at`, `em_expires_at`, `em_is_used`)
        VALUES (#{emEmail}, #{emKey}, #{emCreatedAt}, #{emExpiresAt}, #{emUsed})
    </insert>
    <update id="updateEmailToken"
    parameterType="dev.jwkim.jgv.entities.user.EmailTokenEntity">
        UPDATE `jgv`.`email_tokens`
        SET `em_created_at` = #{emCreatedAt},
            `em_expires_at` = #{emExpiresAt},
            `em_is_used` = #{emUsed}
        WHERE `em_email` = #{emEmail}
        LIMIT 1
    </update>


    <select id="selectEmailTokenByUserEmailAndKey"
            resultType="dev.jwkim.jgv.entities.user.EmailTokenEntity">
        SELECT em_email      AS `emEmail`,
               em_key        AS `emKey`,
               em_created_at AS `emCreatedAt`,
               em_expires_at AS `emExpiresAt`,
               em_is_used    AS `emUsed`
        FROM `jgv`.`email_tokens`
        WHERE `em_email` = #{emEmail}
          AND `em_key` = #{emKey}
        LIMIT 1

    </select>
</mapper>