<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>이용약관</title>
    <link rel="stylesheet" th:href="@{'/assets/styles/index.css'}" type="text/css">
    <link rel="stylesheet" th:href="@{'/assets/styles/common.css'}" type="text/css">
    <link rel="stylesheet" th:href="@{'/fragments/assets/styles/index.css'}"
          type="text/css">
    <link rel="stylesheet" th:href="@{'/fragments/assets/styles/common.css'}"
          type="text/css">
    <script defer th:src="@{'/fragments/assets/scripts/common.js'}"></script>
    <link rel="shortcut icon" href="https://img.cgv.co.kr/theater_img/favicon.ico"
          type="image/x-icon">
</head>
<body style="display: flex; flex-direction: column; align-items: center;
justify-content: flex-start; gap: 2rem;">
<th:block th:replace="~{fragments/common.html :: advertisement}"></th:block>
<th:block th:replace="~{fragments/common.html :: header}"></th:block>
<th:block th:replace="~{fragments/common.html :: nav}"></th:block>
<main class="frame" style="padding-top: 3rem; display: flex; justify-content: center; align-items: flex-start; flex-direction: column; text-align: center; gap: 1.5rem; padding-bottom: 5rem;">
   <div class="title" style="display: flex; flex-direction: row; align-items: center; justify-content: flex-end; gap: 0.25rem;">
       <p>
       <span style="font-size: 1rem; font-weight: 500;">JGV 이용약관</span>
       <span style="font-size: 0.7rem; font-weight: 500;">(v8.4) 2024/09/13개정</span>
       </p>
   </div>
    <div style="display: flex; flex-direction: column; align-items: flex-start; justify-content: center; gap: 0.2rem;">
            <span style="font-weight: 500;">JGV는 회원 여러분께서 사이트를 이용함에 있어 불미스러운 일을 방지하고 사전에 명확한 관계 정책을 수립하기 위해</span>
            <span style="font-weight: 500;">아래와 같은 이용약관을 규정하고 있습니다.</span>
    </div>
    <div style="display: flex; flex-direction: column; align-items: flex-start; justify-content: center; gap: 1.5rem;">
        <h3>- 제1장 총칙 -</h3>
        <h3>제 1조 목적</h3>
        <span>본 약관은 제이지브이 주식회사(이하 "JGV"라 합니다)가 제공하는 서비스 및 상품의 이용에 관한 제반 사항을 규정하는 것을 목적으로 합니다.</span>
    </div>
    <div style="display: flex; flex-direction: column; align-items: flex-start; justify-content: center; gap: 1.5rem;">
        <h3>제2조 용어의 정의</h3>
        <span>본 약관에서 사용하는 용어의 정의는 다음 각 호와 같습니다.</span>
        <div>
            <ol style="display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start; gap: 0.5rem; font-weight: 400;">
                <li>1. "서비스"라 함은 JGV가 홈페이지 또는 어플리케이션, JGV의 영화상영관 및 여러 시설(로비, 부대시설 등 포함) 등을 통해 제공하는 영화 예매 서비스, 영화 관람 서비스, </li>
                <li>상품 판매 서비스 및 기타 각종 서비스 및 안내, 정보제공 서비스 등을 말합니다.</li>
                <li>2. "이용자"라 함은 본 약관에 따라 JGV가 제공하는 서비스를 제공받는 회원 및 비회원을 말합니다.</li>
                <li>3. "JGV 회원"이라 함은 JGV 이용약관 가입 절차에 따라 JGV에 가입하여 정상적으로 JGV 서비스를 이용할 수 있는 권한을 부여 받은 고객을 말합니다. JGV 회원에 대한 </li>
                <li>자세한 정의 및 내용은 JGV 이용 약관에 따릅니다.</li>
                <li>4. "회원"이라 함은 JGV 회원 중 JGV에 개인정보를 제공하고 본 약관에 동의하여 회원등록을 한 자로서 JGV가 제공하는 서비스를 계속적으로 이용할 수 있는 자를 말합니다.</li>
                <li>5. "비회원"이라 함은 JGV 회원에 가입하지 않고 JGV가 제공하는 서비스를 이용하는 자를 말합니다.</li>
                <li>6. "아이디(ID)"라 함은 회원의 식별과 서비스 이용을 위하여 회원이 정하고 회사가 승인하는 문자와 숫자의 조합을 의미합니다.</li>
                <li>7. "비밀번호"라 함은 회원이 등록한 아이디(ID)와 일치된 회원임을 확인하고 회원 자신의 개인정보를 보호하기 위하여 회원이 정한 문자, 숫자, 기호의 조합을 말합니다.</li>
                <li>8. "게시물"이라 함은 회사 또는 회원이 JGV 홈페이지를 이용함에 있어서 게시한 부호, 문자, 음성, 음향, 화상, 동영상 등의 정보 형태의 </li>
                <li>글, 사진, 동영상 및 각종 파일과 링크 등을 의미합니다.</li>
                <li>9. "매크로 프로그램"이란 지정된 명령을 수행하는 단순·반복적 작업을 자동화하여 처리하는 프로그램 등 통상적, 정상적인 사용 방법이 아닌 일체의 부정 사용 방법을 말합니다.</li>
            </ol>
        </div>

    </div>
    <div style="width: 100%; display: flex; flex-direction: column; align-items: flex-start; justify-content: center; gap: 1rem;" class="edit_box" id="privateview"><article class="terms_link_list_wrap terms_wrap">
        <h1 style="padding-bottom: 0.8rem;">아래 항목을 선택 시 해당 내용으로 이동합니다.</h1>

        <ol style="display: flex; gap: 0.5rem; flex-direction: column; align-items: flex-start; color: #6e6c6d;">
            <li><a style="color: #6e6c6d;" href="#idx1">목적</a></li>
            <li><a style="color: #6e6c6d;" href="#idx2">용어의 정의</a></li>
            <li><a style="color: #6e6c6d;" href="#idx3">약관의 게시 및 개정</a></li>
            <li><a style="color: #6e6c6d;" href="#idx4">CJ ONE 서비스 이용약관과의 관계 등</a></li>
            <li><a style="color: #6e6c6d;" href="#idx5">CGV 회원 가입</a></li>
            <li><a style="color: #6e6c6d;" href="#idx6">만 14세 미만 미성년자에 대한 특칙</a></li>
            <li><a style="color: #6e6c6d;" href="#idx7">회원 정보의 변경</a></li>
            <li><a style="color: #6e6c6d;" href="#idx8">회원 특전</a></li>
            <li><a style="color: #6e6c6d;" href="#idx9">CGV의 의무</a></li>
            <li><a style="color: #6e6c6d;" href="#idx10">회원의 의무</a></li>
            <li><a style="color: #6e6c6d;" href="#idx11">제재</a></li>
            <li><a style="color: #6e6c6d;" href="#idx12">회원 탈퇴</a></li>
            <li><a style="color: #6e6c6d;" href="#idx13">재가입의 제한</a></li>
            <li><a style="color: #6e6c6d;" href="#idx14">CJ ONE 포인트</a></li>
            <li><a style="color: #6e6c6d;" href="#idx15">전자 예매권 및 전자 영수증 등</a></li>
            <li><a style="color: #6e6c6d;" href="#idx16">개인정보 보호</a></li>
            <li><a style="color: #6e6c6d;" href="#idx17">서비스에 대한 안내, 고충처리 및 분쟁해결 등</a></li>
            <li><a style="color: #6e6c6d;" href="#idx18">이용자의 폭언 등 금지</a></li>
            <li><a style="color: #6e6c6d;" href="#idx19">서비스 제공의 중지</a></li>
            <li><a style="color: #6e6c6d;" href="#idx20">광고 등</a></li>
            <li><a style="color: #6e6c6d;" href="#idx21">게시물</a></li>
            <li><a style="color: #6e6c6d;" href="#idx22">손해배상</a></li>
            <li><a style="color: #6e6c6d;" href="#idx23">CGV의 면책</a></li>
            <li><a style="color: #6e6c6d;" href="#idx24">통지 및 공지</a></li>
            <li><a style="color: #6e6c6d;" href="#idx25">준거법 및 관할법원</a></li>
        </ol>
    </article>

        <article style="width: 100%; display: flex; align-items: flex-start; gap: 3rem; flex-direction: column; line-height: 2.5rem;" class="terms_contents_wrap terms_wrap"><strong class="h0Style">- 제1장 총칙 -</strong>

            <h1 id="idx1">제1조 목적</h1>
            <p>본 약관은 씨제이씨지브이 주식회사(이하 "CGV"라 합니다)가 제공하는 서비스 및 상품의 이용에 관한 제반 사항을 규정하는 것을 목적으로 합니다.</p>
            <h1 id="idx2">제2조 용어의 정의</h1>
            <p>본 약관에서 사용하는 용어의 정의는 다음 각 호와 같습니다.</p>
            <ol class="terms_list_circleNum">
                <li>
                    <ol style="width: 100%; display: flex; flex-direction: column; align-items: flex-start; gap: 1rem;" class="noneSpace">
                        <li>
                            <h3 style="text-align: left;">"서비스"라 함은 CGV가 홈페이지 또는 어플리케이션, CGV의 영화상영관 및 여러 시설(로비, 부대시설 등 포함) 등을 통해 제공하는 영화 예매 서비스, 영화 관람 서비스, 상품 판매 서비스 및 기타 각종 서비스 및 안내, 정보제공 서비스 등을 말합니다.</h3>
                        </li>
                        <li>
                            <h3 style="text-align: left;">"이용자"라 함은 본 약관에 따라 CGV가 제공하는 서비스를 제공받는 회원 및 비회원을 말합니다.</h3>
                        </li>
                        <li style="text-align: left;">
                            <h3 style="text-align: left;">"CJ ONE 회원"이라 함은 CJ ONE 이용약관 가입 절차에 따라 CJ ONE에 가입하여 정상적으로 CJ ONE 서비스를 이용할 수 있는 권한을 부여 받은 고객을 말합니다. CJ ONE 회원에 대한 자세한 정의 및 내용은 CJ ONE 이용 약관에 따릅니다.</h3>
                            <a style="color: #6e6c6d;" class="linkTo" href="#none" onclick="javascript:if(typeof cgv == 'undefined'){this.target='_blank';this.href='https://www.cjone.com/cjmweb/main.do'}else{cgv.common.Util.goOutLink('https://m.cjone.com:8443/cjmmobile/main.do', '1');}">-&nbsp;&nbsp;&nbsp;CJ ONE 이용약관 바로가기</a></li>
                        <li style="text-align: left;">
                            <h3>"회원"이라 함은 CJ ONE 회원 중 CGV에 개인정보를 제공하고 본 약관에 동의하여 회원등록을 한 자로서 CGV가 제공하는 서비스를 계속적으로 이용할 수 있는 자를 말합니다.</h3>
                        </li>
                        <li style="text-align: left;">
                            <h3>"비회원"이라 함은 CGV 회원에 가입하지 않고 CGV가 제공하는 서비스를 이용하는 자를 말합니다.</h3>
                        </li>
                        <li style="text-align: left;">
                            <h3>"아이디(ID)"라 함은 회원의 식별과 서비스 이용을 위하여 회원이 정하고 회사가 승인하는 문자와 숫자의 조합을 의미합니다.</h3>
                        </li>
                        <li style="text-align: left;">
                            <h3>"비밀번호"라 함은 회원이 등록한 아이디(ID)와 일치된 회원임을 확인하고 회원 자신의 개인정보를 보호하기 위하여 회원이 정한 문자, 숫자, 기호의 조합을 말합니다.</h3>
                        </li>
                        <li style="text-align: left;">
                            <h3>"게시물"이라 함은 회사 또는 회원이 CGV 홈페이지를 이용함에 있어서 게시한 부호, 문자, 음성, 음향, 화상, 동영상 등의 정보 형태의 글, 사진, 동영상 및 각종 파일과 링크 등을 의미합니다.</h3>
                        </li>
                        <li style="text-align: left;">
                            <h3>"매크로 프로그램"이란 지정된 명령을 수행하는 단순·반복적 작업을 자동화하여 처리하는 프로그램 등 통상적, 정상적인 사용 방법이 아닌 일체의 부정 사용 방법을 말합니다.</h3>
                        </li>
                    </ol>
                </li>
            </ol>

            <h1 style="text-align: left;"  id="idx3">제3조 약관의 게시 및 개정</h1>

            <ol style="text-align: left;" class="terms_list_circleNum">
                <li>
                    <h2>CGV는 본 약관의 내용을 이용자가 쉽게 확인할 수 있도록 CGV 홈페이지(www.cgv.co.kr)에 게시하거나 연결화면을 제공하는 방법으로 게시하고 있습니다.</h2>
                </li>
                <li>
                    <h2>CGV는 본 약관에 명시되지 않은 서비스에 대한 내용을 CGV 홈페이지 또는 어플리케이션을 통하여 공지합니다.</h2>
                </li>
                <li>
                    <h2>CGV는 「약관의 규제에 관한 법률」, 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」, 「소비자기본법」 등 관련법령을 위반하지 않는 범위에서 이 약관을 개정할 수 있습니다.</h2>
                </li>
                <li>
                    <h2>CGV가 약관을 개정할 경우에는 개정약관의 내용과 시행일자를 명시하고, 그 시행일로부터 최소 7일 전 공지합니다. 단, 회원 자격의 제한, 회원 탈퇴 등 이용자에게 불리하거나 중대한 사항의 변경의 경우 최소 30일 전에 공지합니다.</h2>
                </li>
                <li>
                    <h2>CGV가 약관을 개정할 경우에는 개정 약관 공지 후 개정 약관의 적용에 대한 회원의 동의 여부를 확인합니다. 개정약관 공지 시 회원이 동의 또는 거부의 의사표시를 하지 않으면 승낙한 것으로 간주하겠다는 내용도 함께 공지한 경우에는 회원이 약관 시행일까지 명시적인 거부의사를 표시하지 않는다면 개정약관에 동의한 것으로 봅니다.</h2>
                </li>
                <li>
                    <h2>회원이 개정 약관의 적용에 동의하지 않는 경우 CGV 또는 회원은 서비스 이용 계약을 해지할 수 있습니다.</h2>
                </li>
            </ol>

            <h1 style="text-align: left;" id="idx4">제4조 CJ ONE 서비스 이용약관과의 관계 등</h1>

            <ol style="text-align: left;" class="terms_list_circleNum">
                <li>
                    <h2>CJ ONE과 관련한 사항(CJ ONE 회원가입, CJ ONE 포인트 적립·사용, CJ ONE 서비스 종료, CJ ONE 약관의 개정 등)은 모두 「CJ ONE 서비스 이용약관」에 따릅니다. 단, CJ ONE과 관련하여 본 약관에서 특별히 규정하고 있는 내용은 본 약관이 우선 적용됩니다.</h2>
                    <a style="color: #6e6c6d;" class="linkTo" href="#none" onclick="javascript:if(typeof cgv == 'undefined'){this.target='_blank';this.href='https://www.cjone.com/cjmweb/main.do'}else{cgv.common.Util.goOutLink('https://m.cjone.com:8443/cjmmobile/main.do', '1');}">-&nbsp;&nbsp;&nbsp;CJ ONE 이용약관 바로가기</a></li>
                <li>
                    <h2>본 약관에 명시되지 않은 사항은 관련 법령 규정에 따릅니다.</h2>
                </li>
            </ol>
            <strong class="h0Style">- 제2장 CGV 회원 -</strong>

            <h1 style="text-align: left;" id="idx5">제5조 CGV 회원 가입</h1>

            <ol style="text-align: left;" class="terms_list_circleNum">
                <li>
                    <h2>이용자는 CJ ONE에서 정한 방법에 따라 CJ ONE회원 가입 후 본 약관 및 개인 정보 제공에 대한 동의하는 의사표시를 함으로써 회원가입을 신청합니다.</h2>
                </li>
                <li>
                    <h2>제1항 이용자의 신청에 대해 CGV가 회원가입을 승낙함으로써 회원 가입이 완료됩니다. 단, 다음 각 호의 어느 하나에 해당하는 경우 이용자의 회원 가입 신청에 대해 승낙하지 않을 수 있습니다.</h2>

                    <ol class="noneSpace">
                        <li>
                            <h3>가입신청자가 본 약관 제11조에 따른 제재를 받은 적이 있는 경우</h3>
                        </li>
                        <li>
                            <h3>실명이 아니거나 타인의 명의를 이용하는 경우</h3>
                        </li>
                        <li>
                            <h3>회원 가입을 위하여 필요한 사항을 미기재 또는 허위기재하는 경우</h3>
                        </li>
                        <li>
                            <h3>이용자의 부정한 목적으로 가입신청을 한 경우 및 기타 사회통념상 회원 가입이 부적절하다고 판단되는 경우</h3>
                        </li>
                    </ol>
                </li>
                <li>
                    <h2>제2항 단서에 따라 발생한 불이익에 대해서는 이용자가 모든 책임을 지며, CGV는 책임을 지지 않습니다.</h2>
                </li>
            </ol>

            <h1 style="text-align: left;" id="idx6">제6조 만 14세 미만 미성년자에 대한 특칙</h1>

            <ol style="text-align: left;" class="terms_list_circleNum">
                <li>
                    <h2>만 14세 미만 미성년자는 부모 등 법정대리인의 동의 없이 회원가입을 할 수 없습니다.</h2>
                </li>
                <li>
                    <h2>만 14세 미만 미성년자의 법정대리인은 아동에 대한 개인정보의 열람, 정정, 갱신을 요청하거나 회원가입에 대한 동의를 철회할 수 있습니다. 이 경우 CGV는 지체없이 필요한 조치를 취합니다.</h2>
                </li>
            </ol>

            <h1 style="text-align: left;" id="idx7">제7조 회원 정보의 변경</h1>

            <ol style="text-align: left;" class="terms_list_circleNum">
                <li>
                    <h2>회원은 언제든지 자신의 개인정보를 열람, 수정할 수 있습니다. 이 경우 회원은 온라인으로 수정을 하거나 기타 방법으로 CGV에 대하여 그 변경사항을 알려야 합니다.</h2>
                </li>
                <li>
                    <h2>제1항의 변경사항을 CGV에 알리지 않아 발생한 불이익에 대해 CGV는 책임지지 않습니다.</h2>
                </li>
            </ol>

            <h1 style="text-align: left;" id="idx8">제8조 회원 특전</h1>

            <ol style="text-align: left;" class="terms_list_circleNum">
                <li>
                    <h2>CGV는 회원 중 CGV가 정한 기준에 따라 회원에게 특별한 혜택을 부여할 수 있습니다. 구체적인 기준, 혜택 등에 관하여는 CGV 홈페이지 또는 어플리케이션을 통하여 공지합니다.</h2>
                </li>
                <li>
                    <h2>해당 기준, 혜택 등은 CGV 정책에 따라 변경 등이 가능하며 이 경우 CGV 홈페이지 또는 어플리케이션을 통하여 공지합니다.</h2>
                </li>
            </ol>

            <h1 style="text-align: left;" id="idx9">제9조 CGV의 의무</h1>

            <ol style="text-align: left;" class="terms_list_circleNum">
                <li>
                    <h2>CGV는 이용자가 편리하게 서비스를 이용할 수 있도록 최선을 다합니다.</h2>
                </li>
                <li>
                    <h2>CGV는 본 약관에서 정한 바에 따라 계속적이고 안정적인 서비스의 제공을 위하여 지속적으로 노력합니다. 다만, 전시, 사변, 천재지변, 감염병, 비상사태, 기술적 결함, 정전, 서비스 설비의 장애, 서비스 이용의 폭주, 기타 불가항력적 사유 또는 그 밖에 부득이한 경우 서비스를 일시 중단하거나 중지할 수 있습니다.</h2>
                </li>
            </ol>

            <h1 style="text-align: left;" id="idx10">제10조 회원의 의무</h1>

            <ol style="text-align: left;" class="terms_list_circleNum">
                <li>
                    <h2>회원은 본 약관에서 규정하는 사항과 개별 안내, 공지 등을 통하여 CGV가 안내·공지하는 사항을 준수하여야 합니다.</h2>
                </li>
                <li>
                    <h2>회원의 ID와 비밀번호에 관한 모든 관리 책임은 회원에게 있습니다. 회원에게 부여된 ID와 비밀번호의 관리소홀, 부정 사용에 의하여 발생하는 모든 결과에 대한 책임은 회원에게 있습니다.</h2>
                </li>
                <li>
                    <h2>회원은 자신의 ID나 비밀번호가 부정하게 사용되었다는 사실을 발견한 경우 즉시 CGV에 신고하여야 합니다. 해당 신고를 하지 않아 발생하는 모든 결과에 대한 책임은 회원에게 있습니다.</h2>
                </li>
                <li>
                    <h2>회원은 다음 각 호에 해당하는 행위를 하여서는 아니됩니다. 해당 행위로 인하여 발생한 회원 본인 또는 제3자의 손해에 대하여는 해당 행위를 한 회원이 모든 책임을 지며 CGV는 책임을 지지 않습니다.</h2>

                    <ol class="noneSpace">
                        <li>
                            <h3>타인의 개인정보, ID 또는 비밀번호를 도용하는 행위</h3>
                        </li>
                        <li>
                            <h3>가입 시 허위 내용을 기재하거나 잘못 기재하는 행위</h3>
                        </li>
                        <li>
                            <h3>회원 본인 외 제3자에게 서비스의 이용 권한, 기타 이용 계약상 지위를 양도, 증여, 담보 제공하는 행위</h3>
                        </li>
                        <li>
                            <h3>서비스를 이용하여 영업활동을 하는 행위</h3>
                        </li>
                        <li>
                            <h3>서비스 운영을 고의로 방해하는 행위</h3>
                        </li>
                        <li>
                            <h3>CGV의 영화상영관, 홈페이지, 어플리케이션 및 CGV지정 위탁판매업자를 통한 영화 티켓 구입 외의 방법으로 영화 관람 티켓을 구매하는 행위</h3>
                        </li>
                        <li>
                            <h3>매크로 프로그램을 사용하여 영화관람 티켓 구매 서비스를 이용하는 행위</h3>
                        </li>
                        <li>
                            <h3>매크로 프로그램을 사용하여 CJ ONE 포인트 부정적립 등 재산상 이익을 취득하는 행위</h3>
                        </li>
                        <li>
                            <h3>매크로 프로그램을 사용하여 CGV 홈페이지, 어플리케이션, SNS에 게시글(댓글을 포함한다)을 올리는 행위</h3>
                        </li>
                        <li>
                            <h3>영화 티켓을 재판매하는 행위</h3>
                        </li>
                        <li>
                            <h3>관람이 아닌 목적으로 티켓을 다량 구매한 후 정당한 이유 없이 반복적으로 취소 또는 환불하는 방법으로 다른 이용자의 구매 기회를 제한하는 등 공정한 거래질서 및 CGV의 업무를 현저히 방해하는 행위</h3>
                        </li>
                        <li>
                            <h3>무단으로 관람하는 행위 등 정당한 대가를 지불하지 아니하고 서비스를 이용하는 행위</h3>
                        </li>
                        <li>
                            <h3>다른 사람의 티켓, 영수증을 습득하여 포인트를 적립하거나 기타 CGV나 CJ ONE에서 정한 방법이 아닌 방법으로 포인트를 적립 또는 사용하는 행위</h3>
                        </li>
                        <li>
                            <h3>포인트 적립이나 영리의 목적으로 영화 예매를 한 다음 다른 사람에게 대가를 받고 양도하거나 포인트를 적립 또는 사용하는 행위</h3>
                        </li>
                        <li>
                            <h3>서비스의 안정적 운영을 방해할 목적으로 다량의 정보를 전송하는 행위</h3>
                        </li>
                        <li>
                            <h3>광고성 정보를 게시, 전송하는 행위</h3>
                        </li>
                        <li>
                            <h3>도박 사이트, 음란 사이트를 링크하거나 음란물, 기타 공공질서 및 미풍양속에 저해되는 내용을 게재하거나 유포하는 행위</h3>
                        </li>
                        <li>
                            <h3>CGV 또는 제3자의 지적재산권을 침해하는 행위</h3>
                        </li>
                        <li>
                            <h3>서비스를 이용하여 얻은 정보를 CGV의 사전 승낙 없이 복제 또는 유통시키거나, 출판 및 방송 등에 이용하거나, 기타 제3자에게 제공하는 행위</h3>
                        </li>
                        <li>
                            <h3>제3자의 프라이버시를 침해하는 행위</h3>
                        </li>
                        <li>
                            <h3>서비스 이용과 관련한 불법 행위</h3>
                        </li>
                        <li>
                            <h3>기타 관계 법령, 공공질서 및 미풍양속에 저해되는 행위</h3>
                        </li>
                    </ol>
                </li>
            </ol>

            <h1 style="text-align: left;" id="idx11">제11조 제재</h1>

            <ol style="text-align: left;" class="terms_list_circleNum">
                <li>
                    <h2>회원이 제10조 제4항 각 호에 해당하는 행위를 하는 경우 CGV는 사전통지 없이 서비스 이용 및 CJ ONE 포인트 적립, 사용 등을 일시적으로 제한, 정지할 수 있습니다.</h2>
                </li>
                <li>
                    <h2>회원이 제10조 제4항 각 호의 행위를 하는 경우 CGV는 제1항의 제재 외에 다음 각 호와 같은 조치를 할 수 있습니다.</h2>

                    <ol class="noneSpace">
                        <li>
                            <h3>회원에게 제10조 제4항 각 호의 행위에 대한 소명 요청</h3>
                        </li>
                        <li>
                            <h3>제1호에 따른 회원의 소명 내용에 대한 사실 확인 및 검토, 판단</h3>
                        </li>
                        <li>
                            <h3>회원의 소명 내용 및 해당 사안에 대한 객관적 자료를 종합적으로 판단한 후 사안에 따라 다음 각 목에 따른 제재 부과(병과 가능)</h3>

                            <ol>
                                <li>
                                    <h4 data-list-text="가">회원 자격 정지 (로그인 제한에 따라 포인트 사용 및 적립이 제한됨)</h4>
                                </li>
                                <li>
                                    <h4 data-list-text="나">회원 탈퇴</h4>
                                </li>
                                <li>
                                    <h4 data-list-text="다">부정 적립된 CJ ONE 포인트 말소</h4>
                                </li>
                                <li>
                                    <h4 data-list-text="라">기타 CJ ONE 포인트 부정 사용 및 적립 등으로 CGV에게 발생한 손해 배상 청구</h4>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    <h2>CGV는 본 조에 따른 조치와 별개로 민·형사 등의 법적인 조치를 취할 수 있습니다.</h2>
                </li>
                <li>
                    <h2>본 조 제1항 및 제2항의 CGV 조치에 대하여 회원은 이의신청을 할 수 있으며, CGV가 회원의 이의가 정당하다고 인정하는 경우 CGV는 해당 회원의 조치를 철회합니다.</h2>
                </li>
            </ol>

            <h1 style="text-align: left;" id="idx12">제12조 회원 탈퇴</h1>

            <ol style="text-align: left;" class="terms_list_circleNum">
                <li>
                    <h2>회원은 언제든지 탈퇴 신청을 할 수 있으며, 이 경우 CGV는 회원 탈퇴를 처리합니다. CJ ONE 회원 자격 유지 및 기타 CJ ONE 제휴사와의 서비스는 CJ ONE 이용약관을 따릅니다.</h2>
                    <a style="color: #6e6c6d;" class="linkTo" href="#none" onclick="javascript:if(typeof cgv == 'undefined'){this.target='_blank';this.href='https://www.cjone.com/cjmweb/main.do'}else{cgv.common.Util.goOutLink('https://m.cjone.com:8443/cjmmobile/main.do', '1');}">-&nbsp;&nbsp;&nbsp;CJ ONE 이용약관 바로가기</a></li>
                <li>
                    <h2>회원이 사망한 경우 CGV는 해당 회원에 대해 탈퇴 처리합니다.</h2>
                </li>
                <li>
                    <h2>CJ ONE 회원 탈퇴 또는 CJ ONE 회원 자격 상실이 된 경우 자동으로 CGV에서 회원 탈퇴 됩니다.</h2>
                </li>
            </ol>

            <h1 style="text-align: left;" id="idx13">제13조 재가입의 제한</h1>

            <p style="text-align: left;">회원이 자발적으로 탈퇴하거나 제11조에 따라 회원자격이 상실된 회원의 경우 서비스 부정 이용 및 추가적인 피해 방지를 위하여 탈퇴 또는 상실된 날로부터 1개월 간 회원 가입이 불가합니다.</p>
            <strong class="h0Style">- 제3장 CJ ONE 포인트 -</strong>

            <h1 id="idx14">제14조 CJ ONE 포인트</h1>

            <ol style="text-align: left;" class="terms_list_circleNum">
                <li>
                    <h2>CGV는 CJ ONE의 제휴사로, CJ ONE 회원은 CJ ONE 이용약관에서 정한 바에 따라 CJ ONE 포인트의 적립, 사용이 가능합니다.</h2>
                    <a style="color: #6e6c6d;" class="linkTo" href="#none" onclick="javascript:if(typeof cgv == 'undefined'){this.target='_blank';this.href='https://www.cjone.com/cjmweb/main.do'}else{cgv.common.Util.goOutLink('https://m.cjone.com:8443/cjmmobile/main.do', '1');}">-&nbsp;&nbsp;&nbsp;CJ ONE 이용약관 바로가기</a></li>
                <li>
                    <h2>CGV는 CGV 서비스 이용 시 CJ ONE 포인트의 적립, 사용, 제한 등과 관련한 제반 사항을 CGV 홈페이지 또는 어플리케이션을 통하여 공지합니다.</h2>
                </li>
                <li>
                    <h2>CJ ONE 포인트와 관련한 제반 사항은 CJ ONE 및 CGV의 영업 정책, 제휴 업체의 사정, 경제사정의 변동 등에 따라 변경 내지 폐지될 수 있으며, 이 경우 CGV는 해당 내용을 사전에 공지합니다.</h2>
                </li>
            </ol>
            <strong class="h0Style">- 제4장 환경 보호, 개인정보 보호 -</strong>

            <h1 style="text-align: left;" id="idx15">제15조 전자 예매권 및 전자 영수증 등</h1>

            <ol style="text-align: left;" class="terms_list_circleNum">
                <li>
                    <h2>CGV는 환경보호, 개인정보 보호 등을 위하여 영화 예매권 및 상품 등 구매 영수증을 전자로 제공하는 것을 원칙으로 합니다. 전자 예매권 및 전자 영수증은 지류 예매권, 지류 영수증과 같은 효력(구매 사실의 입증, 교환·반품 등 증빙)을 가지며 회원 또는 비회원은 CGV 홈페이지 또는 어플리케이션을 통해 본인의 예매권 및 구매 영수증을 확인할 수 있습니다.</h2>
                </li>
                <li>
                    <h2>제1항에도 불구하고 이용자가 지류 영수증의 발급을 요청하는 경우 또는 CGV정책에 따라 CGV는 지류 영수증을 제공할 수 있습니다.</h2>
                </li>
                <li>
                    <h2>CGV는 다음 각 호의 어느 하나에 해당하는 경우 전자 예매권 및 전자 영수증 서비스의 전부 또는 일부를 제한하거나 중지할 수 있습니다. 이 경우 CGV는 지류 영수증을 발급합니다.</h2>

                    <ol class="noneSpace">
                        <li>
                            <h3>컴퓨터 등 정보통신설비의 보수점검, 교체 및 고장, 통신의 두절 등이 발생한 경우</h3>
                        </li>
                        <li>
                            <h3>전자 예매권, 전자 영수증 서비스 제공을 위한 설비의 보수 등 공사를 하는 경우</h3>
                        </li>
                        <li>
                            <h3>정전, 제반 설비의 장애 또는 이용량의 폭주 등으로 정상적인 서비스 이용에 지장이 있는 경우</h3>
                        </li>
                        <li>
                            <h3>전자 예매권, 전자 영수증 서비스 제공업자와의 계약종료 등 CGV의 제반사정으로 전자 예매권 및 전자 영수증 서비스를 유지할 수 없는 경우</h3>
                        </li>
                        <li>
                            <h3>회원이 부정한 방법 등으로 전자 예매권, 전자 영수증 발급을 요청하는 경우</h3>
                        </li>
                        <li>
                            <h3>회원의 사정으로 신용카드회사 내지 기타 결제기관의 결제 승인이 거절되는 경우</h3>
                        </li>
                        <li>
                            <h3>전시, 사변, 천재지변, 감염병, 비상사태 또는 기타 불가항력적 사유가 있는 경우</h3>
                        </li>
                    </ol>
                </li>
                <li>
                    <h2>CGV는 12개월 이내 사용 내역에 대해서 전자 예매권 및 전자 영수증을 제공합니다. 이 기간 이전 내역에 대해 영수증을 원하시는 이용자는 CGV 홈페이지 또는 고객센터를 통해 요청하셔야 합니다.</h2>
                </li>
            </ol>

            <h1 style="text-align: left;" id="idx16">제16조 개인정보 보호</h1>

            <ol style="text-align: left;" class="terms_list_circleNum">
                <li>
                    <h2>CGV는 개인정보 보호 관련 법령에서 정한 바에 따라 개인정보를 수집, 이용, 관리 등을 합니다.</h2>
                </li>
                <li>
                    <h2>개인정보 수집, 이용, 관리 등에 관한 자세한 사항은 개인정보 처리방침에 따릅니다.</h2>
                    <a style="color: #6e6c6d;" class="linkTo" href="#none" onclick="javascript:if(typeof cgv == 'undefined'){this.target='_blank';this.href='http://www.cgv.co.kr/rules/privacy.aspx'}else{cgv.common.Util.goOutLink('https://m.cgv.co.kr/Agreement/Agreement_Provision.aspx?type=11', '1');}">-&nbsp;&nbsp;&nbsp;개인정보 처리방침 바로가기</a></li>
            </ol>
            <strong class="h0Style">- 제5장 소비자 분쟁해결, 손해배상 등 -</strong>

            <h1 style="text-align: left;" id="idx17">제17조 서비스에 대한 안내, 고충처리 및 분쟁해결 등</h1>

            <ol style="text-align: left;" class="terms_list_circleNum">
                <li>
                    <h2>CGV는 각 서비스 이용에 필요한 사항에 대해 개별 사항 마다 적절한 방법으로 공지합니다.</h2>
                </li>
                <li>
                    <h2>이용자는 각 서비스 이용 시 제1항에 따라 CGV가 공지하는 사항을 충분히 숙지하신 후 서비스를 이용하여야 합니다. 이를 숙지하지 않아 발생한 불이익에 대해 CGV는 책임을 지지 않습니다.</h2>
                </li>
                <li>
                    <h2>CGV는 이용자의 편의를 고려하여 이용자의 의견이나 불만을 제시하는 방법을 CGV 홈페이지에서 안내합니다. CGV는 이러한 이용자의 의견이나 불만을 처리하기 위한 전담조직을 운영합니다.</h2>
                    <span class="linkTo">-&nbsp;&nbsp;&nbsp;CGV고객센터: 1544-1122</span></li>
                <li>
                    <h2>CGV는 소비자 분쟁이 발생한 경우 개별 서비스 정책, 관련 법령(「영화 및 비디오물의 진흥에 관한 법률」 등) 및 「소비자분쟁해결기준」, 「영화관람 표준약관」, 「신유형 상품권 표준약관」, 「지류형 상품권 표준약관」 등에 따라 분쟁을 해결합니다.</h2>
                </li>
            </ol>

            <h1 style="text-align: left;" id="idx18">제18조 이용자의 폭언 등 금지</h1>

            <p style="text-align: left;">이용자는 CGV 임직원, CGV 협력회사의 임직원에 대해 폭언, 폭행, 그 밖에 적정 범위를 벗어난 신체적·정신적 고통을 유발하는 행위를 하여서는 아니됩니다. 해당 행위가 발생할 경우 CGV는 「산업안전보건법」을 비롯하여 관계 법령에 따라 모든 조치를 취할 수 있습니다.</p>

            <h1 style="text-align: left;" id="idx19">제19조 서비스 제공의 중지</h1>

            <ol style="text-align: left;" class="terms_list_circleNum">
                <li>
                    <h2>CGV는 다음 각 호 중 어느 하나에 해당하는 경우 서비스의 전부 또는 일부의 제공을 중지할 수 있습니다.</h2>

                    <ol class="noneSpace">
                        <li>
                            <h3>서비스 제공에 필요한 설비의 보수 등 공사로 부득이한 경우</h3>
                        </li>
                        <li>
                            <h3>「전기통신사업법」에 따른 기간통신사업자가 전기통신 서비스를 중지하는 경우</h3>
                        </li>
                        <li>
                            <h3>기술적 결함, 정전, 서비스 설비의 장애, 서비스 이용의 폭주 또는 기타 사유 등으로 정상적인 서비스 이용에 지장이 있는 경우</h3>
                        </li>
                        <li>
                            <h3>전시, 사변, 천재지변, 감염병, 비상사태 또는 기타 불가항력적 사유가 있는 경우</h3>
                        </li>
                    </ol>
                </li>
                <li>
                    <h2>CGV는 제1항에 따라 서비스의 이용이 제한되거나 중지된 때에는 그 사유 및 중지기간 등을 회원에게 안내합니다.</h2>
                </li>
            </ol>

            <h1 style="text-align: left;" id="idx20">제20조 광고 등</h1>

            <ol style="text-align: left;" class="terms_list_circleNum">
                <li>
                    <h2>CGV가 이용자에게 제공하는 서비스의 투자기반 일부는 광고게재를 통한 수익으로부터 나옵니다. CGV의 서비스를 이용하고자 하는 자는 서비스 이용 시 노출되는 광고게재에 대해 동의하는 것으로 간주됩니다.</h2>
                </li>
                <li>
                    <h2>CGV는 이용자에게 혜택안내 수신동의를 얻어 영리목적의 광고성 e-mail 및 SMS, DM을 발송하거나 별도의 안내 권유 전화를 할 수 있으며 이용자가 수신거부의사를 표시할 경우 이를 중지합니다.</h2>
                </li>
                <li>
                    <h2>CGV는 CGV가 운영하는 광고 매체(영화상영관, 홈페이지, 어플리케이션, SNS, 옥외광고 등)에 게재 또는 송출되는 제3자인 광고주의 광고물 또는 판촉활동과 관련하여 이용자가 이에 직접 참여하거나 광고주와 별도로 거래를 한 결과로 발생하는 손실 또는 손해에 대해서는 책임을 지지 않습니다.</h2>
                </li>
            </ol>

            <h1 style="text-align: left;" id="idx21">제21조 게시물</h1>

            <ol style="text-align: left;" class="terms_list_circleNum">
                <li>
                    <h2>CGV의 홈페이지, 어플리케이션, SNS 등에 게시한 게시물(댓글, 관람평 등 포함, 이하 동일합니다)의 내용에 대한 권리와 책임은 게시자에게 있습니다.</h2>
                </li>
                <li>
                    <h2>이용자는 위 제1항의 게시물을 CGV의 사전 허락 없이 수집, 이용, 배포 등을 할 수 없습니다.</h2>
                </li>
                <li>
                    <h2>이용자는 CGV의 홈페이지, 어플리케이션, SNS 등에 다음 각 호에 해당하는 게시물을 작성, 게시 등을 할 수 없습니다. CGV는 제1호부터 제5호까지에 해당하는 게시물을 사전 통지 없이 임시조치(차단 또는 블라인드, 이하 같습니다)를 할 수 있으며, 제6호에 해당하는 게시물의 경우 임시조치를 할 수 있으나 이용자에게 지체없이 그 사유를 통지합니다(단, SNS의 경우 별도 임시조치가 불가하기에 임시조치 대신 삭제 조치를 할 수 있습니다). 이용자가 다음 각 호 중 하나에 해당하는 행위를 중대하게 위반하거나 반복적으로 행하는 경우, CGV는 해당 이용자에게 사전 통지 후 게시물을 삭제할 수 있습니다.</h2>

                    <ol class="noneSpace">
                        <li>
                            <h3>욕설 등과 같은 비속어, 타인을 비방하거나 명예를 훼손하는 내용, 모욕을 주는 내용 등이 들어간 게시물</h3>
                        </li>
                        <li>
                            <h3>음란물, 음란물 광고, 음란사이트 링크 등 공공질서 및 미풍양속에 위반되는 게시물</h3>
                        </li>
                        <li>
                            <h3>범죄적 행위에 결부된다고 인정되는 내용 등 기타 관계법령에 위반되는 게시물</h3>
                        </li>
                        <li>
                            <h3>CGV 및 제3자의 저작권 등 권리를 침해하는 게시물</h3>
                        </li>
                        <li>
                            <h3>CGV의 사전 승인을 받지 않은 일체의 광고 게시물</h3>
                        </li>
                        <li>
                            <h3>기타 CGV의 서비스 내지 게시판 등의 목적, 취지, 성격에 부합하지 않는다고 객관적이고 합리적으로 판단되는 게시물</h3>
                        </li>
                    </ol>
                </li>
                <li>
                    <h2>이용자는 전항에 따른 게시물의 임시조치 또는 삭제 등 조치에 대해 CGV 고객센터를 통해 이의를 제기할 수 있습니다.</h2>
                </li>
            </ol>

            <h1 style="text-align: left;" id="idx22">제22조 손해배상</h1>

            <ol style="text-align: left;" class="terms_list_circleNum">
                <li>
                    <h2>CGV가 고의 또는 과실로 이용자에게 손해를 발생시킨 경우, CGV는 해당 손해를 배상합니다. 다만, 특별한 사정으로 인한 손해는 CGV가 그 사정을 알았거나 알 수 있었을 때에 한하여 배상의 책임이 있습니다.</h2>
                </li>
                <li>
                    <h2>이용자가 본 약관 또는 법령 등을 위반하여 CGV에 손해를 끼친 경우, 이용자는 CGV에 대하여 그 손해를 배상할 책임이 있습니다.</h2>
                </li>
            </ol>

            <h1 style="text-align: left;" id="idx23">제23조 CGV의 면책</h1>

            <ol style="text-align: left;" class="terms_list_circleNum">
                <li>
                    <h2>CGV는 전시, 사변, 천재지변, 비상사태, 기타 이에 준하는 불가항력 사유 등으로 서비스를 제공할 수 없는 경우에는 책임이 면제됩니다.</h2>
                </li>
                <li>
                    <h2>CGV는 기술적 결함, 정전, 서비스 설비의 장애, 서비스 이용의 폭주와 같은 사유로 서비스를 제공할 수 없는 경우에는 CGV의 고의 또는 과실이 없는 한 책임이 면제됩니다.</h2>
                </li>
                <li>
                    <h2>CGV는 이용자의 귀책사유로 인한 서비스의 중지, 이용장애 및 계약해지에 대하여 CGV의 고의 또는 과실이 없는 한 책임이 면제됩니다.</h2>
                </li>
                <li>
                    <h2>CGV는 기간통신 사업자가 전기통신서비스를 중지하거나 정상적으로 제공하지 아니하여 이용자에게 손해가 발생한 경우에 대해서 CGV의 고의 또는 과실이 없는 한 책임이 면제됩니다.</h2>
                </li>
                <li>
                    <h2>CGV는 사전에 공지된 서비스 설비의 보수, 교체, 정기점검, 공사 등 부득이한 사유로 서비스가 중지되거나 장애가 발생한 경우에 대해서 CGV의 고의 또는 과실이 없는 한 책임이 면책됩니다.</h2>
                </li>
                <li>
                    <h2>CGV는 이용자의 컴퓨터, 휴대폰 등 전자기기의 환경으로 인하여 발생하는 제반 문제 또는 CGV의 고의 또는 과실이 이 없는 네트워크 환경으로 인하여 발생하는 문제에 대해서 책임이 면제됩니다.</h2>
                </li>
                <li>
                    <h2>CGV는 이용자 또는 제3자가 서비스 내, 웹사이트 또는 어플리케이션 상에 게시 또는 전송한 정보, 자료, 사실의 신뢰도, 정확성 등의 내용에 대해서는 CGV의 고의 또는 과실이 이 없는 한 책임이 면제됩니다.</h2>
                </li>
                <li>
                    <h2>CGV는 이용자 상호간 또는 이용자와 제3자간에 서비스를 매개로 발생한 분쟁에 대해 개입할 의무가 없으며 이로 인한 손해에 대해서도 고의 또는 과실이 없는 한 배상할 책임이 없습니다.</h2>
                </li>
                <li>
                    <h2>CGV가 제공하는 서비스 중 무료인 서비스 이용과 관련하여 이용자에게 발생한 손해에 관하여 CGV의 고의 또는 과실이 없는 한 책임을 지지 않습니다.</h2>
                </li>
                <li>
                    <h2>CGV가 제공하는 서비스 중 일부의 서비스는 다른 사업자가 제공하는 서비스를 통하여 제공될 수 있으며, CGV는 다른 사업자가 제공하는 서비스로 인하여 발생한 손해 등에 대해서는 CGV의 고의 또는 과실이 없는 한 책임이 면제됩니다.</h2>
                </li>
                <li>
                    <h2>CGV는 이용자의 컴퓨터, 휴대폰 등 전자기기의 오류에 의한 손해가 발생한 경우 또는 신상정보 및 전자우편주소를 부정확하게 기재하거나 미기재하여 손해가 발생한 경우에 대하여 CGV의 고의 또는 과실이 없는 한 책임이 면제됩니다.</h2>
                </li>
                <li>
                    <h2>CGV는 관련 법령, 정부 정책 등에 따라 서비스 또는 서비스 이용시간 등을 제한할 수 있으며, 이러한 제한에 따라 발생하는 서비스 이용 관련 제반사항에 대해서는 책임이 면제됩니다.</h2>
                </li>
            </ol>

            <h1 style="text-align: left;" id="idx24">제24조 통지 및 공지</h1>

            <ol style="text-align: left;" class="terms_list_circleNum">
                <li>
                    <h2>CGV가 회원에게 개별 통지를 하는 경우 회원이 회원가입 시 입력한 전자우편주소 등으로 할 수 있고, 그 전자우편주소 등으로 발송한 때 효력이 발생합니다.</h2>
                </li>
                <li>
                    <h2>CGV는 7일 이상 CGV 홈페이지를 통해 공지함으로써 제1항의 통지에 갈음할 수 있습니다.</h2>
                </li>
            </ol>

            <h1 style="text-align: left;" id="idx25">제25조 준거법 및 관할법원</h1>

            <ol style="text-align: left;" class="terms_list_circleNum">
                <li>
                    <h2>본 약관과 관련한 법률관계에 대해서는 대한민국법률을 적용합니다.</h2>
                </li>
                <li>
                    <h2>CGV와 이용자 간에 발생한 분쟁으로 소송이 제기되는 경우 대한민국 법원을 관할 법원으로 합니다. 단, 구체적인 관할은 민사소송법상 관할 법원에 따릅니다.</h2>
                </li>
            </ol>

            <ul class="subTerms_list">
                <li>[부칙] (2024. 01. 23. 개정) 본 약관은 2024년 1월 23일부터 시행됩니다.</li>
            </ul>
        </article></div>
</main>

<th:block th:replace="~{fragments/common.html :: footer}"></th:block>
</body>
</html>