<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{'/ticket/assets/styles/index.css'}">
    <link rel="stylesheet" th:href="@{'../../assets/styles/common.css'}" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{'../../fragments/assets/styles/index.css'}">
    <link rel="stylesheet" type="text/css" th:href="@{'../../fragments/assets/styles/common.css'}">
    <script defer th:src="@{'/ticket/assets/scripts/index.js'}"></script>
    <script defer th:src="@{'../../assets/scripts/common.js'}"></script>
    <title>JGV - 티켓 예매</title>
</head>
<body>
<th:block th:replace="~{fragments/common.html :: advertisement}"></th:block>
<th:block th:replace="~{fragments/common.html :: header}"></th:block>
<th:block th:replace="~{fragments/common.html :: nav}"></th:block>
<div id="whiteBlow" class="hidden"></div>
<main id="main">
    <div class="button-container">
        <a class="content-bar-timetable" href="#"></a>
        <a class="content-bar-retry" th:href="@{./}" target="_self"></a>
    </div>
    <!------------------------------------------------------------------------------------>
    <div class="main-container">
        <div class="advertisement-container">
            <a href="#" target="_self" class="advertisement-move">
                <img src="https://adimg.cgv.co.kr/images/202411/MyHero/1119_160x300.jpg" alt="배너"
                     class="advertisement">
            </a>
        </div>
        <div class="main mains" data-id="main">
            <div class="section movie">
                <div class="header">
                    <div class="movie"></div>
                </div>
                <div class="body">
                    <div class="content">
                        <div class="order">
                            <div class="text select">예매율순</div>
                            <div class="text">가나다순</div>
                        </div>
                        <ul class="movie" th:if="${theaterVos == null && dateVos == null && thScVos == null}">
                            <li class="item-container"
                                th:each="movie : ${movies}">
                                <div class="text">
                                    <div th:class="${movie.getRaGrade() + ' rating'}"></div>
                                    <span th:text="${movie.getMoTitle()}" class="name"></span>
                                </div>
                            </li>
                        </ul>
                        <ul class="movie" th:if="${theaterVos != null}"
                            th:each="vos : ${theaterVos}">
                            <li class="item-container"
                                th:each="vo : ${vos[0]}">
                                <div class="text">
                                    <div th:class="${vo.key.split('&&')[1] + ' rating'}"></div>
                                    <span th:text="${vo.key.split('&&')[0]}" class="name"></span>
                                </div>
                            </li>
                        </ul>
                        <ul class="movie"
                            th:if="${dateVos != null}"
                            th:each="vos : ${dateVos}">
                            <li class="item-container"
                                th:each="vo : ${vos[0]}">
                                <div class="text">
                                    <div th:class="${vo.key.split('&&')[1] + ' rating'}"></div>
                                    <span th:text="${vo.key.split('&&')[0]}" class="name"></span>
                                </div>
                            </li>
                        </ul>
                        <ul class="movie"
                            th:if="${thScVos != null}"
                            th:each="vos : ${thScVos}">
                            <li class="item-container"
                                th:each="vo : ${vos[1]}">
                                <div class="text">
                                    <div th:class="${vo.key.split('&&')[1] + ' rating'}"></div>
                                    <span th:text="${vo.key.split('&&')[0]}" class="name"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="section theater">
                <div class="header">
                    <div class="theater"></div>
                </div>
                <div class="body theater">
                    <div class="content">
                        <ul class="region-container"
                            th:if="${movieVos == null}">
                            <li th:each="region : ${regions}"
                                th:text="${region.getRegName() + '(' + region.getTheaterCount() + ')'}"
                                class="region" data-id="region"></li>
                        </ul>
                        <ul class="region-container"
                            th:if="${movieVos != null}"
                            th:each="vos : ${movieVos}">
                            <li th:each="region : ${regions}"
                                th:if="${region.getRegName().equals(vos[0][4])}"
                                th:text="${vos[0][4] + '(' + vos[0][3] + ')'}"
                                class="region" data-id="region"></li>
                            <li th:each="region : ${regions}"
                                th:if="${!region.getRegName().equals(vos[0][4])}"
                                th:text="${region.getRegName() + '(' + region.getTheaterCount() + ')'}"
                                class="region" data-id="region"></li>
                        </ul>
                        <ul class="theater-container"
                            th:if="${movieVos == null && theaterVos == null && moScVos == null}">
                            <li class="theater"
                                th:if="theaters != null"
                                th:each="theater : ${theaters}">
                                <span th:text="${theater.getThName().substring(3, theater.getThName().length())}"
                                      class="text"></span>
                            </li>
                        </ul>
                        <ul class="theater-container"
                            th:if="${movieVos != null}"
                            th:each="vos : ${movieVos}">
                            <li class="theater" th:each="vo : ${vos[1]}">
                                <span th:text="${vo.substring(3, vo.length())}"
                                      class="text"></span>
                            </li>
                        </ul>
                        <ul class="theater-container"
                            th:if="${dateVos != null}"
                            th:each="vos : ${dateVos}">
                            <li class="theater" th:each="vo : ${vos[1]}">
                                <span th:text="${vo.substring(3, vo.length())}"
                                      class="text"></span>
                            </li>
                        </ul>
                        <ul class="theater-container"
                            th:if="${moScVos != null}"
                            th:each="vos : ${moScVos}">
                            <li class="theater" th:each="vo : ${vos[0]}">
                                <span th:text="${vo.substring(3, vo.length())}"
                                      class="text"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="section day">
                <div class="header">
                    <div class="day"></div>
                </div>
                <div class="body day">
                    <div class="content" th:if="${movieVos == null && theaterVos == null && moThVos == null}">
                        <div class="content-container">
                            <ul class="day-container" th:each="map : ${maps}">
                                <li class="title">
                                    <span class="year" th:text="${map.getKey().split('-')[0]}"></span>
                                    <span class="month" th:text="${map.getKey().split('-')[1]}"></span>
                                </li>
                                <li class="day" th:each="maps : ${map.getValue().split(',')}">
                                    <div class="day-container"
                                         th:each="weekday : ${maps}">
                                        <span class="week"
                                              th:if="${!weekday.split('-')[1].trim().equals('토') && !weekday.split('-')[1].trim().equals('일')}"
                                              th:text="${weekday.split('-')[1]}"></span>
                                        <span class="week saturday"
                                              th:if="${weekday.split('-')[1].trim().equals('토')}"
                                              th:text="${weekday.split('-')[1]}"></span>
                                        <span class="week sunday"
                                              th:if="${weekday.split('-')[1].trim().equals('일')}"
                                              th:text="${weekday.split('-')[1]}"></span>
                                        <span class="stretch"></span>
                                        <span class="date"
                                              th:if="${!weekday.split('-')[1].trim().equals('토') && !weekday.split('-')[1].trim().equals('일')}"
                                              th:text="${weekday.split('-')[0]}"></span>
                                        <span class="date saturday"
                                              th:if="${weekday.split('-')[1].trim().equals('토')}"
                                              th:text="${weekday.split('-')[0]}"></span>
                                        <span class="date sunday"
                                              th:if="${weekday.split('-')[1].trim().equals('일')}"
                                              th:text="${weekday.split('-')[0]}"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="content"
                         th:if="${movieVos != null}"
                         th:each="vos : ${movieVos}">
                        <div class="content-container" th:each="vo : ${vos[2]}">
                            <ul class="day-container" th:each="map : ${vo}">
                                <li class="title">
                                    <span class="year" th:text="${map.getKey().split('-')[0]}"></span>
                                    <span class="month" th:text="${map.getKey().split('-')[1]}"></span>
                                </li>
                                <li class="day" th:each="maps : ${map.getValue().split(',')}">
                                    <div class="day-container"
                                         th:each="weekday : ${maps}">
                                        <span class="week"
                                              th:if="${!weekday.split('-')[1].trim().equals('토') && !weekday.split('-')[1].trim().equals('일')}"
                                              th:text="${weekday.split('-')[1]}"></span>
                                        <span class="week saturday"
                                              th:if="${weekday.split('-')[1].trim().equals('토')}"
                                              th:text="${weekday.split('-')[1]}"></span>
                                        <span class="week sunday"
                                              th:if="${weekday.split('-')[1].trim().equals('일')}"
                                              th:text="${weekday.split('-')[1]}"></span>
                                        <span class="stretch"></span>
                                        <span class="date"
                                              th:if="${!weekday.split('-')[1].trim().equals('토') && !weekday.split('-')[1].trim().equals('일')}"
                                              th:text="${weekday.split('-')[0]}"></span>
                                        <span class="date saturday"
                                              th:if="${weekday.split('-')[1].trim().equals('토')}"
                                              th:text="${weekday.split('-')[0]}"></span>
                                        <span class="date sunday"
                                              th:if="${weekday.split('-')[1].trim().equals('일')}"
                                              th:text="${weekday.split('-')[0]}"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="content"
                         th:if="${theaterVos != null}"
                         th:each="vos : ${theaterVos}">
                        <div class="content-container" th:each="vo : ${vos[1]}">
                            <ul class="day-container" th:each="map : ${vo}">
                                <li class="title">
                                    <span class="year" th:text="${map.getKey().split('-')[0]}"></span>
                                    <span class="month" th:text="${map.getKey().split('-')[1]}"></span>
                                </li>
                                <li class="day" th:each="maps : ${map.getValue().split(',')}">
                                    <div class="day-container"
                                         th:each="weekday : ${maps}">
                                    <span class="week"
                                          th:if="${!weekday.split('-')[1].trim().equals('토') && !weekday.split('-')[1].trim().equals('일')}"
                                          th:text="${weekday.split('-')[1]}"></span>
                                        <span class="week saturday"
                                              th:if="${weekday.split('-')[1].trim().equals('토')}"
                                              th:text="${weekday.split('-')[1]}"></span>
                                        <span class="week sunday"
                                              th:if="${weekday.split('-')[1].trim().equals('일')}"
                                              th:text="${weekday.split('-')[1]}"></span>
                                        <span class="stretch"></span>
                                        <span class="date"
                                              th:if="${!weekday.split('-')[1].trim().equals('토') && !weekday.split('-')[1].trim().equals('일')}"
                                              th:text="${weekday.split('-')[0]}"></span>
                                        <span class="date saturday"
                                              th:if="${weekday.split('-')[1].trim().equals('토')}"
                                              th:text="${weekday.split('-')[0]}"></span>
                                        <span class="date sunday"
                                              th:if="${weekday.split('-')[1].trim().equals('일')}"
                                              th:text="${weekday.split('-')[0]}"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="content"
                         th:if="${moThVos != null}"
                         th:each="vos : ${moThVos}">
                        <div class="content-container" th:each="vo : ${vos[0]}">
                            <ul class="day-container" th:each="map : ${vo}">
                                <li class="title">
                                    <span class="year" th:text="${map.getKey().split('-')[0]}"></span>
                                    <span class="month" th:text="${map.getKey().split('-')[1]}"></span>
                                </li>
                                <li class="day" th:each="maps : ${map.getValue().split(',')}">
                                    <div class="day-container"
                                         th:each="weekday : ${maps}">
                                    <span class="week"
                                          th:if="${!weekday.split('-')[1].trim().equals('토') && !weekday.split('-')[1].trim().equals('일')}"
                                          th:text="${weekday.split('-')[1]}"></span>
                                        <span class="week saturday"
                                              th:if="${weekday.split('-')[1].trim().equals('토')}"
                                              th:text="${weekday.split('-')[1]}"></span>
                                        <span class="week sunday"
                                              th:if="${weekday.split('-')[1].trim().equals('일')}"
                                              th:text="${weekday.split('-')[1]}"></span>
                                        <span class="stretch"></span>
                                        <span class="date"
                                              th:if="${!weekday.split('-')[1].trim().equals('토') && !weekday.split('-')[1].trim().equals('일')}"
                                              th:text="${weekday.split('-')[0]}"></span>
                                        <span class="date saturday"
                                              th:if="${weekday.split('-')[1].trim().equals('토')}"
                                              th:text="${weekday.split('-')[0]}"></span>
                                        <span class="date sunday"
                                              th:if="${weekday.split('-')[1].trim().equals('일')}"
                                              th:text="${weekday.split('-')[0]}"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section time">
                <div class="header">
                    <div class="time"></div>
                </div>
                <div class="body time">
                    <div class="content hidden">
                        <div class="notice">영화,극장,날짜를 선택해 주세요.</div>
                    </div>
                    <div class="time-container">
                        <div class="time-table" th:each="time : ${times}">
                            <div class="title">
                                <span th:text="${time.key[0]}" class="cinema-type"></span>
                                <span th:text="${time.key[1]}" class="cinema"></span>
                                <span th:text="${'(총 ' + time.key[2] + '석)'}" class="seat"></span>
                            </div>
                            <ul class="times">
                                <li class="item" th:each="day : ${time.getValue()}">
                                    <span class="time">
                                        <span th:text="${day[0].split('T')[1]}" class="text"></span>
                                    </span>
                                    <span th:text="${day[1] + '석'}" class="seat"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!------------------------------------------------------------------------------------>
        <div id="main-seat" class="mains hidden" data-id="main-seat">
            <div class="seat-div">
                <div class="content">인원/좌석</div>
                <div class="screen-container">
                    <div class="info-container" id="nopContainer">
                        <span id="maximum_people">* 최대 8명 선택 가능</span>
                        <div class="title-container">
                            <span class="title">일반</span>
                            <label class="adult">
                                <label class="selected selected0">
                                    <input class="adults" name="number" type="radio" value="0" checked>
                                    <span id="-adult adult0">0</span>
                                </label>
                                <label class="selected selected1">
                                    <input class="adults" name="number" type="radio" value="1">
                                    <span id="-adult adult1">1</span>
                                </label>
                                <label class="selected selected2">
                                    <input class="adults" name="number" type="radio" value="2">
                                    <span id="-adult adult2">2</span>
                                </label>
                                <label class="selected selected3">
                                    <input class="adults" name="number" type="radio" value="3">
                                    <span id="-adult adult3">3</span>
                                </label>
                                <label class="selected selected4">
                                    <input class="adults" name="number" type="radio" value="4">
                                    <span id="-adult adult4">4</span>
                                </label>
                                <label class="selected selected5">
                                    <input class="adults" name="number" type="radio" value="5">
                                    <span id="-adult adult5">5</span>
                                </label>
                                <label class="selected selected6">
                                    <input class="adults" name="number" type="radio" value="6">
                                    <span id="-adult adult6">6</span>
                                </label>
                                <label class="selected selected7">
                                    <input class="adults" name="number" type="radio" value="7">
                                    <span id="-adult adult7">7</span>
                                </label>
                                <label class="selected selected8">
                                    <input class="adults" name="number" type="radio" value="8">
                                    <span id="-adult adult8">8</span>
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="info-container title-right-box">
                        <div class="title-container">
                            <span class="text">CGV대구</span>
                            <span class="text center">2관</span>
                            <span class="text seat-text">남은 좌석 <b id="seat-color" class="seat-color">00</b>/40</span>
                        </div>
                        <div class="title-container">
                            <b class="big-text" id="seat-date"></b>
                            <b class="big-text">~</b>
                            <b class="big-text" id="seat-time"></b>
                        </div>
                    </div>
                </div>
                <div class="screen-container screen-down">
                    <div class="seat-container">
                        <div class="screen-bar">SCREEN</div>
                        <div class="screen" id="screen">
                        </div>
                    </div>
                    <div class="plus">
                        <span><span class="icon icon1"></span>선 택</span>
                        <span><span class="icon icon2"></span>예매 가능 좌석</span>
                        <span><img alt="" src="/ticket/assets/images/icon3.png" class="icon icon2">선택 불가</span>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------------------------------------------>
        <div id="main-payment" class="mains hidden" data-id="main-payment">
            <div class="left-container">
                <div class="payment-bar">결제 수단</div>
                <div class="payment-container" id="payment-container">
                    <label>
                        <label class="payment-label">
                            <input class="payment-check card-check" name="payment-check" type="radio" value="card"
                                   checked>
                            <span>신용카드</span>
                        </label>
                        <label class="payment-label">
                            <input class="payment-check" id="cellphone" name="payment-check" type="radio"
                                   value="cellPhone">
                            <span>휴대폰 결제</span>
                        </label>
                        <label class="payment-label">
                            <input class="payment-check" id="simple-pay" name="payment-check" type="radio"
                                   value="simple-pay">
                            <span>간편결제</span>
                        </label>
                        <label class="payment-label">
                            <input class="payment-check" id="credit" name="payment-check" type="radio" value="credit">
                            <span>내통장결제</span>
                        </label>
                        <label class="payment-label">
                            <input class="payment-check" id="toss" name="payment-check" type="radio" value="toss">
                            <span>토스</span>
                        </label>
                    </label>
                </div>
                <div class="card-container pay-containers">
                    <div class="card-content">
                        <span>카드종류</span>
                        <label class="card-label">
                            <select name="card">
                                <option disabled selected>카드를 선택해주세요.</option>
                                <option>BC카드</option>
                                <option>현대카드</option>
                                <option>하나카드</option>
                                <option>삼성카드</option>
                                <option>신한카드</option>
                                <option>KB국민카드</option>
                                <option>카카오뱅크카드</option>
                                <option>농협카드</option>
                                <option>우리카드</option>
                            </select>
                        </label>
                    </div>
                    <div class="text-space"></div>
                    <div class="card-text texts">
                        <span class="text">※ 신용카드 결제 가능 최소 금액은 1,000원 이상입니다.</span>
                        <span class="text bottom-line">
                <a href="#">삼성U포인트 적립</a>
                <a href="#">OK캐쉬백 적립</a>
                <a href="#">신세계포인트 적립</a>
            </span>
                        <span class=" text">(삼성U포인트, OK캐쉬백, 신셰게 포인트는 포인트 중복 적립 불가) </span>
                    </div>
                </div>
                <div class="cellphone-container  pay-containers" style="display: none">
                    <div class="cellphone-content">
                <span class="text">
                    <span class="text">결제금액</span>
                    <span class="cellphone-pay" id="pay-price-won6"></span>
                    <span class="text">원</span>
                </span>
                        <span class="text">
                    <span class="text">상품명</span>
                    <span class="text">영화티켓예매</span>
                </span>
                    </div>
                    <div class="text-space"></div>
                    <div class="cellphone-text texts">
                        <h4>휴대폰 결제 순서</h4>
                        <span class="text">1. 우측 하단에 있는 "결제하기" 버튼 클릭해주세요</span>
                        <span class="text">2. 예매내역 확인 후 결제하기 버튼 클릭 시 결제 팝업창이 뜹니다.</span>
                        <span class="text">3. 해당 팡업에서 통신사 선택 후 정보를 입력해주세요.</span>
                        <span class="text-space"></span>
                        <h5> 휴대폰 결제 진행시 원할한 사용을 위하여 다음 사항을 꼭 확인하세요.</h5>
                        <span class="text">* 팝업 차단 설정을 꼭 해제하셔야 합니다.(도구→팝업 차단끄기)</span>
                        <span class="text">* 팝업 차단 해제 시, 웹 브라우저 새로고침으로 인하여 최대 10분 동안 동일 좌석 선택이 제한 될 수 있습니다.</span>
                    </div>
                </div>
                <div class="simple-pay-container pay-containers" style="display: none">
                    <label class="label-radio">
                        <label class="simple-pay-label">
                            <input class="simple-pay-check naver-check" name="simple-pay-check" type="radio"
                                   value="NAVERPAY"
                                   checked>
                            네이버페이
                        </label>
                        <label class="simple-pay-label">
                            <input class="simple-pay-check" name="simple-pay-check" type="radio" value="SMILEPAY">
                            스마일페이
                        </label>
                        <label class="simple-pay-label">
                            <input class="simple-pay-check" name="simple-pay-check" type="radio" value="SSGPAY">
                            SSGPAY
                        </label>
                        <label class="simple-pay-label">
                            <input class="simple-pay-check" name="simple-pay-check" type="radio" value="KAKAOPAY">
                            KAKAOPAY
                        </label>
                        <label class="simple-pay-label">
                            <input class="simple-pay-check" name="simple-pay-check" type="radio" value="PAYCO">
                            PAYCO
                        </label>
                    </label>
                    <div class="simple-pay-text-container naver-pay-container ">
                        <label class="label-checkbox">
                            <input name="culture-card" class="culture-card" type="checkbox">문화누리카드 할인
                        </label>
                        <div class="simple-pay-on-text">
                            <h4>네이버페이 결제 순서</h4>
                            <span class="text">1. 우측 하단에 있는 "결제하기" 버튼을 클릭해주세요.</span>
                            <span class="text">2. 예매내역 확인 후 결제하기 버튼 클릭 시 '네이버페이'결제 인증창이 뜹니다.</span>
                            <span class="text">3. '네이버페이'결제 인증창에서 정보를 입력하신 후 결제해주세요.</span>
                        </div>
                        <div class="simple-pay-under-text none-culture-pay-text">
                            <h5>네이버페이 결제 시 결제 금액의 최대 2%가 적립됩니다.</h5>
                            <h5>(네이버페이 기본 적립 0.1 ~ 최대 1% + 네이버페이 머니 충전 결제 적립 최대 1%</h5>
                            <h5>네이버페이 기본 적립은 네이버 경로 결제 시 1%, 기타 경로 결제 시 0.1%가 적립되며,</h5>
                            <h5>적립 관련 문의사항은 네이버 페이 고객센터로 문의 부탁드립니다.</h5>
                            <h5>네이버페이는 즉시 할인 신용카드 및 카드사 포인트 사용이 불가하며 신용카드별 청구할인은 이용 가능합니다.</h5>
                            <h5>네이버페이는 네이버 ID로 신용카드 또는 은행 계좌 정보를 등록하여 결제할 수 있는 간편결제 서비스입니다.</h5>
                            <h5>주문 변경 시 카드사 혜택 및 할부 적용 여부는 해당 카드사 정책에 따라 변경될 수 있습니다.</h5>
                            <h5>지원 가능 결제수단: 네이버페이 결제창 내 노출되는 모든 카드/계좌</h5>
                            <h5>네이버페이 문화누리카드는 [문화누리카드 할인] 적용 건에 한하여 결제가능합니다.</h5>
                        </div>
                        <div class="simple-pay-under-text culture-pay-text" style="display: none">
                            <h5>네이버페이에 문화누리카드 등록 후 사용 가능합니다.</h5>
                            <h5>문화누리카드 할인 적용 제외 상품(조조, 프리미엄관 등)은 즉시 할인 적용이 불가합니다.</h5>
                            <h5>동반 1인까지 할인 적용 가능합니다.(1일 2회 한정)</h5>
                            <h5>최종 결제 금액이 1,000원 이상인 경우 할인 적용 가능합니다.</h5>
                            <h5>네이버페이 결제 시 결제 금액의 최대 2%가 적립됩니다.</h5>
                            <h5>(네이버페이 기본 적립 0.1 ~ 최대 1% + 네이버페이 머니 충전 결제 적립 최대 1%</h5>
                            <h5>네이버페이 기본 적립은 네이버 경로 결제 시 1%, 기타 경로 결제 시 0.1%가 적립되며,</h5>
                            <h5>적립 관련 문의사항은 네이버 페이 고객센터로 문의 부탁드립니다.</h5>
                            <h5>네이버페이는 즉시 할인 신용카드 및 카드사 포인트 사용이 불가하며 신용카드별 청구할인은 이용 가능합니다.</h5>
                            <h5>네이버페이는 네이버 ID로 신용카드 또는 은행 계좌 정보를 등록하여 결제할 수 있는 간편결제 서비스입니다.</h5>
                            <h5>주문 변경 시 카드사 혜택 및 할부 적용 여부는 해당 카드사 정책에 따라 변경될 수 있습니다.</h5>
                            <h5>지원 가능 결제수단: 네이버페이 결제창 내 노출되는 모든 카드/계좌</h5>
                            <h5>네이버페이 문화누리카드는 [문화누리카드 할인] 적용 건에 한하여 결제가능합니다.</h5>
                        </div>
                    </div>
                    <div class="simple-pay-text-container smile-pay-container" style="display: none;">
                        <div class="simple-pay-on-text">
                            <h4>스마일페이 결제 순서</h4>
                            <span class="text-space"></span>
                            <span class="text">1. 아래 결제하기 버튼 클릭 후 다음 단계로 이동</span>
                            <span class="text">2. 결제내역 확인 후 결제하기 버튼 클릭 시, 팝업창이 뜸</span>
                            <span class="text">3. 해당 '스마일페이' 팝업에서 원하는 카드를 선택 후 정보를 입력하신 후 정보를 입력하시면 됩니다.</span>
                        </div>
                        <span class="text-space"></span>

                        <div class="simple-pay-under-text">
                            <h5>'스마일페이' 결제시, 기본 0.5% 스마일캐시가 적립되며.<br>
                                스마일카드로 결제 시, 기본 0.5% + 추가 2.0% 적립되어 최대 2.5%적립됩니다.
                                <br><br>
                                '스마일페이;는 즉시할인 신용카드, 카드사 포인트는 이용이 불가능하며,<br>
                                신용카드별 청구할인은 이용이 가능합니다.</h5>
                        </div>
                    </div>
                    <div class="simple-pay-text-container ssg-pay-container" style="display: none;">
                        <div class="simple-pay-on-text">
                            <h4>SSGPAY</h4>
                            <span class="text-space"></span>
                            <span class="text">1. 우측 하단에 있는 '결제하기'버튼을 클릭해주세요.</span>
                            <span class="text">2. 예매내역 확인 후 결제하기 버튼 클릭 시 'SSGPAY' 결제 인증창이 뜹니다.</span>
                            <span class="text">3. 'SSGPAY' 결제 인증창에서 정보를 입력하신 후 결제해주세요.</span>
                        </div>
                        <span class="text-space"></span>

                        <div class="simple-pay-under-text">
                            <h5>'SSGPAY'는 결제 시 신용카드 선할인과 카드사 포인트는</h5>
                            <h5>이용이 불가능하며, 신용카드 별 청구할인은 이용이 가능합니다.</h5>
                        </div>
                    </div>
                    <div class="simple-pay-text-container kakao-pay-container" style="display: none;">
                        <div class="simple-pay-on-text">
                            <h4>카카오페이 결제 순서</h4>
                            <span class="text-space"></span>
                            <span class="text">1. 우측 하단에 있는 '결제하기'버튼을 클릭해주세요.</span>
                            <span class="text">2. 예매내역 확인 후 결제하기 버튼 클릭 시 '카카오페이' 결제 인증창이 뜹니다.</span>
                            <span class="text">3. '카카오페이' 결제 인증창에서 정보를 입력하신 후 결제해주세요.</span>
                        </div>
                        <span class="text-space"></span>
                        <div class="simple-pay-under-text">
                            <h5>* '카카오페이'는 신용카드 선할인과 카드사 포인트는 이용이 불가능하며,</h5>
                            <h5>신용카드별 청구할인은 이용이 가능합니다.</h5>
                        </div>
                    </div>
                    <div class="simple-pay-text-container payco-container" style="display: none;">
                        <div class="simple-pay-on-text">
                            <h4>PAYCO 결제 순서</h4>
                            <span class="text-space"></span>
                            <span class="text">1. 우측 하단에 있는 '결제하기'버튼을 클릭해주세요.</span>
                            <span class="text">2. 예매내역 확인 후 결제하기 버튼 클릭 시 'PAYCO' 결제 인증창이 뜹니다.</span>
                            <span class="text">3. 'PAYCO' 결제 인증창에서 정보를 입력하신 후 결제해주세요.</span>
                            <span class="text-space"></span>
                        </div>
                        <div class="simple-pay-under-text">
                            <h5>* 'PAYCO'는 씨티카드와 즉시할인 신용카드, 카드사 포인트는 이용이 불가능하며,</h5>
                            <h5>신용카드별 청구할인은 이용이 가능합니다.</h5>
                            <h5>'PAYCO' 할인쿠폰 사용 금액에 대해서는 CJ ONE포인트 적립이 불가합니다.</h5>
                        </div>
                    </div>
                </div>
                <div class="credit-container pay-containers" style="display: none">
                    <div class="credit-content">
                        <h4>내 통장결제 결제 순서</h4>
                        <span class="text-space"></span>
                        <span class="text">1. 아래 결제하기 버튼 클릭 후 다음 단계로 이동</span>
                        <span class="text">2. 결제내역 확인 후 결제하기 버튼 클릭 시, 팝업창 노출</span>
                        <span class="text">3. 해당 팝업창을 통해 본인 명의의 계좌 1회 등록</span>
                        <span class="text">4. 계좌 등록 시, 비밀번호만으로 현금 간편 결제 서비스 이용</span>
                    </div>
                    <div class="text-space"></div>
                    <div class="credit-text">
                        <h4>'내통장결제'는 CGV 내 본인명의 계좌 등록 후 비밀번호만으로 결제할 수 있는 간편 결제서비스입니다.</h4>
                        <h4>은행 점심시간인 경우 내통장 결제 서비스 이용이 불가합니다.</h4>
                    </div>
                </div>
                <div class="toss-container pay-containers" style="display: none">
                    <div class="toss-content">
                        <h4>토스 결제 순서</h4>
                        <span class="text-space"></span>
                        <span class="text">1. 우측 하단에 있는 "결제하기" 버튼을 클릭해주세요.</span>
                        <span class="text">2. 예매내역 확인 후 결제하기 버튼 클릭 시 '토스'결제 인증창이 뜹니다.</span>
                        <span class="text">3. '토스'결제 인증창에서 정보를 입력하신 후 결제해주세요.</span>
                    </div>
                    <div class="text-space"></div>
                    <div class="toss-text">
                        <h4>'토스'는 신용카드 신할인과 카드사 포인트는 이용이 불가능하며,</h4>
                        <h4>신용카드별 청구할인은 이용이 가능합니다.</h4>
                    </div>
                </div>


            </div>
            <div class="right-container">
                <div class="space"></div>
                <div class="pay-container">
                    <div class="pay-box">
                        <div class="pay-text">결제하실 금액</div>
                        <div class="pay-price-box basic-color">
                            <div class="pay-big-price" id="pay-price-won1"></div>
                            <div class="pay-small-price">원</div>
                        </div>
                    </div>
                    <div class="pay-box">
                        <div class="pay-title-blue">할인내역</div>
                        <div class="pay-text">총 할인 금액</div>
                        <div class="pay-price-box blue-color">
                            <div class="pay-big-price">0</div>
                            <div class="pay-small-price">원</div>
                        </div>
                    </div>
                    <div class="pay-box">
                        <div class="pay-title">결제 내역</div>
                        <div class="pay-content">
                            <span class="pay-kind">신용카드</span>
                            <span class="pay-price" id="pay-price-won2"></span>
                            <span class="pay-price">원</span>
                        </div>
                        <div class="pay-text">남은 결제 금액</div>
                        <div class="pay-price-box yellow-color">
                            <div class="pay-big-price" id="pay-price-won3"></div>
                            <div class="pay-small-price">원</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="advertisement-container">
            <a href="#" target="_self" class="advertisement-move">
                <img src="https://adimg.cgv.co.kr/images/202411/MyHero/1119_160x300.jpg" alt="배너"
                     class="advertisement">
            </a>
        </div>
    </div>
    <!------------------------------------------------------------------------------------>
</main>
<section id="payment-section" class="hidden" data-id="payment-section">
    <h4>예매내역 확인</h4>
    <form class="pay-form">
        <div class="title">
            <div>
                <span class="title">ㆍ예매정보
                    <span class="small-text">결제하시기 전 예매내역을 다시 한번 확인해주세요.</span>
                </span>
            </div>
            <div>
                <span class="title title2">ㆍ결제정보
                    <span class="small-text">결제하기 버튼을 클릭하시면 결제가 완료됩니다.</span>
                </span>
            </div>
        </div>
        <div class="table-div">
            <div>
                <img class="img" id="poster-img" alt="이미지">
            </div>
            <div class="div-title1">
                <span>영화명</span>
                <span>극장</span>
                <span>상경관</span>
                <span>일시</span>
                <span>인원</span>
                <span>좌석</span>
            </div>
            <div class="div-content1">
                <span id="pay-movie"></span>
                <span id="pay-theater"></span>
                <span id="pay-cinema"></span>
                <span id="pay-time"></span>

                <span class="pay-human"></span>
                <span class="pay-seat"></span>
            </div>
            <div class="div-title2">
                <span>결제금액</span>
                <span>결제 수단</span>
            </div>
            <div class="div-content2">
                <span>
                    <span class="big-red" id="pay-price-won4"></span>
                    <span>원</span>
                </span>
                <span>
                    <span class="big-font" id="method"></span>
                    <span class="small-red" id="pay-price-won5"></span>
                    <span>원</span>
                    <span id="pay-price-won-int" style="display: none"></span>

                </span>
            </div>
        </div>
        <div class="cancel">
            <span>ㆍ인터넷 예매는 온라인상으로 영화상영 시간 20분 전 까지 취소 가능하며 20분 이후에는 현장에서 취소를하셔야합니다.</span>
            <span>ㆍ현장취소를 하는 경우 상영시간 이전까지만 가능하며 영화 상영 시작 시간 이후 취소/환불/결제수단 변경은 불가합니다.</span>
            <span>ㆍ입장 지연에 따른 관람 불편을 최소화하기 위해 본 영화는 10분 후 상영이 시작됩니다.</span>
            <button type="button" onclick="ReservationRefundRegulation()">> 예약취소 및 환불규정 안내</button>
        </div>
        <div class="agree">
            <div class="agree-div1">
                <label class="agree-all">
                    <input type="checkbox" id="checkbox-agree-all">
                    <span>결제대행 서비스 약관에 모두 동의</span>
                </label>
                <label class="agree-label">
                    <input type="checkbox" class="checkbox-agree">
                    <span>전자금융거래 이용약관</span>
                </label>
                <label class="agree-label">
                    <input type="checkbox" class="checkbox-agree">
                    <span>개인정보 수집 이용약관</span>
                </label>
                <label class="agree-label">
                    <input type="checkbox" class="checkbox-agree">
                    <span>개인정보 제공 및 위탁 안내 약관</span>
                </label>
            </div>
            <div class="agree-div2">
                <span></span>
                <button type="button" onclick="TCUElectronicFinancialTransactions()">전문확인</button>
                <button type="button" onclick="TCCollectingPersonalInformation()">전문확인</button>
                <button type="button" onclick="TCPPIC()">전문확인</button>

            </div>
            <div></div>
            <div class="agree-div3">
                <label>
                    <input type="checkbox" id="checkbox-agree-solo">
                    상기 결제 내역을 모두 확인했습니다.
                </label>
            </div>
        </div>
        <span id="pay-button">
        <button type="submit" name="real-pay" class="real-pay" id="real-pay">결제하기</button>
        <button type="button" name="real-cancel" class="real-cancel">취소</button>
    </span>
    </form>
</section>
<section class="control-bar" id="control-bar">
    <div class="container">
        <div class="first left-button button hidden" data-id="main-seat"></div>
        <div class="second left-button button hidden" data-id="main-payment"></div>
        <div class="containers">
            <div class="movie-container" data-id="movieInfo"></div>
            <div class="posters info hidden" data-id="movieInfo">
                <div th:if="${movieVos != null}"
                     th:each="vos : ${movieVos}"
                     class="poster">
                    <img class="movie" th:src="${vos[0][1]}"
                         alt="포스터">
                </div>
                <div th:if="${Vos != null}"
                     th:each="vos : ${Vos}"
                     class="poster">
                    <img class="movie" th:src="${vos[0][1]}"
                         alt="포스터">
                </div>
                <div th:if="${movieVos != null}"
                     th:each="vos : ${movieVos}"
                     class="movie-info">
                    <a href="#" th:text="${vos[0][0]}" class="title"></a>
                    <div class="stretch"></div>
                    <div class="unique-cinema-type"></div>
                    <div th:text="${vos[0][2]}" class="unique-rating hidden"></div>
                </div>
                <div th:if="${Vos != null}"
                     th:each="vos : ${Vos}"
                     class="movie-info">
                    <a href="#" th:text="${vos[0][0]}" class="title"></a>
                    <div class="stretch"></div>
                    <div class="unique-cinema-type"></div>
                    <div th:text="${vos[0][2]}" class="unique-rating hidden"></div>
                </div>
            </div>
        </div>
        <img class="info" src="https://img.cgv.co.kr/CGV_RIA/Ticket/image/reservation/tnb/split.png" alt="split">
        <div class="theater-container" data-id="theaterInfo"></div>
        <div class="theater info hidden" data-id="theaterInfo">
            <div class="text">
                <span class="head">극장</span>
                <a href="#" class="data" id="theater-theater"></a>
            </div>
            <div class="text">
                <span class="head">일시</span>
                <span class="data" id="theater-time"></span>
            </div>
            <div class="text">
                <span class="head">상영관</span>
                <span class="data" id="theater-cinema"></span>
            </div>
            <div class="text" id="theater-human">
                <span class="head">인원</span>
            </div>
        </div>

        <img class="info" src="https://img.cgv.co.kr/CGV_RIA/Ticket/image/reservation/tnb/split.png" alt="split ">
        <div class="seat-container"></div>
        <div class="seat info hidden">
            <div class="text seat-title">
                <span class="head">좌석명</span>
            </div>
            <div class="text seat-content ">
                <span class="head">좌석번호</span>
            </div>
        </div>
        <img class="info hidden" src="https://img.cgv.co.kr/CGV_RIA/Ticket/image/reservation/tnb/split.png" alt="split ">
        <div class="price info hidden">
            <div class="text price-title"></div>
            <div class="text price-content"></div>
        </div>
        <div class="payment-container"></div>
        <div class="first right-button" data-id="main"></div>
        <div class="second right-button hidden" data-id="main-seat"></div>
        <div class="third right-button hidden after" data-id="main-payment"></div>
    </div>
</section>
<!------------------------------------------------------------------------------------>
<a href="#" class="add">
    <img class="image" src="https://adimg.cgv.co.kr/images/202411/MorningCalm/996x140.jpg" alt="">
</a>

<th:block th:replace="~{fragments/common.html :: footer}"></th:block>
</body>
</html>