<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{'/ticket/assets/styles/reservation.css'}">
    <link rel="stylesheet" th:href="@{'../../assets/styles/common.css'}" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{'../../fragments/assets/styles/index.css'}">
    <link rel="stylesheet" type="text/css" th:href="@{'../../fragments/assets/styles/common.css'}">
    <script defer th:src="@{'/ticket/assets/scripts/reservation.js'}"></script>

    <title>JGV - 티켓 예매 완료</title>
</head>
<body style="display: none">
<th:block th:replace="~{fragments/common.html :: advertisement}"></th:block>
<th:block th:replace="~{fragments/common.html :: header}"></th:block>
<th:block th:replace="~{fragments/common.html :: nav}"></th:block>

<!------------------------------------------------------------------------------->


<main id="main">
    <div class="button-container">
        <a class="content-bar-timetable" href="#"></a>
        <a class="content-bar-retry" href="#"></a>
    </div>
    <div class="main-container">
        <div class="advertisement-container">
            <a href="#" target="_self" class="advertisement-move">
                <img src="https://adimg.cgv.co.kr/images/202411/MyHero/1119_160x300.jpg" alt="배너"
                     class="advertisement">
            </a>
        </div>
        <div id="reservation">
            <div class="content">예매 완료</div>
            <span class="clear-text">예매가 완료 되었습니다.</span>
            <div class="reservation-container">
                <div class="table-div">
                    <div>
                        <img class="img" id="poster" alt="#">
                    </div>
                    <div class="table-container">
                        <div class="number-content title">
                            <span class="text">예매번호</span>
                            <span class="number red" id="paymentNumber"></span>
                        </div>
                        <div class="movie-content title">
                            <span class="text">영화</span>
                            <span class="movie" id="movie"></span>
                        </div>
                        <div class="cinema-content title">
                            <span class="text">극장</span>
                            <span class="cinema-container">
                            <span class="theater" id="thName"></span>
                            <span class="cinema" id="ciName"></span>
                        </span>
                        </div>
                        <div class="date-content title">
                            <span class="text">일시</span>
                            <span class="date-container">
                            <span class="date" id="scStartDate"></span>
                            <span class="text">~</span>
                            <span class="time">19:00</span>
                        </span>
                        </div>
                        <div class="human-content title">
                            <span class="text">인원</span>
                            <span class="human" id="human"></span>
                        </div>
                        <div class="seat-content title">
                            <span class="text">좌석</span>
                            <span class="seat" id="seName"></span>
                        </div>
                        <div class="price-content title">
                            <span class="text">결제금액</span>
                            <span class="price-container">
                            <span class="price red" id="paPrice"></span>
                        </span>
                        </div>
                        <div class="payment-content title">
                            <span class="text">결제수단</span>
                            <span class="payment-container">
                            <span class="payment weight" id="meName"></span>
                            <span class="price red" id="paPrice2"></span>
                        </span>
                        </div>
                    </div>
                </div>
                <div class="button">
                    <button type="button" name="cancel" class="cancel">
                        <a th:href="@{'../user/myPage/reservation'}">예매확인/취소</a>
                    </button>
                </div>
            </div>
            <div class="text">
                <div class="text-title">예매 유의사항</div>
                <div class="text-content">
                    <span>CJ ONE 포인트는 상영일 익일 적립됩니다.(영화관람권, 비회원권 예매 제외)</span>
                    <span>영화 상영 스케줄은 영화관사정에 의해 변경될 수 있습니다.</span>
                    <span>비회원 예매하신 경우 예매내역이 이메일로 발송되지 않습니다.</span>
                </div>
            </div>
        </div>
        <div class="advertisement-container">
            <a href="#" target="_self" class="advertisement-move">
                <img src="https://adimg.cgv.co.kr/images/202411/MyHero/1119_160x300.jpg" alt="배너"
                     class="advertisement">
            </a>
        </div>
    </div>
</main>

<span class="add">
    <a href="#">
        <img class="image" src="https://adimg.cgv.co.kr/images/202411/MorningCalm/996x140.jpg" alt="">
    </a>
</span>

<th:block th:replace="~{fragments/common.html :: footer}"></th:block>
</body>
</html>