<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{'../../fragments/assets/styles/index.css'}" type="text/css">
    <link rel="stylesheet" th:href="@{'../../fragments/assets/styles/common.css'}" type="text/css">
    <link rel="stylesheet" th:href="@{'/ticket/assets/styles/showTimes.css'}" type="text/css">
    <link rel="stylesheet" th:href="@{'../../assets/styles/common.css'}" type="text/css">
    <script defer th:src="@{'./assets/scripts/showTimes.js'}"></script>
    <script defer th:src="@{'../../assets/scripts/common.js'}"></script>
    <title>상영시간표</title>
</head>
<body>
<th:block th:replace="~{fragments/common.html :: advertisement}"></th:block>
<th:block th:replace="~{fragments/common.html :: header}"></th:block>
<th:block th:replace="~{fragments/common.html :: nav}"></th:block>
<main id="main">
    <div class="img image" data-id="theater">
        <div class="button-container">
            <div class="button" data-id="theater">
                <img class="select" src="https://img.cgv.co.kr/R2014/images/common/ico/ico_finger.png" alt=""
                     data-id="theater">
                <span class="text">극장별 상영시간표</span>
            </div>
            <div class="button" data-id="movie">
                <img class="select hidden" src="https://img.cgv.co.kr/R2014/images/common/ico/ico_finger.png" alt=""
                     data-id="movie">
                <span class="text">영화별 상영시간표</span>
            </div>
        </div>
        <div class="head">
            <img src="https://img.cgv.co.kr/R2014/images/title/h4_favorite_cgv.png" alt="" class="image">
            <ul id="favorite-theaters">
                <li class="container">
                    <a href="#" class="text-container">
                        <span class="text">1</span>
                    </a>
                </li>
                <li class="container">
                    <a href="#" class="text-container">
                        <span class="text">2</span>
                    </a>
                </li>
                <li class="container">
                    <a href="#" class="text-container">
                        <span class="text">3</span>
                    </a>
                </li>
                <li class="container">
                    <a href="#" class="text-container">
                        <span class="text">4</span>
                    </a>
                </li>
                <li class="container">
                    <a href="#" class="text-container">
                        <span class="text">5</span>
                    </a>
                </li>
            </ul>
            <button class="button" type="button">
                <img src="https://img.cgv.co.kr/r2014/images/common/btn/btn_plus.gif" alt="" class="image">
            </button>
        </div>
        <ul class="main">
            <li class="item"
                th:each="region : ${regions}"
                th:text="${region.getRegName()}"
                th:rel="${region.getRegName()}">
            </li>
        </ul>
        <div class="theater-container">
            <ul class="item-container">
                <li class="item"
                    th:each="theater : ${theaters}"
                    th:text="${theater.getThName()}"
                    th:if="${theater.getThName().equals('CGV대구')}"
                    th:classappend="select"></li>
                <li class="item"
                    th:if="${!theater.getThName().equals('CGV대구')}"
                    th:each="theater : ${theaters}"
                    th:text="${theater.getThName()}"></li>
            </ul>
        </div>
    </div>
    <div class="img-movie image hidden" data-id="movie">
        <div class="button-container">
            <div class="button" data-id="theater">
                <img class="select hidden" src="https://img.cgv.co.kr/R2014/images/common/ico/ico_finger.png" alt=""
                     data-id="theater">
                <span class="text">극장별 상영시간표</span>
            </div>
            <div class="button" data-id="movie">
                <img class="select" src="https://img.cgv.co.kr/R2014/images/common/ico/ico_finger.png" alt=""
                     data-id="movie">
                <span class="text">영화별 상영시간표</span>
            </div>
        </div>
        <div class="head" data-id="movie">
            <ul class="items">
                <li class="reservation item select">예매율순</li>
                <li class="line">
                    <img src="https://img.cgv.co.kr/R2014/images/common/bg/bg_writeinfo.gif" alt="선">
                </li>
                <li class="review item">평점순</li>
                <li class="line">
                    <img src="https://img.cgv.co.kr/R2014/images/common/bg/bg_writeinfo.gif" alt="선">
                </li>
                <li class="human item">관람객순</li>
            </ul>
        </div>
        <div class="movie-container">
            <div class="movie">
                <a href="#" class="poster">
                    <img class="poster" src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000088/88797/88797_320.jpg" alt="하얼빈">
                </a>
                <div class="movie-info">
                    <div class="text">/ 114분</div>
                    <div class="text">2024.12.24개봉</div>
                </div>
            </div>
            <div class="movie-title">
                <ul class="movie">
                    <li class="item-container"
                        th:each="movie : ${movies}">
                        <div class="text">
                            <div th:class="${movie.getRaGrade() + ' rating'}"></div>
                            <span th:text="${movie.getMoTitle()}" class="name"></span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="cinema-type">
                <ul class="items">
                    <li class="item">2D</li>
                    <li class="item">4D</li>
                    <li class="item">5D</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="information" data-id="theater">
        <div class="cinema-info">
            <div class="cinema-header">
                <div class="day-containers"
                     th:if="${theaterVos != null}"
                     th:each="vos : ${theaterVos}">
                    <ul class="day-container">
                        <th:block th:each="vo : ${vos[2]}">
                            <li class="item" th:each="date, iterStat : ${vo.value.split(',')}">
                                <div class="small-container">
                                    <div th:text="${vo.key.split('-')[1]} + '월'" class="day"></div>
                                    <div th:text="${date.split('-')[1]}" class="day"></div>
                                </div>
                                <div th:text="${date.split('-')[0]}" class="day"></div>
                            </li>
                        </th:block>
                    </ul>
                </div>
                <div class="day-containers"
                     th:if="${theaterVos == null}">
                    <button class="before button"></button>
                    <ul class="day-container">
                    </ul>
                    <button class="after button"></button>
                </div>
                <div class="cinema-info-detail">
                    <div class="cinema-detail rating">관람등급 안내</div>
                    <div class="modal hidden" rel="rating">
                        <div class="head">
                            <div class="h1">
                                <div class="text">JGV 관람 등급 안내</div>
                                <div class="stretch"></div>
                                <div class="button"></div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="center">
                                <table class="rating-content">
                                    <thead>
                                    <tr>
                                        <td>구분</td>
                                        <td>성명</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>
                                            <div class="container">
                                                <div class="rating all"></div>
                                                <div>전체 관람가</div>
                                            </div>
                                        </th>
                                        <td>
                                            <div class="text">모든 연령의 고객님께서 관람하실 수 있습니다.</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="container">
                                                <div class="rating twelve"></div>
                                                <div>12세 관람가</div>
                                            </div>
                                        </th>
                                        <td>
                                            <div class="text">만 12세 미만의 고객님은 보호자를 동반하셔야 관람하실 수 있습니다.</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="container">
                                                <div class="rating fifteen"></div>
                                                <div>15세 관람가</div>
                                            </div>
                                        </th>
                                        <td>
                                            <div class="text">만 15세 미만의 고객님은 보호자를 동반하셔야 관람하실 수 있습니다.</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="container">
                                                <div class="rating nineteen"></div>
                                                <div>19세 관람가</div>
                                            </div>
                                        </th>
                                        <td>
                                            <div class="text">만 19세 미만(영/유아 포함)은 보호자가 동반하여도 관람이 불가합니다.
                                                <br>
                                                (단, 만19세가 되는 해의 1월 1일을 맞이한 사람은 제외)
                                                <br>
                                                - 입장 시 신분증을 꼭 지참하시기 바랍니다
                                                <br>
                                                - 신분증(사진/캡쳐 불가)
                                                <br>
                                                주민등록증, 운전면허증, 여권, 모바일신분증(PASS, 정부24등)
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="container">
                                                <div class="rating none"></div>
                                                <div>미정</div>
                                            </div>
                                        </th>
                                        <td>
                                            <div class="text">등급 미정 영화입니다.</div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="notice">* 시간을 클릭하시면 빠른 예매를 할 수 있습니다.</div>
            <ul class="items" th:if="${screenVos == null}">
            </ul>
            <ul class="items" th:if="${screenVos != null}">
                <li class="item" th:each="screen : ${screenVos}">
                    <div class="movie-container">
                        <div th:classappend="${screen.key[0]}" class="rating"></div>
                        <a th:text="${screen.key[1]}" href="#" class="text"></a>
                        <div class="date-notice">
                            <span th:if="${screen.key[3] <= #dates.format(#dates.createNow(), 'yyyy.MM.dd')}"
                                  class="able">상영중</span>
                            <span th:if="${screen.key[3] > #dates.format(#dates.createNow(), 'yyyy.MM.dd')}"
                                  class="reservation">예매중</span>
                            <span th:if="${screen.key[3] > #dates.format(#dates.createNow(), 'yyyy.MM.dd')}"
                                  th:text="${screen.key[7].replace('P', 'D').substring(0, screen.key[7].length() - 1)}"
                                  class="dDay"></span>
                        </div>
                        <span th:text="${screen.key[6].replace('[', '').replace(']', '') + '/' + screen.key[2] + '분/' + screen.key[3] + ' 개봉'}"
                              class="long-text"></span>
                    </div>
                    <div class="screen-container"
                         th:each="scVal : ${screen.value}">
                        <div class="theater-info">
                            <img class="arrow" src="https://img.cgv.co.kr/r2014/images/common/ico/ico_arrow03.png"
                                 alt="화살표">
                            <span th:if="${!scVal.key[1].equals('DX')}" th:text="${scVal.key[1]}" class="text"></span>
                            <span th:if="${scVal.key[1].equals('DX')}" th:text="4 + ${scVal.key[1]}"
                                  class="text"></span>
                            <img src="https://img.cgv.co.kr/r2014/images/common/bg/bg_li_vline.gif" alt="작대기">
                            <span th:if="${scVal.key[0].replace('&', '').trim().equals(scVal.key[1])}"
                                  th:classappend="${scVal.key[0].replace('&', '').trim()}" class="text"></span>
                            <span th:if="${!scVal.key[0].replace('&', '').trim().equals(scVal.key[1])}"
                                  th:text="${scVal.key[0]}" class="text"></span>
                            <img src="https://img.cgv.co.kr/r2014/images/common/bg/bg_li_vline.gif" alt="작대기">
                            <span th:text="'총 ' + ${screen.key[4]} + '석'" class="text"></span>
                        </div>
                        <div class="time-table-container">
                            <a href="#" class="time-table" th:each="sc : ${scVal.value}">
                                <div th:text="${sc.split(',')[0].replace('[', '')}" class="time"></div>
                                <div th:text="${sc.split(',')[1].replace(']', '')} + '석'" class="seat"></div>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="notice-footer">[공지] 입장 지연에 따른 관람 불편을 최소화하기 위해 영화는 10분 후 상영이 시작됩니다.</div>
        </div>
        <div class="advertisement-container">
            <a href="#" target="_self" class="advertisement-move">
                <img src="https://adimg.cgv.co.kr/images/202411/MyHero/1119_160x300.jpg" alt="배너"
                     class="advertisement">
            </a>
            <a href="#" target="_self" class="advertisement-move">
                <img src="https://adimg.cgv.co.kr/images/202412/Moana2/1218_160x300.jpg" alt="배너"
                     class="advertisement">
            </a>
        </div>
    </div>
    <div class="information hidden" data-id="movie">
        <div id="schedule">
            <ul class="main">
                <li class="item"
                    th:each="region : ${regions}"
                    th:text="${region.getRegName()}"
                    th:rel="${region.getRegName()}">
                </li>
            </ul>
            <div class="cinema-info">
                <div class="notice">* 시간을 클릭하시면 빠른 예매를 할 수 있습니다.</div>
                <div class="day-containers">
                    <button class="before button"></button>
                    <ul class="day-container"
                        th:if="${theaterVos != null}"
                        th:each="vos : ${theaterVos}">
                        <th:block th:each="vo : ${vos[2]}">
                            <li class="item" th:each="date, iterStat : ${vo.value.split(',')}">
                                <div class="small-container">
                                    <div th:text="${vo.key.split('-')[1]} + '월'" class="day"></div>
                                    <div th:text="${date.split('-')[1]}" class="day"></div>
                                </div>
                                <div th:text="${date.split('-')[0].trim()}" class="day"></div>
                            </li>
                        </th:block>
                    </ul>
                    <button class="after button"></button>
                </div>
                <ul class="items">
                    <li class="item"
                        th:if="${screenVos != null}"
                        th:each="screen : ${screenVos}">
                        <a href="#" th:utext="${screen.key[7].substring(0, 3)} + '<br>' + ${screen.key[7].substring(3)}"
                           class="theater"></a>
                        <div class="screens">
                            <div class="screen-container"
                                 th:each="scVal : ${screen.value}">
                                <div class="theater-info">
                                    <img class="arrow"
                                         src="https://img.cgv.co.kr/r2014/images/common/ico/ico_arrow03.png"
                                         alt="화살표">
                                    <span th:if="${!scVal.key[1].equals('DX')}" th:text="${scVal.key[1]}"
                                          class="text"></span>
                                    <span th:if="${scVal.key[1].equals('DX')}" th:text="4 + ${scVal.key[1]}"
                                          class="text"></span>
                                    <img src="https://img.cgv.co.kr/r2014/images/common/bg/bg_li_vline.gif" alt="작대기">
                                    <span th:if="${scVal.key[0].replace('&&', '').trim().equals(scVal.key[1])}"
                                          th:classappend="${scVal.key[0].replace('&&', '').trim()}" class="text"></span>
                                    <span th:if="${!scVal.key[0].replace('&&', '').trim().equals(scVal.key[1])}"
                                          th:text="${scVal.key[0]}" class="text"></span>
                                    <img src="https://img.cgv.co.kr/r2014/images/common/bg/bg_li_vline.gif" alt="작대기">
                                    <span th:text="'총 ' + ${screen.key[4]} + '석'" class="text"></span>
                                </div>
                                <div class="time-table-container">
                                    <a href="#" class="time-table" th:each="sc : ${scVal.value}">
                                        <div th:text="${sc.split(',')[0].replace('[', '')}" class="time"></div>
                                        <div th:text="${sc.split(',')[1].replace(']', '')} + '석'" class="seat"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="notice-footer">* 입장 지연에 따른 관람 불편을 최소화하기 위해 영화는 10분 후 상영이 시작됩니다.</div>
            </div>
        </div>
        <div class="advertisement-container">
            <a href="#" target="_self" class="advertisement-move">
                <img src="https://adimg.cgv.co.kr/images/202411/MyHero/1119_160x300.jpg" alt="배너"
                     class="advertisement">
            </a>
            <a href="#" target="_self" class="advertisement-move">
                <img src="https://adimg.cgv.co.kr/images/202412/Moana2/1218_160x300.jpg" alt="배너"
                     class="advertisement">
            </a>
        </div>
    </div>
    <div class="advertisement-info">
        <a href="#" target="_self" class="advertisement-move">
            <img src="https://adimg.cgv.co.kr/images/202411/Firefighters/1121_980x90.jpg" alt="배너"
                 class="advertisement">
        </a>
    </div>
</main>
<th:block th:replace="~{fragments/common.html :: footer}"></th:block>
</body>
</html>