@charset "UTF-8";
@import "../../fragments/assets/styles/global";

main {
  @include flex(column, center, center, 2rem);
  width: 100%;
  height: auto;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  > .contents {
    width: 100%;
    height: 31.125rem;
    background-color: black;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    > .video_wrapper {
      width: 980px;
      height: 100%;

      align-items: flex-start;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      justify-content: center;
      position: relative;
      z-index: 3;


      > strong {
        font-size: 2.5rem;
        font-weight: 700;
        color: #ffffff;
        transform: translateY(-100%);
        position: absolute;
        z-index: 3;
      }

      > span {
        font-size: 1.5rem;
        font-weight: 600;
        color: #ffffff;
        transform: translateY(60%);
        position: relative;
        z-index: 3;
      }

      > .link-container {

        background-color: #9e9e9e;
        border-radius: 1.3rem;
        color: #343434;
        cursor: pointer;
        text-align: center;
        padding: 0.5rem 1.2rem;

        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        transform: translateY(170%);
        z-index: 4;


        > a {
          color: #000000;
          font-size: 0.875rem;
          text-decoration: none;


        }
      }

      > video {
        width: 100%;
        height: 100%;
        transform: scale(1.35);
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        object-fit: cover;
        z-index: 0;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
        z-index: 2;
      }
    }
  }
}

.movie-container {
  max-width: 1200px;
  margin: 0 auto;

  .movie-header {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;

    .tab-button {
      padding: 10px 20px;
      margin: 0 10px;
      border: none;
      cursor: pointer;
      font-size: 32px;
      color: #666;

      &.active {
        color: black;
        font-weight: bold;
      }

    }
    .spring {
      flex-grow: 1;
    }

    .show-all {
      margin-top: 18px;
      padding: 10px 32px 4px 15px;
      font-size: 15px;
      font-weight: 700;
      color: #222;
      line-height: 1.429em;
      background: transparent url(https://img.cgv.co.kr/R2014/images/common/ico/arrowR_8x13.png) calc(100% - 7px) center / 8px 13px scroll no-repeat;
      border: 1px solid #e2e2e2;
      border-radius: 15px;
      box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
    }
  }

  .carousel-container {
    display: none;
    position: relative;
    overflow: hidden;

    &.active {
      display: block;
    }

    .carousel {
      position: relative;
      overflow: hidden;
      width: 100%;

      .movies-wrapper {
        display: flex;
        transition: transform 0.3s ease-in-out;
        width: auto;

        .movie-card {
          position: relative;
          width: 20%;
          margin: 0 10px;
          text-align: center;
          flex: 0 0 calc(20% - 20px);
          filter: brightness(1);

          &:hover {
            .movie-poster {
              filter: brightness(0.5);
            }
          }

          .movie-poster {
            width: 220px;
            height: 300px;
            background-size: cover;
            background-position: center;
            border-radius: 8px;
          }

          .hover-actions {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
            flex-direction: column;
            gap: 10px;

            .detail-button {
              background-color: white;
              color: #6e6c6d;
              border: none;
              cursor: pointer;
              border-radius: 5px;
              padding: 10px 20px;
              font-weight: bold;
              width: 160px;
            }

            .reserve-button {
              background-color: #FB4357;
              color: #fff;
              border: none;
              cursor: pointer;
              border-radius: 5px;
              padding: 10px 20px;
              font-weight: bold;
            }
          }

          &:hover .hover-actions {
            display: flex;
          }

          h3 {
            margin-top: 10px;
            font-size: 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 220px;
            display: block;
          }

          p {
            font-size: 14px;
            color: black;
          }
        }
      }

      .carousel-button {
        position: absolute;
        top: 40%;

        cursor: pointer;
        border-radius: 50%;
        z-index: 100;
        width: 40px;
        height: 40px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);


        &.prev {
          background: rgba(255, 255, 255, 0.8) url(	https://img.cgv.co.kr/R2014/images/common/ico/arrowL.png) center / 9px 13px scroll no-repeat;
          left: -1px !important;
        }

        &.next {
          background: rgba(255, 255, 255, 0.8) url(	https://img.cgv.co.kr/R2014/images/common/ico/arrowL.png) center / 9px 13px scroll no-repeat;
          transform: rotate(-180deg);
          right: -1px !important;
        }
      }
    }
  }
}



#theater {
  @include flex(column, center, center, 1.5rem);
  width: 100%;
  padding: 2rem 0;

  > .background {
    width: 980px;


    > .title-container {
      width: 100%;
      font-size: 1.5rem;
      padding-bottom: 1rem;
    }

    > .theater-list {
      @include flex(row, center, flex-start, 2.3rem);
      width: 100%;

      > .image-wrapper {
        width: 100%;
        height: auto;

        > .special {
          width: 500px;
          height: 260px;
          border-radius: 0.5rem;
          color: #ffffff;

          align-items: flex-start;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;

          &.hidden {
            display: none;
          }

          &.IMAX {
            background-image: url("https://img.cgv.co.kr/WebApp/contents/specialTheater/list1/16844565213590.png");
            background-size: cover;
          }

          &.DX {
            background-image: url("https://img.cgv.co.kr/WebApp/contents/specialTheater/list2/17066596473020.jpg");
            background-size: cover;
          }

          &.SCREENX {
            background-image: url("https://img.cgv.co.kr/WebApp/contents/specialTheater/list1/16844566032440.png");
            background-size: cover;
          }

          &.RECLINER {
            background-image: url("https://img.cgv.co.kr/resource_pc/images/specialtheater/premium/specialtheater_premium0.jpg");
            background-size: cover;
          }

          &.CINE {
            background-image: url("https://img.cgv.co.kr/WebApp/contents/specialTheater/list1/16844577273360.png");
            background-size: cover;
          }

          > .name {
            font-size: 2rem;
            font-weight: 600;
          }

          > .tag {
            font-size: 1.2rem;
          }

          > .text {
            padding: 0 0 0.5rem 1.5rem;

            &.tag {
              padding-bottom: 1rem;
            }
          }
        }
      }

      > .item-container {
        @include flex(column, center, center);
        width: 100%;
        height: 260px;

        > .item {
          width: 100%;
          height: 100%;
          @include flex(row, center, center);
          border-bottom: 1px solid #f2f2f2;

          &:nth-child(1) {
            border-top: 1px solid #f2f2f2;
          }

          > .text {
            width: 100%;
            @include flex(row, center, center, 1rem);
            border: 1.5px solid transparent;
            color: #222222;
            padding: 1rem 2rem;
            white-space: nowrap;
            cursor: pointer;

            &:hover {
              border: 1.5px solid #222222;
              border-radius: 0.5rem;
              font-weight: 700;
            }

            > .title {
              font-size: 1.22rem;
              font-weight: 500;
            }

            > .sub-text {
              font-size: 0.8rem;
              font-weight: 500;
              border: 1px solid #f6f6f6;
              border-radius: 0.3rem;
              background-color: #f6f6f6;
              color: #666666;
              padding: 0.2rem 0.4rem;
            }
          }
        }
      }
    }
  }
}

