<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/user/styles/myPage/modify-password.css" type="text/css">
    <script defer src="/user/scripts/myPage/modify-password.js" type="text/javascript"></script>
    <title>회원 비밀번호 수정</title>
</head>
<body>
<form id="modify-form">
    <div class="title-container">
        <h1>비밀번호 수정</h1>
    </div>
    <div class="content">
        <table>
            <thead>
            <tr>
                <th>회원 아이디</th>
                <th class="-spring"></th>
                <th th:text="${session.user.getUsId()}"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>새 비밀번호 설정</td>
                <td class="-spring"></td>
                <td>
                    <label class="--obj-label -border">
                        <input class="--obj-filed new-pass" required type="password" minlength="8" maxlength="20" autofocus name="password">
                    </label>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="button-container">
        <button class="cancel" type="button">취소</button>
        <button class="submit" type="submit">수정</button>
    </div>
</form>
</body>
</html>