<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/user/styles/myPage/reservation-cancel.css"
          type="text/css">
    <script defer src="/user/scripts/myPage/reservation-cancel.js"
             type="text/javascript"></script>
    <title>예매취소</title>
</head>
<body>
<div class="reservation-info">
    <div class="movie-info">
        <div class="detail">
            <table>
                <caption>관람정보</caption>
                <tbody>
                <tr>
                    <th>예매영화</th>
                    <td colspan="3">무파사-라이온 킹(자막,IMAX LASER 2D)</td>
                </tr>
                <tr>
                    <th>예매번호</th>
                    <td>03333333333333333333</td>
                    <th>관람일시</th>
                    <td>2024.12.25(수) 11:05</td>
                </tr>
                <tr>
                    <th>관람극장</th>
                    <td>CGV 대구</td>
                    <th>관람인원</th>
                    <td>1</td>
                </tr>
                </tbody>
            </table>

        </div>

        <div class="detail">
            <table style="padding-bottom: 2rem;">
                <caption>결제정보</caption>
                <tbody>
                <tr>
                    <th>결제일</th>
                    <td>2024.12.20(금)</td>
                    <th>결제금액</th>
                    <td style="padding: 0 3rem">20000원</td>
                </tr>
                <tr>
                    <th>결제수단</th>
                    <td colspan="4">신용카드:20,000원</td>
                </tr>
                </tbody>
            </table>
            <div class="button-container">
                <button class="cancel">예매취소</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>